<div class="py-4" nz-row [nzGutter]="24">
    <div
        class="font-medium"
        nz-col
        nzFlex="auto"
        [ngStyle]="{
            'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
        }">
        
        <div class="px-8 pt-6 pb-8 rounded-2xl bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark">
            <div class="flex items-center justify-between">
                <div class="font-bold text-lg" i18n>Token info</div>
                <button
                    nz-button
                    nzType="link"
                    class="wen-secondary"
                    (click)="wenOnTabChange.emit(stepTypes.METRICS)"
                    i18n
                >
                    Edit
                </button>
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Name
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.nameControl?.value }}
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Symbol
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.symbolControl?.value }}
            </div>
        </div>
        
        <div class="px-8 pt-6 pb-8 rounded-2xl bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark mt-6">
            <div class="flex items-center justify-between">
                <div class="font-bold text-lg" i18n>Token supply</div>
                <button
                    nz-button
                    nzType="link"
                    class="wen-secondary"
                    (click)="wenOnTabChange.emit(stepTypes.METRICS)"
                    i18n
                >
                    Edit
                </button>
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Price per token (MIOTAs)
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.priceControl?.value }}
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Total token supply
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.totalSupplyControl?.value }}
            </div>
        </div>
        
        <div class="flex items-center justify-between mt-10">
            <div class="font-bold text-lg" i18n>Token description</div>
            <button
                nz-button
                nzType="link"
                class="wen-secondary"
                (click)="wenOnTabChange.emit(stepTypes.OVERVIEW)"
                i18n
            >
                Edit
            </button>
        </div>
        
        <div *ngFor="let description of newService.descriptions?.controls"
            class="px-8 pt-6 pb-8 rounded-2xl bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark mt-6">
            <div class="text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Description title
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.gForm(description, 'title')?.value }}
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Description
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.gForm(description, 'description')?.value }}
            </div>
        </div>
        
        <div class="flex items-center justify-between mt-10">
            <div class="font-bold text-lg" i18n>Token allocation</div>
            <button
                nz-button
                nzType="link"
                class="wen-secondary"
                (click)="wenOnTabChange.emit(stepTypes.METRICS)"
                i18n
            >
                Edit
            </button>
        </div>
        
        <div *ngFor="let allocation of newService.allocations?.controls; let i = index"
            class="px-8 pt-6 pb-8 rounded-2xl bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark mt-6">

            <div class="font-bold text-lg">{{ getAllocationTitle(i+1) }}</div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Allocation title
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.gForm(allocation, 'title')?.value }}
            </div>

            <div class="mt-6 text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                % of tokens for sale (Default 100%)
            </div>

            <div class="mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
                {{ newService.gForm(allocation, 'percentage')?.value }}
            </div>

            <div *ngIf="newService.gForm(allocation, 'publicSale')?.value"
                class="flex items-center mt-6">
                    <div class="flex items-center justify-center w-5 h-5 rounded-full bg-alerts-success dark:bg-alerts-success-dark">
                        <wen-icon-check></wen-icon-check>
                    </div>
                    <div class="ml-2.5" i18n>Public sale</div>
            </div>
        </div>

        <button *ngIf="deviceService.isDesktop$ | async"
            nz-button nzType="primary" nzSize="large" class="w-full mt-12" (click)="wenOnSubmit.emit()" i18n>
                Submit token
        </button>
    </div>
    
    <div *ngIf="deviceService.isMobile$ | async" class="w-screen h-px bg-foregrounds-separator dark:bg-foregrounds-separator-dark my-8"></div>

    <div
        class="mt-4 space-y-4 lg:mt-0 lg:max-w-450"
        nz-col
        [nzFlex]="(deviceService.isDesktop$ | async) ? '450px' : 'auto'"
    >
        <nz-card i18n-nzTitle nzTitle="Space">
            <div class="flex items-center w-full lg:w-3/12 px-6 lg:px-0">
                <nz-avatar [nzSrc]="previewImageService.getAvatarSize('space_avatar_url')"
                  class="border-2 border-tags-border dark:border-tags-border-dark min-w-12"
                  nzShape="circle"
                  [nzSize]="48">
                </nz-avatar>
                <div class="text-foregrounds-primary dark:text-foregrounds-primary-dark font-bold text-2xl ml-4">{{ 'SoonLabs' }}</div>
            </div>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Token icon"
                i18n-nzDescription
                nzDescription="(Recomended size: 400 x 400px)"
                >
            </nz-card-meta>

            <nz-avatar [nzSrc]="previewImageService.getAvatarSize('space_avatar_url')"
                class="border-2 border-tags-border dark:border-tags-border-dark min-w-30 mt-6"
                nzShape="circle"
                [nzSize]="120">
            </nz-avatar>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Token price"
                i18n-nzDescription
                nzDescription="Distribution of the token happens after the token offering end date."
            >
            </nz-card-meta>

            <nz-form-item class="mt-6">
                <nz-form-control>
                    <nz-radio-group
                        class="wen-radio-group"
                        [formControl]="newService.distributionControl"
                    >
                        <wen-radio *ngFor="let opt of newService.distributionOptions" [value]="opt?.value || ''">
                            <span class="font-medium text-foregrounds-primary dark:text-foregrounds-primary-dark">{{ opt.label }}</span>
                        </wen-radio>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Breakdown"
                i18n-nzDescription
                nzDescription="Configure the token suply first to see breakdown."
            >
            </nz-card-meta>

            <div class="mt-6">
                <wen-description [items]="newService.breakdownData"></wen-description>
            </div>
        </nz-card>
    </div>
</div>

<button *ngIf="deviceService.isMobile$ | async"
    nz-button nzType="primary" nzSize="large" class="w-full mt-12" (click)="wenOnSubmit.emit()" i18n>
        Submit token
</button>