<div class="py-4" nz-row [nzGutter]="24">
    <div
        class="space-y-4"
        nz-col
        nzFlex="auto"
        [ngStyle]="{
            'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
        }"
        >
        <nz-card i18n-nzTitle nzTitle="Token info">
            <div class="space-y-4">
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Name is required."
                    >
                    <input
                        nz-input
                        i18n-placeholder
                        placeholder="Name"
                        nzSize="large"
                        [formControl]="newService.nameControl"
                    />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Symbol is required."
                    >
                    <input
                        nz-input
                        i18n-placeholder
                        placeholder="Symbol"
                        nzSize="large"
                        [formControl]="newService.symbolControl"
                    />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-card>

        <nz-card i18n-nzTitle nzTitle="Start date">
            <nz-form-item>
                <nz-form-control
                    i18n-nzErrorTip
                    nzErrorTip="Start date is required."
                >
                    <nz-date-picker
                    class="flex grow"
                    [nzDisabledDate]="newService.disabledStartDate.bind(this)"
                    nzSize="large"
                    [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 5, nzHideDisabledOptions: true }"
                    nzFormat="yyyy-MM-dd HH:mm"
                    [formControl]="newService.startDateControl"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Start date for the token offering"
                    >
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control
                    i18n-nzErrorTip
                    nzErrorTip="Offering length is required."
                >
                    <nz-select
                    class="w-full"
                    nzSize="large"
                    nzShowSearch
                    [nzCustomTemplate]="selectTpl"
                    nzAllowClear
                    [nzPlaceHolder]="placeholderTpl"
                    [formControl]="newService.offerLengthControl"
                    >
                        <nz-option
                            *ngFor="let opt of newService.offeringLengthOptions"
                            nzCustomContent
                            [nzLabel]="opt"
                            [nzValue]="opt"
                        >
                            {{ opt }}
                        </nz-option>
                    </nz-select>
                    <ng-template #placeholderTpl>
                        <div class="flex items-center space-x-4">
                            <wen-icon-time [size]="20" class="text-icons-primary dark:text-icons-primary-dark"></wen-icon-time>
                            <span i18n>Select token offering lenght (Default 2 days)</span>
                        </div>
                    </ng-template>
                    <ng-template #selectTpl let-s>
                        <div class="flex items-center space-x-4">
                            <wen-icon-time [size]="20" class="text-icons-primary dark:text-icons-primary-dark"></wen-icon-time>
                            <span>{{ s.nzLabel }}</span>
                        </div>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>
        </nz-card>

        <nz-card i18n-nzTitle nzTitle="Token supply">
            <div class="space-y-4">
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Price is required."
                    >
                        <input
                            nz-input
                            i18n-placeholder
                            placeholder="Price per token (MIOTAs)"
                            nzSize="large"
                            [formControl]="newService.priceControl"
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Total supply is required."
                    >
                        <input
                            nz-input
                            i18n-placeholder
                            placeholder="Total token supply"
                            nzSize="large"
                            [formControl]="newService.totalSupplyControl"
                        />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-card>

        <div class="text-xl font-bold mt-16" i18n>Token allocation</div>

        <nz-card *ngFor="let allocation of newService.allocations?.controls; let i = index; let first = first; let last = last"
            [nzTitle]="newService.getAllocationTitle(i+1)" class="relative">
            <wen-icon-trash
                *ngIf="!first"
                class="absolute top-6 right-8 cursor-pointer text-icons-destructive dark:text-icons-destructive-dark"
                (click)="newService.removeAllocation(i)"
            ></wen-icon-trash>
            <div class="lg:pt-4">
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Total supply is required."
                    >
                        <input
                        nz-input
                        i18n-placeholder
                        placeholder="Allocation title"
                        nzSize="large"
                        [formControl]="newService.gForm(allocation, 'title')"
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <nz-form-control
                        i18n-nzErrorTip
                        nzErrorTip="Percentage of tokens is required."
                    >
                        <input
                            nz-input
                            i18n-placeholder
                            placeholder="% of tokens for sale (Default 100%)"
                            nzSize="large"
                            [formControl]="newService.gForm(allocation, 'percentage')"
                        />
                    </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                    <label nz-checkbox [formControl]="newService.gForm(allocation, 'publicSale')">
                        <div class="flex items-center">
                            <div class="font-medium mr-2.5" i18n>
                                Public sale
                            </div>
                            <i
                                nz-icon
                                nzType="question-circle"
                                class="cursor-pointer text-icons-secondary dark:text-icons-secondary-dark"
                                nz-tooltip
                                nzTooltipTitle="Some tooltip IDK"
                            ></i>
                        </div>
                    </label>
                </nz-form-item>

                <div *ngIf="!last" class="mt-2 mb-5 w-full h-px bg-foregrounds-separator dark:bg-foregrounds-separator-dark"></div>
                </div>

                <button
                    nz-button
                    *ngIf="((newService.allocations?.controls?.length || 0) < newService.maxAllocationsCount) && last"
                    nzType="link"
                    class="flex items-center mt-3 wen-secondary pl-0"
                    (click)="newService.addAllocation()"
                    >
                    <wen-icon-plus class="mr-0.5"></wen-icon-plus>
                    <span i18n>Add allocation</span>
                </button>
            </nz-card>
        </div>

        <div
            class="mt-4 space-y-4 lg:mt-0 lg:max-w-450"
            nz-col
            [nzFlex]="(deviceService.isDesktop$ | async) ? '450px' : 'auto'"
        >
        <nz-card i18n-nzTitle nzTitle="Space Info">
            <nz-form-item>
                <wen-select-space
                    class="block w-full"
                    [includeDefaultSpace]="false"
                    [formControl]="newService.spaceControl"
                    [spaces]="newService.getSpaceListOptions(newService.spaces$ | async)"
                    size="large"
                >
                </wen-select-space>
            </nz-form-item>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Token icon"
                i18n-nzDescription
                nzDescription="(Recomended size: 400 x 400px)"
                >
            </nz-card-meta>

            <div class="mt-6">
                <nz-form-item>
                    <nz-form-control
                        [nzValidateStatus]="newService.iconControl"
                        i18n-nzErrorTip
                        nzErrorTip="Icon is mandatory"
                    >
                    <nz-upload
                        class="wen-icon-uploader"
                        nzName="icon"
                        nzListType="picture-card"
                        [nzDirectory]="false"
                        nzType="drag"
                        [nzLimit]="1"
                        [nzCustomRequest]="newService.uploadFile.bind(this, 'token_icon')"
                        (nzChange)="newService.uploadChangeIcon($event)"
                        nzFileType="image/png,image/jpeg"
                        [nzShowUploadList]="true"
                        [nzShowUploadList]="{ showPreviewIcon: false, showRemoveIcon: true, showDownloadIcon: false }"
                    >
                        <ng-container>
                            <i class="upload-icon" nz-icon nzType="upload"></i
                            ><span class="pl-2 text-xs">jpeg/png</span>
                        </ng-container>
                    </nz-upload>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Space"
                i18n-nzDescription
                nzDescription="Distribution of the token happens after the token offering end date."
            >
            </nz-card-meta>

            <nz-form-item class="mt-6">
                <nz-form-control>
                    <nz-radio-group
                        class="wen-radio-group"
                        [formControl]="newService.distributionControl"
                    >
                        <wen-radio *ngFor="let opt of newService.distributionOptions" [value]="opt.value">
                            <span class="font-medium text-foregrounds-primary dark:text-foregrounds-primary-dark">{{ opt.label }}</span>
                        </wen-radio>
                    </nz-radio-group>
                </nz-form-control>
            </nz-form-item>
        </nz-card>

        <nz-card>
            <nz-card-meta
                i18n-nzTitle
                nzTitle="Breakdown"
                i18n-nzDescription
                nzDescription="Configure the token suply first to see breakdown."
            >
            </nz-card-meta>

            <div class="mt-6">
                <wen-description [items]="newService.breakdownData"></wen-description>
            </div>
        </nz-card>
    </div>
</div>