<nz-modal *ngIf="deviceService.isDesktop$ | async"
    [(nzVisible)]="isOpen"
    nzCentered
    [nzClosable]="false"
    [nzMaskClosable]="true"
    [nzMask]="true"
    (nzOnCancel)="close()"
    [nzContent]="nftCheckoutModalContent"
    [nzFooter]="null"
    [nzBodyStyle]="{ padding: '28px 24px 24px 24px' }"
    [nzWidth]="760"
    >
    <ng-template #nftCheckoutModalContent>
        <div class="flex items-start justify-between">
            <div class="text-2xl font-bold" i18n>Checkout</div>
            <wen-icon-close class="cursor-pointer" (click)="close()"></wen-icon-close>
        </div>

        <ng-container *ngTemplateOutlet="content"></ng-container>
    </ng-template>
</nz-modal>

<nz-drawer *ngIf="deviceService.isMobile$ | async"
    [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
    [nzWidth]="'100vw'" #drawer
    [nzClosable]="false"
    [nzVisible]="isOpen">
    <div *nzDrawerContent class="relative min-h-full h-max">
        <div class="pb-4 text-3xl font-bold" i18n>Checkout</div>
        <button class="absolute right-0 z-10 top-1" (click)="close()">
            <wen-icon-close></wen-icon-close>
        </button>

        <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
</nz-drawer>

<ng-template #content>
    <div class="flex flex-col mt-12 lg:flex-row lg:mt-6">
        <div class="relative w-full lg:w-72 lg:w-overflow-hidden">
            <img
                alt="NFT image"
                [src]="getRecord()?.media || '/assets/mocks/no_banner.jpg'"
                class="object-cover w-full h-full rounded-2xl"
            />
        </div>
        <div class="mt-8 lg:ml-8 lg:mt-0 ">
            <div class="relative flex flex-col w-full h-full">
                <h3 class="mb-1 text-2xl font-bold truncate">{{ getTitle() }}</h3>
                <div class="text-xl font-medium">{{ collection?.name }}</div>

                <!-- <div class="flex items-center mt-6">
                    <wen-icon-time class="mr-2.5 text-app-gray-400" [size]="20"></wen-icon-time>
                    <div class="font-medium">2 hours left</div>
                </div> -->
                <div class="flex items-center mt-2.5">
                    <wen-icon-crown class="mr-2.5 text-app-gray-400" [size]="20"></wen-icon-crown>
                    <div class="font-medium">{{((collection?.royaltiesFee || 0) * 100)}}% Royalties</div>
                    <wen-icon-question-circle
                        [size]="20"
                        class="ml-1.5 text-app-gray-400"
                        nz-tooltip
                        i18n-nzTooltipTitle
                        nzTooltipTitle="Royalties are automatically deducted and paid to artists."
                    ></wen-icon-question-circle>
                </div>

                <div class="px-5 py-3 mt-8 lg:mt-auto bg-bg-background rounded-2xl w-max">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Total price</div>
                    <div class="flex items-center mt-2 text-lg" *ngIf="discount() < 1">
                        <div class="mr-2 font-bold line-through text-foregrounds-tertiary">{{ formatBest(getRecord()?.price || 0) }}</div>
                        <div class="mr-2 font-bold truncate">{{ formatBest(calc(getRecord()?.price || 0, discount())) }}</div>
                        <!-- <div class="font-medium truncate text-foregrounds-secondary">({{ '$72' }})</div> -->
                    </div>
                    <div class="flex items-center mt-2 text-lg" *ngIf="discount() === 1">
                      <div class="mr-2 font-bold truncate">{{ formatBest(getRecord()?.price || 0) }}</div>
                      <!-- <div class="font-medium truncate text-foregrounds-secondary">({{ '$72' }})</div> -->
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div [ngSwitch]="currentStep" class="w-full">
        <ng-container *ngSwitchCase="stepType.CONFIRM">
            <ng-container *ngTemplateOutlet="confirmTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.TRANSACTION">
            <ng-container *ngTemplateOutlet="transactionTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.WAIT">
            <ng-container *ngTemplateOutlet="waitTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.COMPLETE">
            <ng-container *ngTemplateOutlet="completeTemplate"></ng-container>
        </ng-container>
    </div>
</ng-template>


<ng-template #confirmTemplate>
    <div class="flex flex-col justify-between h-full mt-10 lg:items-center lg:justify-start">
        <label class="w-full lg:ml-6 lg:w-auto" nz-checkbox [nzValue]="agreeTermsConditions" (nzCheckedChange)="agreeTermsConditions = $event">
            <div class="text-base font-medium">
                <span class="text-app-gray-text mr-0.5" i18n>By checking this box, you agree with</span>
                <br *ngIf="deviceService.isMobile$ | async" />
                <a href="https://docs.google.com/document/d/1ng67fXTdINhmgkLpnbS_SkiDlZSsDAqrd13cbwXQCcQ" target="_new" class="inline underline text-blue-light1"
                    (click)="$event.stopPropagation()" i18n>Terms and Conditions</a>
            </div>
        </label>

        <button nz-button nzType="primary" nzSize="large" class="w-full mt-6 lg:w-auto"
            [disabled]="!agreeTermsConditions" i18n (click)="proceedWithOrder()">
                Confirm and Lock
        </button>

        <div class="mt-4 text-xs font-medium text-foregrounds-secondary" i18n>
            Adress of your desired NTF will be locked for you for {{lockTime}} minutes.
        </div>
    </div>
</ng-template>

<ng-template #transactionTemplate>
    <div class="flex flex-col items-center justify-between h-full mt-10 lg:justify-start">
        <div class="px-4 py-2.5 rounded-2xl border border-alerts-error flex">
            <wen-icon-stopwatch class="mr-2 lg:mr-3"></wen-icon-stopwatch>
            <div class="text-base font-medium">
                <span *ngIf="!isExpired((transaction$ | async))">{{(expiryTicker$ | async) | countdownTime}}</span>
                <span class="text-alerts-error" *ngIf="!isExpired((transaction$ | async))" i18n> remaining to make the transfer.</span>
                <span class="text-alerts-error" *ngIf="isExpired((transaction$ | async))">Expired</span>
            </div>
        </div>

        <nz-alert class="mt-2" nzType="warning" nzShowIcon *ngIf="!isExpired((transaction$ | async)) && invalidPayment" nzMessage="We received invalid payment. Try again."></nz-alert>

        <div class="w-full px-4 py-3 mt-16bg-bg-background rounded-2xl" *ngIf="!isExpired((transaction$ | async))">
            <div class="text-xs font-medium text-app-gray-400" i18n>
                Send {{formatBest((transaction$ | async)?.payload?.amount) }} IOTA to following address:
            </div>

            <div class="flex flex-wrap items-center justify-between mt-2">
                <div class="text-base font-medium break-all">
                    {{ targetAddress }}
                </div>

                <button nz-button nzBlock nzSize="small" class="w-16 mt-4 lg:mt-0" (click)="copyAddress()" i18n>
                    {{ isCopied ? 'Copied' : 'Copy' }}
                </button>
            </div>
        </div>

        <div class="flex flex-col items-center justify-center w-full mt-8 lg:flex-row lg:w-auto" *ngIf="!isExpired((transaction$ | async))">
            <a nz-button nzSize="large" [href]="fireflyDeepLink()" [disabled]="!fireflyDeepLink()"
                class="deep-link">
                <div class="flex items-center">
                    <img src="/assets/logos/firefly.svg" alt="Firefly logo" class="mr-2">
                    <div class="text-app-gray-text" i18n>
                        Firefly
                    </div>
                </div>
            </a>
            <a nz-button nzSize="large" [disabled]="!tanglePayDeepLink()" [href]="tanglePayDeepLink()"
                class="deep-link">
                <div class="flex items-center">
                    <img src="/assets/logos/tanglepay.svg" alt="Tanglepay logo" class="mr-2">
                    <div class="text-app-gray-text" i18n>
                        Tanglepay
                    </div>
                </div>
              </a>
        </div>
    </div>
</ng-template>

<ng-template #waitTemplate>
    <div class="flex flex-col items-center justify-between h-full lg:justify-start">
        <div class="w-full my-8 border border-app-gray-200 rounded-2xl">
            <div class="px-5 pt-3 pb-2 text-sm font-bold border-b" i18n>
                Transaction history
            </div>

            <div class="h-32 px-5 pt-4 pb-2">
                <div *ngFor="let t of history; let first=first"
                    class="relative flex items-center my-1">
                        <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{t.date | Time}}</div>
                        <a class="absolute text-sm font-medium underline left-16 text-blue-light1" target="_blank" *ngIf="t.link" [href]="getExplorerLink(t.link)"
                        >{{ t.label }}</a>
                        <div class="absolute text-sm font-medium left-16" *ngIf="!t.link">{{ t.label }}</div>
                </div>
            </div>
        </div>

        <button nz-button nzSize="large" class="flex items-center border-app-gray-200">
            <wen-icon-refresh class="mr-3 text-app-gray-400 animate-spin" ></wen-icon-refresh>
            <div class="text-app-gray-text" i18n i18n>
              {{ 'Validating your transaction...' }}
            </div>
        </button>
    </div>
</ng-template>

<ng-template #completeTemplate>
    <div class="flex flex-col items-center justify-between h-full mt-10 lg:justify-start">
        <div class="w-full my-8 border border-app-gray-200 rounded-2xl">
            <div class="px-5 pt-3 pb-2 text-sm font-bold border-b" i18n>
                Transaction history
            </div>

            <div class="h-32 px-5 pt-4 pb-2">
                <div *ngFor="let t of history; let first=first"
                    class="relative flex items-center my-1">
                        <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{t.date | Time}}</div>
                        <a class="absolute text-sm font-medium underline left-16 text-blue-light1" target="_blank" *ngIf="t.link" [href]="getExplorerLink(t.link)"
                        >{{ t.label }}</a>
                        <div class="absolute text-sm font-medium left-16" *ngIf="!t.link">{{ t.label }}</div>
                </div>
            </div>
        </div>

        <div class="flex lg:items-center">
            <div class="flex items-center justify-center w-10 h-10 rounded-full bg-green-success">
                <wen-icon-check class="text-white"></wen-icon-check>
            </div>
            <div class="ml-3.5 text-lg font-medium" i18n>Transaction complete. Congratulations.</div>
        </div>

        <div class="flex items-center w-full mt-8 lg:w-auto">
            <button nz-button nzType="primary"
                nzSize="large" class="w-full lg:mr-4" i18n (click)="close()">
                Close checkout
            </button>

            <button nz-button nzType="link" (click)="goToNft()"
                nzSize="small" class="w-full mb-6 lg:mb-0" i18n (click)="null">
                Show my NFT
            </button>
        </div>
    </div>
</ng-template>

<ng-template #notCompletedNotification>
    <div class="flex">
        <wen-icon-alert-octagon class="text-alerts-warning mr-3.5" [size]="20"></wen-icon-alert-octagon>
        <div>
            <div class="font-bold w-4/5" i18n>Purchase has not been completed</div>
            <div class="text-xs font-medium text-foregrounds-secondary mt-2">
                You have <span class="text-alerts-error">{{ 4 }} minutes</span> to finish your transaction
            </div>
            <button nz-button nzType="primary" nzSize="small" class="mt-5" i18n>Open Checkout</button>
        </div>
    </div>
</ng-template>
