<div class="space-y-12">
  <div class="space-y-4" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">
    <div class="inline-flex justify-between w-full">
      <div *ngIf="data.isGuardianWithinSpace$ | async">
        <nz-tag nzMode="checkable" [nzChecked]="selectedListControl?.value === filterOptions.ACTIVE"
                (nzCheckedChange)="handleFilterChange(filterOptions.ACTIVE)">
          Active
        </nz-tag>
        <nz-tag nzMode="checkable"
                *ngIf="!(data.space$ | async)?.open"
                [nzChecked]="selectedListControl?.value === filterOptions.PENDING"
                (nzCheckedChange)="handleFilterChange(filterOptions.PENDING)">
          {{'Pending' + (data.getPendingMembersCount(data.pendingMembers$ | async) > 0 ? '*' : '')}}
        </nz-tag>
        <nz-tag nzMode="checkable" [nzChecked]="selectedListControl?.value === filterOptions.BLOCKED"
                (nzCheckedChange)="handleFilterChange(filterOptions.BLOCKED)">
          Blocked
        </nz-tag>
      </div>
    </div>

    <!-- TODO Loading. -->
    <div *ngIf="data.isLoading(getList() | async)">Loading...</div>

    <nz-card class="w-full" *ngIf="data.isEmpty((getList() | async))">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Members
        </span>
      </div>
    </nz-card>

    <wen-member-card class="block" [fullWidth]="true"
      [role]="memberIsGuardian(member.uid) && isActiveList() ? 'Guardian' : 'Member'"
      *ngFor="let member of getList() | async; trackBy: trackByUid" [member]="member">

      <!-- TODO show button only when there is any option available -->
      <button nz-button *ngIf="data.isGuardianWithinSpace$ | async"
        class="float-right wen-secondary" nzShape="circle"
        nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight">
          <wen-icon-more></wen-icon-more>
        </button>

      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <ng-container *ngIf="memberIsGuardian(member.uid) && isActiveList()">
            <li nz-menu-item (click)="removeGuardian(member.uid)" >
              Remove
              Guardian</li>
          </ng-container>
          <ng-container *ngIf="!memberIsGuardian(member.uid) && isActiveList()">
            <li nz-menu-item (click)="setGuardian(member.uid)">Make
              Guardian</li>
          </ng-container>

          <li nz-menu-item (click)="acceptMember(member.uid)"
            *ngIf="isPendingList()">Accept Member</li>

          <!-- <li nz-menu-item (click)="rejectMember(member.uid)"
            *ngIf="isPendingList()">Ignore Member</li> -->

          <li nz-menu-item nzDanger (click)="blockMember(member.uid)"
            *ngIf="(isActiveList() || isPendingList())">
            Block Member</li>

          <li nz-menu-item (click)="unblockMember(member.uid)"
            *ngIf="isBlockedList()">Unblock Member</li>

        </ul>
      </nz-dropdown-menu>
    </wen-member-card>
  </div>
</div>
