<div class="w-full p-4 rounded-xl" [ngClass]="wrapperClassName"
    *ngIf="data.getCountdownDate(data.nft$ | async)">
    <div class="flex" [ngClass]="{
            'items-center': size === 'large'
        }">
        <wen-icon-time class="text-icons-secondary dark:text-icons-secondary mt-1"></wen-icon-time>
        <div class="ml-2.5 grow" [ngClass]="{
                'flex items-center': size === 'large'
            }">
            <div class="font-bold" i18n>{{ getCountdownTitle(data.nft$ | async) }}</div>
            <div class="font-medium" [ngClass]="{
                    'ml-auto': size === 'large'
                }">
                    {{ data.getCountdownDate(data.nft$ | async)?.toDate() | date:'long'}}
            </div>
        </div>
    </div>

    <div class="flex items-center justify-between w-full mt-4 space-x-2">
        <div class="flex items-center justify-center grow py-3 font-bold rounded-2xl"
            [ngClass]="tabClassName" *ngIf="data.getCountdownDays(data.nft$ | async) > 0">
            <div>
                {{data.getCountdownDays(data.nft$ | async)}}
            </div>
            <div *ngIf="size === 'small'" i18n>d</div>
            <div *ngIf="size === 'large'" class="ml-1" i18n>days</div>
        </div>
        <div class="flex items-center justify-center grow py-3 font-bold rounded-2xl"
            [ngClass]="tabClassName">
            <div>
                {{data.getCountdownHours(data.nft$ | async)}}
            </div>
            <div *ngIf="size === 'small'" i18n>h</div>
            <div *ngIf="size === 'large'" class="ml-1" i18n>hours</div>
        </div>
        <div class="flex items-center justify-center grow py-3 font-bold rounded-2xl"
            [ngClass]="tabClassName">
            <div>
                {{data.getCountdownMin(data.nft$ | async)}}
            </div>
            <div *ngIf="size === 'small'" i18n>m</div>
            <div *ngIf="size === 'large'" class="ml-1" i18n>min</div>
        </div>
        <div class="flex items-center justify-center grow py-3 font-bold rounded-2xl"
            [ngClass]="tabClassName">
            <div>
                {{data.getCountdownSec(data.nft$ | async)}}
            </div>
            <div *ngIf="size === 'small'" i18n>s</div>
            <div *ngIf="size === 'large'" class="ml-1" i18n>sec</div>
        </div>
    </div>
</div>