<wen-modal-drawer
    [isOpen]="isOpen"
    [content]="content"
    (wenOnClose)="close()">
</wen-modal-drawer>

<ng-template #content>
    <div class="text-lg font-bold mb-6" i18n>
        Public sale info
    </div>

    <nz-form-item class="mb-6">
        <nz-form-control
            i18n-nzErrorTip
            nzErrorTip="Start date is required."
        >
            <nz-date-picker
                class="flex grow"
                [nzDisabledDate]="disabledStartDate.bind(this)"
                nzSize="large"
                [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 5, nzHideDisabledOptions: true }"
                nzFormat="yyyy-MM-dd HH:mm"
                [formControl]="startDateControl"
                i18n-nzPlaceHolder
                nzPlaceHolder="Start date for the token offering"
            >
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mb-10">
        <nz-form-control
            i18n-nzErrorTip
            nzErrorTip="Offering length is required."
        >
            <nz-select
                class="w-full"
                nzSize="large"
                nzShowSearch
                [nzCustomTemplate]="selectTpl"
                nzAllowClear
                [nzPlaceHolder]="placeholderTpl"
                [formControl]="offerLengthControl"
            >
                <nz-option
                    *ngFor="let opt of offeringLengthOptions"
                    nzCustomContent
                    [nzLabel]="opt"
                    [nzValue]="opt"
                >
                {{ opt }}
                </nz-option>
            </nz-select>
            <ng-template #placeholderTpl>
                <div class="flex items-center space-x-4">
                    <wen-icon-time [size]="20" class="text-icons-primary dark:text-icons-primary-dark"></wen-icon-time>
                    <span i18n>Select token offering lenght (Default 2 days)</span>
                </div>
            </ng-template>
            <ng-template #selectTpl let-s>
                <div class="flex items-center space-x-4">
                    <wen-icon-time [size]="20" class="text-icons-primary dark:text-icons-primary-dark"></wen-icon-time>
                    <span>{{ s.nzLabel }}</span>
                </div>
            </ng-template>
        </nz-form-control>
    </nz-form-item>

    <div class="text-lg font-bold mb-6" i18n>
        Token allocation info
    </div>

    <wen-description [items]="[
        { title: allocationInfoLabels[0], value: formatBest(token?.pricePerToken) },
        { title: allocationInfoLabels[1], value: publicAllocation(token?.allocations)?.percentage + '%', extraValue: '(' + percentageMarketCap() + ')' }
    ]"></wen-description>

    <div class="flex items-center justify-center mt-10">
        <button nz-button nzType="primary"
            nzSize="large" class="w-full lg:w-auto" (click)="scheduleSale()" i18n>
                Confirm and schedule sale
        </button>
    </div>
</ng-template>
