<label class="w-full lg:w-auto" nz-checkbox [nzValue]="isChecked" (nzCheckedChange)="onChange($event)">
    <div class="text-base font-medium">
        <span class="text-foregrounds-primary dark:text-foregrounds-primary-dark mr-0.5">{{ label }}</span>
        <br *ngIf="deviceService.isMobile$ | async" />
        <a [href]="documentLink" target="_new" class="inline underline text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark"
            (click)="$event.stopPropagation()">{{ linkLabel }}</a>
    </div>
</label>