<nz-tag class="wen-status-tag bg-tags-available dark:bg-tags-available-dark border-tags-available dark:border-tags-available-dark" *ngIf="isPending()" i18n>Pending
</nz-tag>
<nz-tag class="wen-status-tag bg-tags-closed dark:bg-tags-closed-dark border-tags-closed dark:border-tags-closed-dark" *ngIf="proposal?.rejected" i18n>Rejected
</nz-tag>
<nz-tag class="wen-status-tag bg-inputs-border-focus dark:bg-inputs-border-focus-dark border-inputs-border-focus dark:border-inputs-border-focus-dark" *ngIf="isCommencing()" i18n>Commencing
</nz-tag>
<nz-tag class="wen-status-tag bg-tags-commencing dark:bg-tags-commencing-dark border-tags-commencing dark:border-tags-commencing-dark" *ngIf="isInProgress()" i18n>
  In-Progress</nz-tag>
<nz-tag class="wen-status-tag bg-tags-available dark:bg-tags-available-dark border-tags-closed dark:border-tags-closed-dark" *ngIf="isComplete()" i18n>Completed
</nz-tag>
