<nz-tag class="wen-status-tag bg-tag-green border-tag-green" *ngIf="!proposal?.approved && !proposal?.rejected">Pending
</nz-tag>
<nz-tag class="wen-status-tag bg-tag-red border-tag-red" *ngIf="proposal?.rejected">Rejected
</nz-tag>
<nz-tag class="wen-status-tag bg-tag-orange border-tag-orange" *ngIf="isPending()">Pending
</nz-tag>
<nz-tag class="wen-status-tag bg-tag-blue border-tag-blue" *ngIf="isInProgress()">
  In-Progress</nz-tag>
<nz-tag class="wen-status-tag bg-tag-green border-tag-green" *ngIf="isComplete()">Completed
</nz-tag>
