<article class="w-full bg-white rounded-2xl wen-card" 
    [ngClass]="fullWidth ? 'w-auto' : 'min-w-40 lg:min-w-60 w-40 lg:w-60'" *ngIf="true">
    <a class="text-current hover:text-current" [routerLink]="['/', this.path, '123']">
        <div class="relative w-full overflow-hidden h-44 rounded-2xl">
            <img
            alt="NFT image"
            [src]="'https://i.guim.co.uk/img/media/ef8492feb3715ed4de705727d9f513c168a8b196/37_0_1125_675/master/1125.jpg?width=1200&height=1200&quality=85&auto=format&fit=crop&s=d456a2af571d980d8b2985472c262b31' || '/assets/mocks/no_banner.jpg'"
            class="object-cover w-full h-full"
            />
            
            <div class="absolute left-3 bottom-3 bg-bg-background rounded-lg flex items-center px-2.5 py-2"
                *ngIf="true && (deviceService.isMobile$ | async)">
                    <wen-icon-time class="text-app-gray-400 mr-3"></wen-icon-time>
                    <div class="text-xs font-medium">2 hours left</div>
            </div>
        </div>

        <div class="relative flex flex-col w-full px-4 py-3 lg:py-4">
            <h3 class="text-base lg:text-lg font-bold truncate mb-1">{{ 'BOT#12213' }}</h3>

            <p class="flex-grow flex-shrink min-h-0 mt-1 overflow-hidden text-xs lg:text-base font-medium"
                [ngClass]="{ 'text-foregrounds-secondary': fullWidth }">
                {{ 'asdasd' | stripMarkdown | truncate:[16]}}</p>

            <div class="flex items-center mt-6">
                <wen-icon-dollar class="text-app-gray-400 mr-3"></wen-icon-dollar>
                <div class="text-xs font-medium">100 Mi</div>

                <button *ngIf="false && (deviceService.isDesktop$ | async)" nz-button nzType="primary"
                    class="ml-auto" i18n>Buy now</button>
            </div>
            
            <div class="flex items-center mt-2" *ngIf="true && (deviceService.isDesktop$ | async)">
                <wen-icon-time class="text-app-gray-400 mr-3"></wen-icon-time>
                <div class="text-xs font-medium">2 hours left</div>
            </div>

            <button *ngIf="false && (deviceService.isMobile$ | async)" nz-button nzType="primary"
                class="mt-2 w-4/5" i18n>Buy now</button>
        </div>
    </a>
</article>
