<article class="bg-white w-75 h-75 rounded-2xl" [ngClass]="fullWidth ? 'w-auto h-auto' : 'w-75 h-75'" *ngIf="award">
  <div class="relative flex flex-col w-full p-4">

    <!-- This will not work. There can be multiple owners of the award. -->
    <!-- <wen-parent-title image="/assets/mocks/default_avatar.jpg" [text]="award.createdBy"></wen-parent-title> -->

    <h3 class="mt-2 mb-3 text-lg font-bold truncate">{{ award.name || award.uid }}</h3>

    <div class="inline-flex items-center space-x-3">
      <!-- TODO show badge-tile -->
      <div>{{ award.badge.name}}</div>
      <div>{{ award.badge.xp}}XP</div>
    </div>

    <div i18n class="inline-flex gap-2">
      <wen-award-status [type]="award.type"></wen-award-status>
      <wen-date-tag [date]="award.endDate.toDate()"></wen-date-tag>
    </div>
  </div>
</article>

