a.ant-btn {
  -webkit-appearance: none;
}

.ant-dropdown-trigger > .anticon.anticon-down,
.ant-dropdown-link > .anticon.anticon-down,
.ant-dropdown-button > .anticon.anticon-down {
  font-size: @font-size-lg;
  vertical-align: baseline;
}

.ant-dropdown-menu-item:hover,
.ant-dropdown-menu-submenu-title:hover {
  background-color: @select-item-active-bg;
}

.ant-btn > .anticon {
  vertical-align: baseline;
}

.ant-btn-primary:focus {
  background-color: @btn-pressed-bg;
  border-color: @btn-pressed-bg;
}

.ant-btn {
  font-size: @font-size-lg;
}

.ant-btn-lg {
  border-radius: @border-radius-lg;
}

.ant-btn-dangerous {
  border-color: transparent;
}

.wen-secondary {
  @apply text-app-gray-text hover:border-orange;

  &:active,
  &:focus {
    @apply bg-orange border-orange text-white;

    path {
      stroke: white;
    }
  }

  &.selected {
    @apply bg-orange border-orange text-white;
  }
}



// sort by button
.wen-sort-button {
  .ant-select-selector {
    border: none !important;
  }

  .ant-select-selection-item {
    justify-content: space-between;
    display: flex;
    align-items: center;
  }
}

.wen-back-button {
  @apply inline-flex px-6 font-semibold bg-white border-white place-items-center hover:text-blue-hover hover:border-white focus:border-white focus:text-blue-pressed rounded-3xl;
}

.ant-select-dropdown {
  .cdk-virtual-scroll-viewport {
    min-height: 100px;
  }
}

.wen-header-button {
  @apply text-app-gray-text hover:border-orange border border-solid hover:text-app-gray-text;

  outline: @input-hover-border-color;

  &:focus {
    @apply border-orange text-app-gray-text;

    outline: 1px solid @input-hover-border-color;
  }
}

.isMember {
  .wen-header-button {
    @apply bg-bg-background hover:bg-bg-background;
  }
}

.ant-popover-inner-content {
  @apply text-black font-medium text-xs leading-4 px-2 py-1;
}

.ant-btn-sm {
  @apply text-sm;
}
