<div class="w-full overflow-x-auto pb-4 lg:pb-0">
    <div class="flex items-start justify-between relative mt-10 min-w-120">
        <div class="flex flex-col items-center ml-6" (click)="currentStep = stepType.GENERATE">
            <div #generateCheckbox class="rounded-full w-6 h-6 flex items-center justify-center text-xs font-bold"
                [ngClass]="{
                    'text-white bg-orange': currentStep === stepType.GENERATE,
                    'text-white bg-tag-black': currentStep === stepType.TRANSACTION ||
                        currentStep === stepType.WAIT || currentStep === stepType.CONFIRMED
                }">
                1
            </div>
            <div class="text-sm font-bold mt-1 text-center" i18n>Generate address</div>
        </div>
    
        <div class="bg-app-gray-separator-dark h-0.5 absolute top-3"
            [ngStyle]="{
                'left' : (generateCheckbox.offsetLeft + generateCheckbox.offsetWidth + 8) + 'px',
                'width' : (transactionCheckbox.offsetLeft - generateCheckbox.offsetLeft - 40) + 'px'
            }" [ngClass]="{ 'opacity-50': currentStep === stepType.GENERATE }"></div>
        
        <div class="flex flex-col items-center" (click)="currentStep = stepType.TRANSACTION">
            <div #transactionCheckbox class="rounded-full w-6 h-6 flex items-center justify-center text-xs font-bold"
                [ngClass]="{
                    'text-app-gray-text opacity-50 border border-app-gray-200': currentStep === stepType.GENERATE,
                    'text-white bg-orange': currentStep === stepType.TRANSACTION,
                    'text-white bg-tag-black': currentStep === stepType.WAIT || currentStep === stepType.CONFIRMED
                }">
                2
            </div>
            <div class="text-sm font-bold mt-1 text-center" i18n
                [ngClass]="{
                    'opacity-50': currentStep === stepType.GENERATE
                }">Make transaction</div>
        </div>
    
        <div class="bg-app-gray-separator-dark h-0.5 absolute top-3" 
            [ngStyle]="{
                'left' : (transactionCheckbox.offsetLeft + transactionCheckbox.offsetWidth + 8) + 'px',
                'width' : (waitCheckbox.offsetLeft - transactionCheckbox.offsetLeft - 40) + 'px'
            }" [ngClass]="{ 'opacity-50': currentStep === stepType.GENERATE || currentStep === stepType.TRANSACTION }"></div>
        
        <div class="flex flex-col items-center" (click)="currentStep = stepType.WAIT">
            <div #waitCheckbox class="rounded-full w-6 h-6 flex items-center justify-center text-xs font-bold"
                [ngClass]="{
                    'text-app-gray-text opacity-50 border border-app-gray-200':
                        currentStep === stepType.GENERATE || currentStep === stepType.TRANSACTION,
                    'text-white bg-orange': currentStep === stepType.WAIT,
                    'text-white bg-tag-black': currentStep === stepType.CONFIRMED
                }">
                3
            </div>
            <div class="text-sm font-bold mt-1 text-center" i18n
                [ngClass]="{
                    'opacity-50': currentStep === stepType.GENERATE || currentStep === stepType.TRANSACTION
                }">Wait for confirmation</div>
        </div>
    
        <div class="bg-app-gray-separator-dark opacity-50 h-0.5 absolute top-3" 
            [ngStyle]="{
                'left' : (waitCheckbox.offsetLeft + waitCheckbox.offsetWidth + 8) + 'px',
                'width' : (confirmedCheckbox.offsetLeft - waitCheckbox.offsetLeft - 40) + 'px'
            }" [ngClass]="{ 'opacity-50': currentStep === stepType.GENERATE ||
                currentStep === stepType.TRANSACTION || currentStep === stepType.WAIT}"></div>
        
        <div class="flex flex-col items-center mr-6" (click)="currentStep = stepType.CONFIRMED">
            <div #confirmedCheckbox class="rounded-full w-6 h-6 flex items-center justify-center text-xs font-bold"
                [ngClass]="{
                    'text-app-gray-text opacity-50 border border-app-gray-200': currentStep === stepType.GENERATE ||
                        currentStep === stepType.TRANSACTION || currentStep === stepType.WAIT,
                    'text-white bg-green-success': currentStep === stepType.CONFIRMED
                }">
                <wen-icon-check></wen-icon-check>
            </div>
            <div class="text-sm font-bold mt-1 text-center" i18n
                [ngClass]="{
                    'opacity-50': currentStep === stepType.GENERATE ||
                        currentStep === stepType.TRANSACTION || currentStep === stepType.WAIT
                }">Confirmed</div>
        </div>
    </div>
</div>

<div [ngSwitch]="currentStep" class="absolute bottom-0 top-56 w-full lg:static">
    <ng-container *ngSwitchCase="stepType.GENERATE">
        <ng-container *ngTemplateOutlet="generateTemplate"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="stepType.TRANSACTION">
        <ng-container *ngTemplateOutlet="transactionTemplate"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="stepType.WAIT">
        <ng-container *ngTemplateOutlet="waitTemplate"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="stepType.CONFIRMED">
        <ng-container *ngTemplateOutlet="confirmedTemplate"></ng-container>
    </ng-container>
</div>

<ng-template #generateTemplate>
    <div class="flex flex-col items-center justify-between lg:justify-start h-full">
        <div class="my-auto lg:mt-24 text-app-gray-400 text-lg font-medium" i18n>
            Generate new IOTA address    
        </div>
    
        <button nz-button nzType="primary" nzSize="large" class="lg:mt-24" i18n>
            Generate new address
        </button>
    </div>
</ng-template>

<ng-template #transactionTemplate>
    <div class="flex flex-col items-center justify-between lg:justify-start h-full">
        <div class="mt-10 text-app-gray-400 text-lg font-medium text-center max-w-md" i18n>
            Send a small 1 MIOTA amount to your address. Refresh after connect.
        </div>

        <div class="mt-14 lg:mt-4 w-full bg-bg-background rounded-2xl px-4 py-3">
            <div class="text-app-gray-400 text-xs font-medium" i18n>
                Send 1 MIOTA to following address
            </div>

            <div class="mt-2 flex justify-between items-center flex-wrap">
                <div class="text-base font-medium break-all">
                    {{ address }}
                </div>

                <button nz-button nzBlock nzSize="small" class="w-16 mt-4 lg:mt-0" (click)="copyAddress()" i18n>
                    {{ isCopied ? 'Copied' : 'Copy' }}
                </button>
            </div>
        </div>

        <div class="mt-10 flex flex-col lg:flex-row items-center justify-center">
            <button nz-button nzSize="large" 
                class="mb-6 lg:mb-0 lg:mr-4 w-64 lg:w-auto border-app-gray-200 flex items-center justify-center">
                <img src="/assets/logos/firefly.svg" alt="Firefly logo" class="mr-2">
                <div class="text-app-gray-text" i18n>
                    Firefly
                </div>
            </button>
            <button nz-button nzSize="large" 
                class="mb-6 lg:mb-0 lg:mr-4 w-64 lg:w-auto text-app-gray-text border-app-gray-200 flex items-center justify-center">
                <img src="/assets/logos/tanglepay.svg" alt="Firefly logo" class="mr-2">
                <div class="text-app-gray-text" i18n>
                    Tanglepay
                </div>
            </button>
            <button nz-button nzType="link" nzSize="large" i18n class="w-64 lg:w-auto">
                Refresh
            </button>
        </div>
    </div>
</ng-template>

<ng-template #waitTemplate>
    <div class="flex flex-col items-center justify-between lg:justify-start h-full">
        <div class="my-auto lg:mt-24 text-app-gray-400 text-lg font-medium text-center" i18n>
            Wait for transaction to be validated. We will send back your transaction once completed
        </div>
    
        <button nz-button nzSize="large" class="mt-24 border-app-gray-200 flex items-center">
            <wen-icon-refresh class="text-app-gray-400 mr-3"></wen-icon-refresh>
            <div class="text-app-gray-text" i18n>
                {{ true ? 'Validating your transaction' : 'Sending back your transaction' }}
            </div>
        </button>
    </div>
</ng-template>

<ng-template #confirmedTemplate>
    <div class="flex flex-col items-center justify-between lg:justify-start h-full">
        <div class="my-auto lg:mt-24 flex items-center">
            <div class="w-10 h-10 flex justify-center items-center bg-green-success rounded-full">
                <wen-icon-check class="text-white"></wen-icon-check>
            </div>
            <div class="ml-4 text-lg font-medium text-app-gray-400" i18n>Now you can deal with NFT`s</div>
        </div>
    
        <button nz-button nzType="primary" nzSize="large" class="mt-24" i18n>
            Finish Verification
        </button>
    </div>
</ng-template>