<wen-content [showBackButton]="true">
    <div class="flex flex-col mt-12 lg:flex-row lg:mt-10">
        <div class="flex-grow w-full mt-10 lg:w-1/2 lg:mr-10">
            <nz-tag class="wen-status-tag bg-tag-blue border-tag-blue">NFT</nz-tag>
            <wen-collection-status [collection]="data.collection$ | async"></wen-collection-status>

            <h1 class="mt-2" i18n>{{ (data.nft$ | async)?.name }}</h1>

            <div class="flex items-center justify-between w-full h-12 p-4 bg-white rounded-xl" *ngIf="isDateInFuture((data.nft$ | async)?.availableFrom)">
                <div class="flex items-center mr-8"
                    [ngClass]="{ 'text-alerts-error': false }">
                        <wen-icon-time></wen-icon-time>
                        <div class="ml-2.5 font-bold" i18n>Sale Starts</div>
                </div>
                <div class="font-medium">
                  {{(data.nft$ | async)?.availableFrom?.toDate() | date:'short'}}
                </div>
            </div>

            <div class="flex flex-wrap items-center mt-5">
                <div class="flex-grow h-20 px-4 py-3 mr-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Current price</div>
                    <div class="flex items-center mt-2">
                        <div class="text-lg font-bold truncate">{{formatBest((data.nft$ | async)?.price)}}</div>
                        <!-- <div class="ml-2 text-xs font-medium truncate text-foregrounds-secondary">{{100 $}}</div> -->
                    </div>
                </div>


                <div class="flex-grow h-20 px-4 py-3 mr-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Author</div>
                    <div class="flex items-center mt-2">
                      <a [routerLink]="['/member', (data.creator$ | async)?.uid]">
                        <nz-avatar [nzSrc]="(data.creator$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small"
                          class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                          style="max-width: 32px; min-width: 32px;" [nzSize]="32">
                        </nz-avatar>
                        <div class="ml-3 mr-8 text-base font-medium truncate max-w-24">
                          @{{((data.creator$ | async)?.name || (data.creator$ | async)?.uid) }}
                        </div>
                      </a>
                    </div>
                </div>

                <div class="flex-grow h-20 px-4 py-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Space</div>
                    <div class="flex items-center mt-2">
                        <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                            style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                            [nzSrc]="'https://ipfs.soonaverse.com/ipfs/bafybeiep4fgd3wkuxhqbaozgpvj6slmgawwwrqzewizgjjpdjud3lwgjyi/1044.png'">
                        </nz-avatar>

                        <div class="ml-3 mr-8 text-base font-medium truncate max-w-24">{{ 'IOTABOTS' }}</div>
                    </div>
                </div>
            </div>

            <button nz-button nzType="primary" (click)="buy()" *ngIf="true"
                nzBlock nzSize="large" class="mt-12" i18n>
                    Buy now
            </button>

            <!-- Use this if sale has ended -->
            <div *ngIf="false" class="flex items-center w-full px-5 py-4 mt-12 text-white bg-light-brown rounded-xl">
                <wen-icon-sad></wen-icon-sad>
                <div class="font-medium ml-3.5">
                    Sale ended
                </div>
            </div>

            <div class="mt-12 font-medium" [innerHtml]="(data.nft$ | async)?.description| markdown">
            </div>

            <!-- This should be used for timeline -->
            <!-- <wen-timeline class="block mt-12" [badges]="data.badges$ | async"></wen-timeline> -->
        </div>

        <div class="flex-grow w-full max-w-screen-sm lg:w-1/2">
            <div class="relative w-full overflow-hidden rounded-2xl">
                <img
                alt="NFT Image"
                [src]="(data.nft$ | async)?.image || '/assets/mocks/no_banner.jpg'"
                class="object-cover w-full h-full"
                />
            </div>

            <div class="flex flex-col items-center mt-8 lg:flex-row">
                <button nz-button nzType="default" (click)="null" nzBlock nzSize="default"
                    class="flex items-center justify-center flex-grow w-full text-black lg:mr-4 lg:w-1/2">
                        <wen-icon-twitter></wen-icon-twitter>
                        <div class="ml-2.5 text-xs font-medium" i18n>Share</div>
                </button>
                <button nz-button nzType="default" (click)="null" nzBlock nzSize="default"
                    class="flex items-center justify-center flex-grow w-full text-black lg:w-1/2">
                        <wen-icon-copy></wen-icon-copy>
                        <div class="ml-2.5 text-xs font-medium" (click)="copy()" i18n>Copy to clipboard</div>
                </button>
            </div>

            <nz-card nzTitle="System info" class="mt-8">
                <div class="wen-description-item bg-bg-background">
                    <span nz-typography class="text-app-gray-400" i18n>Address</span>
                    <p nz-typography class="flex items-center">
                        Migrate to IOTA ... SOON

                        <wen-icon-question-circle
                            class="ml-2.5 text-app-gray-400"
                            nz-tooltip
                            i18n-nzTooltipTitle
                            nzTooltipTitle="Some description idk"
                        ></wen-icon-question-circle>
                    </p>
                </div>

                <div class="wen-description-item bg-bg-background">
                    <span nz-typography class="text-app-gray-400" i18n>IPFS CID</span>
                    <p nz-typography>
                        12392832
                    </p>
                </div>
            </nz-card>

            <nz-card nzTitle="Properties" class="mt-4">
                <div class="wen-description-item bg-bg-background"
                    *ngFor="let prop of [{key:'Background',value:'Blue'},{key:'Clothes',value:'Fancy'},{key:'Hat',value:'Helmet'}]">
                        <span nz-typography class="text-app-gray-400">{{ prop.key }}</span>
                        <p nz-typography>{{ prop.value }}</p>
                </div>
            </nz-card>

            <nz-card nzTitle="Stats" class="mt-4">
                <div class="wen-description-item bg-bg-background"
                    *ngFor="let stat of [{key:'Speed',value:'2 of 5'},{key:'Inteligence',value:'1 of 10'}]">
                        <span nz-typography class="text-app-gray-400">{{ stat.key }}</span>
                        <p nz-typography>{{ stat.value }}</p>
                </div>
            </nz-card>
        </div>
    </div>

    <div class="w-screen h-px mt-16 -ml-10 bg-app-gray-separator-dark lg:mt-12"></div>

    <nz-card class="relative block w-full mt-16" nzTitle="About the collection">
        <a nz-button nzType="link" class="absolute flex items-center right-6 top-6" nzSize="small">
            <span i18n>Show collection</span>
            <wen-icon-angle-right></wen-icon-angle-right>
        </a>

        <div class="flex justify-between">
            <div class="w-max">
                <h1 class="mb-2">{{ 'IOTABOTS vol.2' }}</h1>
                <div class="flex items-center">
                    <div class="mr-3 text-xs font-medium" i18n>by</div>

                    <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                        style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                        [nzSrc]="'https://ipfs.soonaverse.com/ipfs/bafybeiep4fgd3wkuxhqbaozgpvj6slmgawwwrqzewizgjjpdjud3lwgjyi/1044.png'">
                    </nz-avatar>

                    <div class="ml-3 text-base font-medium truncate max-w-24">{{ '@Phylo' }}</div>

                    <div class="mx-3 text-xs font-medium">/</div>

                    <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                        style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                        [nzSrc]="'https://ipfs.soonaverse.com/ipfs/bafybeiep4fgd3wkuxhqbaozgpvj6slmgawwwrqzewizgjjpdjud3lwgjyi/1044.png'">
                    </nz-avatar>

                    <div class="ml-3 text-base font-medium truncate max-w-24">{{ 'IOTABOTS' }}</div>
                </div>
            </div>


            <div class="ml-20 text-xs font-medium">
                The Royal Bots is an exciting new collection of 8888 iotabots NFTs, Each individual piece of digital art consists of a realistic three-dimensional graphic with more than 200 unique traits and options. Public Mint is now Live - https://www.iotabots.com/
            </div>
        </div>

        <div class="mt-10 lg:grid place-items-start">
            <div class="flex flex-wrap gap-6 mb-10">
                <nz-skeleton *ngIf="isLoading(data.topNftWithinCollection$ | async)" class="p-4 bg-white rounded-2xl w-76 h-76" [nzActive]="true"
                    [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

                <nz-card class="w-76" *ngIf="isEmpty(data.topNftWithinCollection$ | async)">
                    <div class="flex flex-col justify-center text-center h-36">
                        <span class="leading-7 text-app-gray-400" i18n>
                            No NFTs
                        </span>
                    </div>
                </nz-card>

                <wen-nft-card class="wen-nft-card"
                    *ngFor="let nft of data.topNftWithinCollection$ | async; trackBy: trackByUid"
                    [nft]="nft">
                </wen-nft-card>
            </div>
        </div>
    </nz-card>
</wen-content>
