<wen-content [showBackButton]="true">
    <div class="flex flex-col mt-12 lg:flex-row lg:mt-10">
        <div class="flex-grow w-full mt-10 lg:w-1/2 lg:mr-10">
            <nz-tag class="wen-status-tag bg-tag-blue border-tag-blue" i18n>NFT</nz-tag>
            <wen-collection-status [collection]="data.collection$ | async" *ngIf="!(data.nft$ | async )?.owner"></wen-collection-status>
            <nz-tag class="wen-status-tag bg-tag-green border-tag-green" *ngIf="(data.nft$ | async )?.owner" i18n>Owned</nz-tag>

            <h1 class="mt-2 mb-1">{{ getTitle(data.nft$ | async) }}</h1>
            <div class="mb-10 text-xl font-medium" *ngIf="deviceService.isDesktop$ | async">{{ (data.nft$ | async)?.name }}</div>

            <ng-container *ngIf="deviceService.isMobile$ | async">
                <div class="relative w-full overflow-hidden cursor-pointer rounded-2xl">
                    <img (click)="isNftPreviewOpen = true"
                    *ngIf="mediaType === 'image'"
                    alt="NFT Image" i18n-alt
                    [src]="(data.nft$ | async)?.media || '/assets/mocks/no_banner.jpg'"
                    class="object-cover w-full h-full"
                    />

                    <video controls autoplay loop class="object-cover w-full h-full" *ngIf="mediaType === 'video'">
                      <source [src]="(data.nft$ | async)?.media" type="video/mp4">
                      Your browser does not support HTML video.
                    </video>
                </div>

                <wen-share
                    class="block mt-5 mb-8"
                    i18n-shareText
                    shareText="Check out nft"
                    [shareUrl]="getShareUrl(data.nft$ | async)">
                </wen-share>
            </ng-container>

            <div class="flex items-center justify-between w-full h-12 p-4 bg-white rounded-xl"
                *ngIf="isDateInFuture((data.nft$ | async)?.availableFrom)">
                <div class="flex items-center mr-8"
                    [ngClass]="{ 'text-alerts-error': false }">
                        <wen-icon-time></wen-icon-time>
                        <div class="ml-2.5 font-bold" i18n>Sale Starts</div>
                </div>
                <div class="font-medium">
                  {{(data.nft$ | async)?.availableFrom?.toDate() | date:'short'}}
                </div>
            </div>

            <div class="w-full p-4 bg-white rounded-xl"
                *ngIf="isAvailableForAuction(data.nft$ | async, data.collection$ | async)">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <wen-icon-time></wen-icon-time>
                            <div class="ml-2.5 font-bold" i18n>Sale ends</div>
                        </div>
                        <div class="font-medium">
                          {{ getAuctionEnd(data.nft$ | async)?.toDate() | date:'long'}}
                        </div>
                    </div>

                    <div class="flex items-center justify-between w-full mt-5 space-x-3" *ngIf="endsOnTicker$ | async">
                         <!-- counter -->
                        <div class="flex items-center justify-center flex-grow py-3 font-bold bg-bg-background rounded-2xl">
                          {{getAuctionEndHours(data.nft$ | async)}}
                          <span i18n> hours</span>
                        </div>
                        <div class="flex items-center justify-center flex-grow py-3 font-bold bg-bg-background rounded-2xl">
                          {{getAuctionEndMin(data.nft$ | async)}}
                          <span i18n> min</span>
                        </div>
                        <div class="flex items-center justify-center flex-grow py-3 font-bold bg-bg-background rounded-2xl">
                          {{getAuctionEndSec(data.nft$ | async)}}
                          <span i18n> sec</span>
                        </div>
                    </div>
            </div>

            <div class="flex flex-wrap items-center mt-5">
                <div class="flex-grow h-20 px-4 py-3 mr-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Current price</div>
                    <div class="flex items-center mt-2">
                        <div class="mr-2 text-xs font-medium line-through truncate text-foregrounds-secondary" *ngIf="discount(data.collection$ | async, data.nft$ | async) < 1">{{data.formatBest(((data.nft$ | async)?.availablePrice || (data.nft$ | async)?.price))}}</div>
                        <div class="text-lg font-bold truncate">{{data.formatBest(calc(((data.nft$ | async)?.availablePrice || (data.nft$ | async)?.price), discount(data.collection$ | async, data.nft$ | async)))}}</div>
                    </div>
                </div>


                <div class="flex-grow h-20 px-4 py-3 mr-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Author</div>
                    <div class="flex items-center mt-2">
                      <ng-container *ngIf="(data.collection$ | async)?.space !== (data.collection$ | async)?.royaltiesSpace">
                        <a [routerLink]="['/space', (data.royaltySpace$ | async)?.uid]" class="flex items-center w-full">
                          <nz-avatar [nzSrc]="previewImageService.getAvatarSize((data.royaltySpace$ | async)?.avatarUrl)"
                            class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                            style="max-width: 32px; min-width: 32px;" [nzSize]="32">
                          </nz-avatar>
                          <div class="ml-3 text-base font-medium truncate">
                            {{ (data.royaltySpace$ | async)?.name || (data.royaltySpace$ | async)?.uid }}
                          </div>
                        </a>
                      </ng-container>

                      <ng-container *ngIf="(data.collection$ | async)?.space === (data.collection$ | async)?.royaltiesSpace">
                        <a [routerLink]="['/member', (data.creator$ | async)?.uid]" class="flex items-center w-full">
                          <nz-avatar [nzSrc]="(data.creator$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small"
                            class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                            style="max-width: 32px; min-width: 32px;" [nzSize]="32">
                          </nz-avatar>
                          <div class="ml-3 text-base font-medium truncate">
                            @{{((data.creator$ | async)?.name || (data.creator$ | async)?.uid) }}
                          </div>
                        </a>
                      </ng-container>
                    </div>
                </div>

                <div class="flex-grow h-20 px-4 py-3 bg-white w-3/10 rounded-xl">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Space</div>
                    <a class="flex items-center mt-2" [routerLink]="['/space', (data.space$ | async)?.uid]">
                        <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                            style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                            [nzSrc]="previewImageService.getAvatarSize((data.space$ | async)?.avatarUrl)">
                        </nz-avatar>

                        <div class="ml-3 text-base font-medium truncate">{{ (data.space$ | async)?.name || (data.space$ | async)?.uid }}</div>
                    </a>
                </div>
            </div>


            <div class="flex items-center p-5 mt-6 rounded-xl bg-yellow" *ngIf="(data.nft$ | async)?.placeholderNft && isAvailableForSale(data.nft$ | async, data.collection$ | async)">
                <wen-icon-alert-octagon class="mr-2.5 lg:mr-3.5"></wen-icon-alert-octagon>
                <div class="text-base font-bold">
                    <span>{{((data.collection$ | async)?.total || 0) - ((data.collection$ | async)?.sold || 0)}} </span>
                    <span i18n>remaining</span>
                </div>
            </div>

            <div *ngIf="(data.nft$ | async)?.placeholderNft && (data.collection$ | async)?.approved === true && !isAvailableForSale(data.nft$ | async, data.collection$ | async) && !saleNotStartedYet(data.nft$ | async)"
                class="flex items-center w-full px-5 py-4 mt-12 text-white bg-light-brown rounded-xl">
                <wen-icon-sad></wen-icon-sad>
                <div class="font-medium ml-3.5" i18n>
                    Sale ended
                </div>
            </div>

            <div *ngIf="(data.collection$ | async)?.approved === true && !isAvailableForSale(data.nft$ | async, data.collection$ | async) && !(data.nft$ | async)?.owner && saleNotStartedYet(data.nft$ | async)"
                class="flex items-center w-full px-5 py-4 mt-12 text-white bg-light-brown rounded-xl">
                <wen-icon-sad></wen-icon-sad>
                <div class="font-medium ml-3.5" i18n>
                    Sale hasn't started yet
                </div>
            </div>

            <div *ngIf="!(data.collection$ | async)?.approved"
                class="flex items-center w-full px-5 py-4 mt-12 text-white bg-light-brown rounded-xl">
                <wen-icon-sad></wen-icon-sad>
                <div class="font-medium ml-3.5" i18n>
                    Collection pending approval
                </div>
            </div>

            <div *ngIf="(data.collection$ | async)?.rejected === true"
                class="flex items-center w-full px-5 py-4 mt-12 text-white bg-red-300 rounded-xl">
                <wen-icon-sad></wen-icon-sad>
                <div class="font-medium ml-3.5" i18n>
                    Collection rejected!
                </div>
            </div>

            <button class="mt-10" nz-button nzType="default" (click)="sell($event)" *ngIf="canSetItForSale(data.nft$ | async)" nzBlock nzSize="large">
                <span *ngIf="canBeSetForSale(data.nft$ | async)" i18n>Sell NFT</span>
                <span *ngIf="!canBeSetForSale(data.nft$ | async) && isAvailableForSale(data.nft$ | async, data.collection$ | async)" i18n>Change Fixed Price</span>
                <span *ngIf="!canBeSetForSale(data.nft$ | async) && isAvailableForAuction(data.nft$ | async, data.collection$ | async)" i18n>Change Auction</span>
            </button>

            <button class="mt-10" nz-button nzType="primary" (click)="bid($event)"
                    *ngIf="isAvailableForAuction(data.nft$ | async, data.collection$ | async)" nzBlock nzSize="large" i18n>
                Place bid
            </button>

            <button class="mt-10" nz-button nzType="primary" (click)="buy($event)" [disabled]=""
                    *ngIf="isAvailableForSale(data.nft$ | async, data.collection$ | async)" nzBlock nzSize="large" i18n>
                Buy now
            </button>

            <div class="mt-12 font-medium" [innerHtml]="(data.nft$ | async)?.description| markdown">
            </div>

            <wen-timeline-nft class="block mt-12" [nft]="(data.nft$ | async)" [listedBy]="(data.space$ | async)" [orders]="(data.orders$ | async)"></wen-timeline-nft>

            <wen-collapse i18n-nzTitle title="Price History" class="mt-4" [isCollapsed]="false">
                <apx-chart #chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [colors]="chartOptions.colors!"
                    [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [markers]="chartOptions.markers!"
                    [stroke]="chartOptions.stroke!" [xaxis]="chartOptions.xaxis!" [tooltip]="chartOptions.tooltip!"></apx-chart>
            </wen-collapse>

            <!-- <wen-collapse i18n-nzTitle title="Listings / Offers" class="mt-4" [isCollapsed]="false">
                <div class="flex flex-col px-6 mt-6 mb-4 lg:flex-row lg:items-center">
                    <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentListingType === listingTypes.LISTING"
                        (nzCheckedChange)="currentListingType = listingTypes.LISTING">
                            <span i18n>Listings</span>
                    </nz-tag>
                    <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentListingType === listingTypes.OFFER"
                        (nzCheckedChange)="currentListingType = listingTypes.OFFER">
                            <span i18n>Offers</span>
                    </nz-tag>
                </div>

                <nz-table *ngIf="currentListingType === listingTypes.LISTING" class="block h-full px-5 mt-5 overflow-y-auto lg:min-h-0"
                    [nzData]="listingsData" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th i18n>From</th>
                            <th i18n>Ends on</th>
                            <th i18n>Type</th>
                            <th i18n>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listingsData">
                            <td>
                                <nz-avatar nzIcon="user" [nzSrc]="item.avatar | ipfsAvatar:filesizes.small" class="mr-2"
                                    [nzSize]="(deviceService.isDesktop$ | async) ? 'default' : 32">
                                </nz-avatar>
                                <span [routerLink]="'/'">@ {{ item.from | truncate:[16]}}</span>
                            </td>
                            <td>{{ item.endsOn }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    </tbody>
                </nz-table>

                <nz-table *ngIf="currentListingType === listingTypes.OFFER" class="block h-full px-5 mt-5 overflow-y-auto lg:min-h-0"
                    [nzData]="offersData" [nzShowPagination]="false">
                    <thead>
                        <tr>
                            <th i18n>From</th>
                            <th i18n>Ends on</th>
                            <th i18n>Type</th>
                            <th i18n>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of listingsData">
                            <td>
                                <nz-avatar nzIcon="user" [nzSrc]="item.avatar | ipfsAvatar:filesizes.small" class="mr-2"
                                    [nzSize]="(deviceService.isDesktop$ | async) ? 'default' : 32">
                                </nz-avatar>
                                <span [routerLink]="'/'">@ {{ item.from | truncate:[16]}}</span>
                            </td>
                            <td>{{ item.endsOn }}</td>
                            <td>{{ item.type }}</td>
                            <td>{{ item.price }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </wen-collapse> -->
        </div>

        <div class="flex-grow w-full max-w-screen-sm lg:w-1/2">
            <ng-container *ngIf="deviceService.isDesktop$ | async">
                <div class="relative w-full overflow-hidden cursor-pointer rounded-2xl">
                    <img (click)="isNftPreviewOpen = true"
                    *ngIf="mediaType === 'image'"
                    alt="NFT Image"
                    [src]="(data.nft$ | async)?.media || '/assets/mocks/no_banner.jpg'"
                    class="object-cover w-full h-full"
                    />

                    <video controls autoplay loop class="object-cover w-full h-full" *ngIf="mediaType === 'video'">
                      <source [src]="(data.nft$ | async)?.media" type="video/mp4">
                      Your browser does not support HTML video.
                    </video>
                </div>

                <wen-share
                    *ngIf="deviceService.isDesktop$ | async"
                    class="block mt-8"
                    i18n-shareText
                    shareText="Check out nft"
                    [shareUrl]="getShareUrl(data.nft$ | async)">
                </wen-share>
            </ng-container>

            <nz-card nzTitle="Owned by" class="mt-8" *ngIf="data.owner$ | async">
                <a [routerLink]="['/member', (data.owner$ | async)?.uid]" class="flex items-center">
                    <nz-avatar [nzSrc]="(data.owner$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small"
                        class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                        style="max-width: 32px; min-width: 32px;" [nzSize]="32">
                    </nz-avatar>
                    <div class="ml-3 text-base font-medium truncate">
                        @{{((data.owner$ | async)?.name || (data.owner$ | async)?.uid) }}
                    </div>
                </a>
            </nz-card>

            <wen-collapse [ngClass]="(data.owner$ | async) ? 'mt-4' : 'mt-8'" title="System info" *ngIf="!generatedNft(data.nft$ | async)">
                <div class="wen-description-item bg-bg-background">
                    <span nz-typography class="text-app-gray-400" i18n>On-Chain Record</span>
                    <p nz-typography class="flex items-center" *ngIf="!getOnChainInfo(data.orders$ | async)" i18n>Preparing...</p>
                    <div nz-typography *ngIf="getOnChainInfo(data.orders$ | async)" class="flex items-center justify-end">
                        <div class="w-3/5 break-words line-clamp-2">{{ getOnChainInfo(data.orders$ | async) }}</div>
                        <a class="ml-1 underline text-blue-light1" [href]="getExplorerLink(getOnChainInfo(data.orders$ | async)!)" target="_blank" i18n>View</a>
                        <wen-icon-question-circle
                            class="ml-2.5 text-app-gray-400"
                            nz-tooltip
                            i18n-nzTooltipTitle
                            nzTooltipTitle="View all of the transaction details of this NFT on the Tangle"
                        ></wen-icon-question-circle>
                    </div>
                </div>

                <div class="wen-description-item bg-bg-background">
                    <span nz-typography class="text-app-gray-400" i18n>Migrate</span>
                    <div nz-typography class="flex items-center justify-end">
                        <div class="w-3/5 break-words line-clamp-2" i18n>Shimmer/Mainnet (Tokenization)...SOON.</div>

                        <wen-icon-question-circle
                            class="ml-2.5 text-app-gray-400"
                            nz-tooltip
                            i18n-nzTooltipTitle
                            nzTooltipTitle="The current address is not connected to a live mainnet. As soon as the functionality is supported on IOTA/Shimmer, you will have to ability to one-click migrate this NFT to your network of choice."
                        ></wen-icon-question-circle>
                    </div>
                </div>

                <div class="wen-description-item bg-bg-background">
                  <span nz-typography class="text-app-gray-400" i18n>IPFS Metadata</span>
                  <div nz-typography class="flex items-center justify-end">
                      <div class="w-3/5 break-words line-clamp-2">{{ ((data.nft$ | async)?.ipfsMetadata || 'Preparing...') }}</div>
                      <a class="ml-1 underline left-16 text-blue-light1" *ngIf="(data.nft$ | async)?.ipfsMetadata" [href]="'https://ipfs.soonaverse.com/ipfs/' + (data.nft$ | async)?.ipfsMetadata" target="_blank" i18n>View</a>
                  </div>
                </div>
                <div class="wen-description-item bg-bg-background">
                  <span nz-typography class="text-app-gray-400" i18n>IPFS Image</span>
                  <div nz-typography class="flex items-center justify-end">
                      <div class="w-3/5 break-words line-clamp-2">{{ ((data.nft$ | async)?.ipfsMedia || 'Preparing...') }}</div>
                      <a class="ml-1 underline left-16 text-blue-light1" *ngIf="(data.nft$ | async)?.ipfsMedia" [href]="'https://ipfs.soonaverse.com/ipfs/' + (data.nft$ | async)?.ipfsMedia" target="_blank" i18n>View</a>
                  </div>
              </div>
            </wen-collapse>

            <wen-collapse class="mt-4" title="Properties" *ngIf="data.getPropStats((data.nft$ | async)?.properties).length">
                <div class="wen-description-item bg-bg-background"
                    *ngFor="let prop of data.getPropStats((data.nft$ | async)?.properties)">
                        <span nz-typography class="text-app-gray-400">{{ prop.label }}</span>
                        <p nz-typography>{{ prop.value }}</p>
                </div>
            </wen-collapse>

            <wen-collapse class="mt-4" title="Stats" *ngIf="data.getPropStats((data.nft$ | async)?.stats).length">
                <div class="wen-description-item bg-bg-background"
                    *ngFor="let stat of data.getPropStats((data.nft$ | async)?.stats)">
                        <span nz-typography class="text-app-gray-400">{{ stat.label }}</span>
                        <p nz-typography>{{ stat.value }}</p>
                </div>
            </wen-collapse>
        </div>
    </div>

    <div class="w-screen h-px mt-16 mb-8 -ml-4 lg:-ml-20 xl:w-full xl:ml-0 bg-app-gray-separator-dark lg:mt-12"></div>

    <nz-card class="relative block w-full mt-16" i18n-nzTitle nzTitle="About the collection">
        <a nz-button nzType="link" class="absolute flex items-center right-6 top-6" [routerLink]="['/', collectionPath, (data.collection$ | async)?.uid]" nzSize="small">
            <span>
                <span i18n>Show </span>
                <ng-container *ngIf="(deviceService.isDesktop$ | async)" i18n>collection</ng-container>
            </span>
            <wen-icon-angle-right></wen-icon-angle-right>
        </a>

        <div class="flex flex-col lg:flex-row">
            <div class="w-full lg:w-max">
                <h1 class="mb-2 break-words">{{ (data.collection$ | async)?.name || (data.collection$ | async)?.uid }}</h1>
                <div class="flex items-center">
                    <div class="mr-3 text-xs font-medium" i18n>by</div>

                    <ng-container *ngIf="(data.collection$ | async)?.space !== (data.collection$ | async)?.royaltiesSpace">
                      <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                          style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                          [nzSrc]="previewImageService.getAvatarSize((data.space$ | async)?.avatarUrl)">
                      </nz-avatar>

                      <div class="ml-3 text-base font-medium truncate max-w-24">{{ (data.space$ | async)?.name || (data.space$ | async)?.uid }}</div>

                      <div class="mx-3 text-xs font-medium">/</div>

                      <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                        style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                        [nzSrc]="previewImageService.getAvatarSize((data.royaltySpace$ | async)?.avatarUrl)">
                      </nz-avatar>

                      <div class="ml-3 text-base font-medium truncate max-w-24">{{ (data.royaltySpace$ | async)?.name || (data.royaltySpace$ | async)?.uid }}</div>
                    </ng-container>

                    <ng-container *ngIf="(data.collection$ | async)?.space === (data.collection$ | async)?.royaltiesSpace">
                      <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                        style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                        [nzSrc]="(data.collectionCreator$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small">
                      </nz-avatar>

                      <div class="ml-3 text-base font-medium truncate max-w-24">@{{ (data.collectionCreator$ | async)?.name }}</div>

                      <div class="mx-3 text-xs font-medium">/</div>

                      <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
                          style="max-width: 32px; min-width: 32px;" [nzSize]="32"
                          [nzSrc]="previewImageService.getAvatarSize((data.space$ | async)?.avatarUrl)">
                      </nz-avatar>

                      <div class="ml-3 text-base font-medium truncate max-w-24">{{ (data.space$ | async)?.name || (data.space$ | async)?.uid }}</div>
                    </ng-container>
                </div>
            </div>

            <div class="mt-10 text-sm font-medium lg:mt-2 lg:ml-10" [innerHtml]="(data.collection$ | async)?.description | stripMarkdown"></div>
        </div>

        <div class="mt-10 lg:grid place-items-start">
            <div class="flex flex-wrap gap-2 mb-10">
                <nz-skeleton *ngIf="isLoading(data.topNftWithinCollection$ | async)" class="p-4 bg-white rounded-2xl w-76 h-76" [nzActive]="true"
                    [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

                <nz-card class="w-76" *ngIf="isEmpty(data.topNftWithinCollection$ | async)">
                    <div class="flex flex-col justify-center text-center h-36">
                        <span class="leading-7 text-app-gray-400" i18n>
                            No NFTs
                        </span>
                    </div>
                </nz-card>

                <!-- Place holder NFT MUST be always first -->
                <wen-nft-card *ngIf="(data.collection$ | async)?.placeholderNft && (data.firstNftInCollection$ | async)" [collection]="(data.collection$ | async)"
                  [nft]="(data.firstNftInCollection$ | async)">
                </wen-nft-card>

                <ng-container *ngFor="let nft of data.topNftWithinCollection$ | async; trackBy: trackByUid">
                  <wen-nft-card [collection]="(data.collection$ | async)"
                      *ngIf="!(data.collection$ | async)?.placeholderNft || ((data.collection$ | async)?.placeholderNft && nft.uid !== (data.firstNftInCollection$ | async)?.uid)"
                      [nft]="nft">
                  </wen-nft-card>
                </ng-container>
            </div>
        </div>
    </nz-card>
</wen-content>

<wen-nft-checkout *ngIf="isCheckoutOpen" [isOpen]="isCheckoutOpen" [nft]="data.nft$ | async" [collection]="data.collection$ | async" (wenOnClose)="isCheckoutOpen = false"></wen-nft-checkout>
<wen-nft-sale *ngIf="isSaleOpen" [isOpen]="isSaleOpen" [nft]="data.nft$ | async" [collection]="data.collection$ | async" (wenOnClose)="isSaleOpen = false"></wen-nft-sale>
<wen-nft-bid *ngIf="isBidOpen" [isOpen]="isBidOpen" [nft]="data.nft$ | async" [collection]="data.collection$ | async" (wenOnClose)="isBidOpen = false"></wen-nft-bid>

<nz-modal nzWidth="min(100vw - 50px, 100vh - 50px)"
    [nzVisible]="isNftPreviewOpen"
    (nzOnCancel)="isNftPreviewOpen = false"
    [nzContent]="prevewNftModalContent"
    [nzFooter]="null"
    [nzBodyStyle]="{ padding: '0' }"
>
    <ng-template #prevewNftModalContent>
        <img *ngIf="mediaType === 'image'" [src]="(data.nft$ | async)?.media || '/assets/mocks/no_banner.jpg'" class="w-full rounded-3xl" />
        <video controls autoplay loop class="w-full rounded-3xl" *ngIf="mediaType === 'video'">
          <source [src]="(data.nft$ | async)?.media" type="video/mp4">
          Your browser does not support HTML video.
        </video>
    </ng-template>
</nz-modal>
