rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /avatars/{document=**} {
      allow get: if true;
      allow list: if request.query.limit <= 1;
    }

    match /award/{document=**} {
      allow read;
    }

    match /nft/{document=**} {
      allow read;
    }

    match /collection/{document=**} {
      allow read;
    }

    match /badges/{document=**} {
      allow get: if true;
      allow list: if request.query.limit <= 1;
    }

    match /member/{document=**} {
      allow read;
    }

    match /milestone/{document=**} {
      allow read;
    }

    match /proposal/{document=**} {
      allow read;
    }

    match /space/{document=**} {
      allow read;
    }

    match /transaction/{transactionId} {
      // Anyone can ready anything.
      allow get: if true;

      // Orders can't be searched, user must know the exact order.
      allow list: if resource.data.type != 'ORDER';
    }

  }
}
