rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /avatars/{document=**} {
      allow get: if true;
      allow list: if request.query.limit <= 1;
    }

    match /award/{document=**} {
      allow read;
    }

    match /airdrop/{document=**} {
      allow read;
    }

    match /nft/{document=**} {
      allow read: if resource.data.hidden == false;
    }

    match /collection/{document=**} {
      allow read: if true;
    }

    match /badges/{document=**} {
      allow get;
      allow list: if request.query.limit <= 1;
    }

    match /member/{document=**} {
      allow read;
    }

    match /token/{document=**} {
      allow read;
    }

    match /token_market/{document=**} {
      allow read;
    }

    match /ticker/{document=**} {
      allow read;
    }

    match /token_purchase/{document=**} {
      allow read;
    }

    match /notification/{document=**} {
      allow read;
    }

    match /milestone/{document=**} {
      allow read;
    }

    match /milestone_rms/{document=**} {
      allow read;
    }

    match /milestone_smr/{document=**} {
      allow read;
    }

    match /milestone_atoi/{document=**} {
      allow read;
    }

    match /proposal/{document=**} {
      allow read;
    }

    match /space/{document=**} {
      allow read;
    }

    match /stake/{document=**} {
      allow read;
    }

    match /stake_reward/{document=**} {
      allow read;
    }
    
    // Sub-collections.
    match /{path=**}/owners/{doc} {
      allow read;
    }

    match /{path=**}/participants/{doc} {
      allow read;
    }

    match /{path=**}/members/{doc} {
      allow read;
    }

    match /{path=**}/guardians/{doc} {
      allow read;
    }

    match /{path=**}/blockedMembers/{doc} {
      allow read;
    }

    match /{path=**}/knockingMembers/{doc} {
      allow read;
    }

    match /{path=**}/distribution/{doc} {
      allow read;
    }

    // Specific transactions can't be listed.
    match /transaction/{transactionId} {
      // Anyone can ready anything.
      allow get: if true;

      // Orders can't be searched, user must know the exact order.
      allow list: if resource.data.type != 'ORDER';
    }

  }
}
