<article class="flex flex-row p-4 bg-white w-75 h-75 rounded-2xl"
  [ngClass]="fullWidth ? 'w-auto h-auto justify-between' : 'w-75 h-75'" *ngIf="member">
  <div class="w-3/5">
    <div class="relative flex flex-col w-full h-40" [ngClass]="fullWidth ? 'h-auto' : 'h-40'" [routerLink]="['/member', member.uid]">
      <div class="flex items-center w-full space-x-4">
        <nz-avatar class="min-w-max" nzSrc="/assets/mocks/default_avatar.jpg"></nz-avatar>
        <p nz-typography class="truncate">{{ member.name ? '@' + member.name : member.uid }}</p>
      </div>
      <p class="mt-2 mb-3 text-base">{{ (about !== undefined ? about : member.about)| truncate:[110] }}</p>
    </div>

    <div class="relative flex flex-col w-full h-28">
      <div class="inline-flex items-center space-x-3">
        <nz-avatar nzSrc="/assets/mocks/trophy.png" nz-tooltip nzTooltipTitle="member.badge.name"
          class="bg-white border-gray-400" nzShape="circle"></nz-avatar>
        <nz-tag class="wen-xp-tag">{{ member.totalReputation ? member.totalReputation : 0 }} XP</nz-tag>
      </div>

      <div i18n class="inline-flex mt-6">
        <nz-tag class="wen-status-tag bg-tag-default border-tag-default"> <i nz-icon nzType="trophy"></i>
          {{ member.awardsCompleted ? member.awardsCompleted : 0 }} awards</nz-tag>
      </div>
    </div>
  </div>
  <div class="w-64 pl-8" *ngIf="fullWidth">
    <ng-content></ng-content>
  </div>
</article>
