<article class="flex flex-row w-full p-4 bg-white rounded-2xl wen-card"
  [ngClass]="fullWidth ? 'w-auto lg:h-auto justify-between' : 'w-75 lg:w-75 lg:h-75'" *ngIf="member">
  <div class="relative" [ngClass]="fullWidth ? 'w-full lg:w-4/5' : 'w-full'">
    <div class="relative flex flex-col w-full" [ngClass]="fullWidth ? 'h-auto' : 'lg:h-40'">
      <a class="flex items-center w-full space-x-4" [routerLink]="['/', this.path, member.uid]">
        <nz-avatar class="border-2 border-app-gray-100 bg-bg-background min-w-10"
          style="max-width: 48px; min-width: 48px;" [nzSize]="48"
          [nzSrc]="member?.currentProfileImage | ipfsAvatar:filesizes.small"></nz-avatar>
        <h5 nz-typography class="m-auto truncate">{{ member.name ? '@' + member.name : member.uid }}</h5>
        <nz-tag *ngIf="role && (deviceService.isDesktop$ | async)" class="wen-status-tag"
          [ngClass]="role === 'Member' ? 'bg-tag-green border-tag-green' : 'bg-tag-black border-tag-black text-white'">
          {{ role }}</nz-tag>
      </a>
      <div class="flex items-center mt-4 lg:mt-0">
        <nz-tag *ngIf="role && (deviceService.isMobile$ | async)" class="wen-status-tag h-6 lg:h-8 px-1 lg:px-3 py-0 lg:py-2 text=xs lg:text-sm"
          [ngClass]="role === 'Member' ? 'bg-tag-green border-tag-green' : 'bg-tag-black border-tag-black text-white'">
          {{ role }}</nz-tag>

        <span nz-typography class="truncate lg:mt-3 text-app-gray-400" [ngClass]="fullWidth ? 'text-xs lg:text-base' : 'text-xs'">
          <span i18n>joined</span> {{ member.createdOn?.toDate() | date:"short" }}
        </span>
      </div>
      <p class="mt-2 mb-3 leading-5 text-black whitespace-pre-line truncate-line-3" [ngClass]="fullWidth ? 'text-base' : 'text-xs'">{{ (about !== undefined
        ? about :
        member.about) }}</p>
    </div>

    <div class="bottom-0 flex lg:relative" [ngClass]="fullWidth ? 'flex-col lg:flex-row' : 'flex-col w-full lg:h-28'">
      <div class="relative inline-flex items-center space-x-3" #xpWrapper>
        <nz-tag class="wen-xp-tag flex items-center">
          {{ getTotal('totalReputation') }} <span i18n>XP</span>
          <i nz-icon nzType="info-circle" class="cursor-pointer text-app-gray-400 ml-2"
            *ngIf="!!getSelectedSpace() && includeAlliances"
            (click)="isReputationVisible = true"></i>
        </nz-tag>
        <nz-tag class="flex items-center space-x-3 bg-transparent border-transparent wen-status-tag">
          <wen-icon-award class="w-4 h-4 text-app-gray-400"></wen-icon-award>
          <span>{{ getTotal('awardsCompleted') }} <span i18n>awards</span>
          </span>
        </nz-tag>

        <wen-member-reputation-modal
          *ngIf="(deviceService.isDesktop$ | async) && !!getSelectedSpace() && includeAlliances"
          [isOpen]="isReputationVisible"
          [member]="member"
          [selectedSpace]="selectedSpace"
          [leftPosition]="reputationModalLeftPosition"
          [bottomPosition]="reputationModalBottomPosition"
          [rightPosition]="reputationModalRightPosition"
          (onClose)="isReputationVisible = false">
        </wen-member-reputation-modal>

        <wen-member-reputation-drawer
          *ngIf="(deviceService.isMobile$ | async) && !!getSelectedSpace() && includeAlliances"
          [isOpen]="isReputationVisible"
          [selectedSpace]="selectedSpace"
          [member]="member"
          (onClose)="isReputationVisible = false">
        </wen-member-reputation-drawer>
      </div>

      <div i18n class="inline-flex" [ngClass]="fullWidth ? 'mt-5 lg:mt-0 lg:ml-4' : 'mt-4'">
        <nz-avatar *ngFor="let badge of (badges$ | async) | slice:0:totalVisibleBadges;"
          [nzSrc]="badge.payload.image | ipfsBadge:filesizes.small"
          class="mr-2 bg-white border-gray-400 lg:mr-0" nzShape="circle"
          [nzSize]="(deviceService.isDesktop$ | async) ? 'default' : 24">
        </nz-avatar>
      </div>
    </div>
  </div>
  <div class="w-1/5 pl-4 pr-2 text-right" *ngIf="fullWidth && (deviceService.isDesktop$ | async)">
    <ng-content></ng-content>
  </div>
</article>
