<p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(members$ | async)">
  {{ ((members$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} members
</p>
<div class="flex flex-wrap gap-6 mb-10"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <!-- TODO Loading. -->
  <div *ngIf="isLoading(members$ | async)">Loading...</div>

  <nz-card class="w-75" *ngIf="isEmpty(members$ | async)">
    <div class="flex flex-col justify-center text-center h-36">
      <span class="leading-7 text-app-gray-400">
        No Members
      </span>
    </div>
  </nz-card>

  <wen-member-card class="outline-none cursor-pointer" *ngFor="let member of members$ | async; trackBy: trackByUid" [member]="member">
  </wen-member-card>
</div>
