<form class="flex flex-col lg:flex-row items-end justify-between" [formGroup]="spaceForm">
  <wen-select-box
    *ngIf="deviceService.isMobile$ | async"
    class="w-full mt-6 mb-6"
    formControlName="space"
    [optionsWrapperClasses]="'top-16 left-0'"
    [options]="spacesList"
    [showArrow]="true"
    [isSearchable]="true"
    [size]="selectBoxSizes.LARGE"
    title="Select space">
  </wen-select-box>

  <div class="flex items-center justify-between w-full lg:mt-8">
    <div class="flex items-center">
      <wen-select-box
        *ngIf="deviceService.isDesktop$ | async"
        formControlName="space"
        [optionsWrapperClasses]="'top-12 left-2'"
        [options]="spacesList"
        [showArrow]="true"
        [isSearchable]="true">
      </wen-select-box>
  
      <label class="lg:ml-6 text-base font-medium text-app-gray-text" 
        nz-checkbox formControlName="includeAlliances"
        [nzDisabled]="spaceForm.value.space === defaultSpace.value">
          Include alliances {{ (deviceService.isDesktop$ | async) && spaceForm.value.space === defaultSpace.value ? '(Select some space)' : '' }}
      </label>
    </div>
  
    <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
      <nz-select class="w-48 wen-sort-button" nzPlaceHolder="Sort by" [nzCustomTemplate]="defaultTemplate" 
        [formControl]="sortControl" nz-tooltip>
        <nz-option nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
        <nz-option nzLabel="Oldest" [nzValue]="filter.sortOptions.OLDEST"></nz-option>
      </nz-select>
      <ng-template #defaultTemplate let-selected>
        <span nz-typography nzType="secondary" class="text-xs">Sort by</span>
        {{ selected.nzLabel }}
      </ng-template>
    </ng-container>
    <ng-template #sortMobileBlock>
      <div class="relative">
        <wen-select-box
          class="w-32"
          [formControl]="sortControl"
          [suffixIcon]="mobileSuffixIcon"
          [optionsWrapperClasses]="'top-12 right-2'"
          [options]="[{
            label: 'Recent',
            value: filter.sortOptions.RECENT
          }, {
            label: 'Oldest',
            value: filter.sortOptions.OLDEST
          }]">
        </wen-select-box>
        <ng-template #mobileSuffixIcon>
          <wen-icon-sort></wen-icon-sort>
        </ng-template>
      </div>
    </ng-template>
  </div>
</form>

<div class="lg:grid mt-10 place-items-start">
  <p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(members$ | async)">
    {{ ((members$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} members
  </p>
  <div class="flex flex-wrap gap-6 mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <nz-skeleton *ngIf="isLoading(members$ | async)" class="p-4 bg-white rounded-2xl w-75 h-75" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

    <nz-card class="w-75" *ngIf="isEmpty(members$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Members
        </span>
      </div>
    </nz-card>

    <wen-member-card class="outline-none w-full lg:w-auto relative"
      *ngFor="let member of members$ | async; let i = index; trackBy: trackByUid" [member]="member"
      [allowReputationModal]="spaceForm.value.includeAlliances">
    </wen-member-card>
  </div>
</div>


