<div class="space-y-12">
  <div class="space-y-4">
    <div class="inline-flex justify-between w-full">
      <h3 *ngIf="(data.awardsActive$ | async)?.length">Active</h3>
      <button nz-button class="bg-blue-dark2 border-blue-dark2 hover:bg-blue-hover hover:border-blue-hover"
        nzType="primary" nzSize="default" type="button" (click)="create()" *ngIf="data.isMemberWithinSpace$ | async"
        i18n>
        <i nz-icon nzType="plus" nzTheme="outline"></i>New award
      </button>
    </div>
    <wen-award-card class="block cursor-pointer" [fullWidth]="true" *ngFor="let award of data.awardsActive$ | async; trackBy: trackByUid" [award]="award"
      [routerLink]="['/award', award.uid]">
    </wen-award-card>
  </div>

  <div class="space-y-4" *ngIf="(data.awardsCompleted$ | async)?.length">
    <h3>Completed</h3>
    <wen-award-card class="block cursor-pointer" [fullWidth]="true" *ngFor="let award of data.awardsCompleted$ | async; trackBy: trackByUid" [award]="award"
    [routerLink]="['/award', award.uid]">
  </wen-award-card>
  </div>
</div>
