<wen-modal-drawer
    i18n-title
    title="Open Token Offer"
    [isOpen]="isOpen"
    [content]="content"
    (wenOnClose)="close()">
</wen-modal-drawer>

<ng-template #content>
    <div class="flex items-center mt-8 lg:mt-6">
        <nz-avatar [nzSrc]="previewImageService.getAvatarSize(token?.icon)"
          class="border-2 border-tags-border dark:border-tags-border-dark min-w-12"
          nzShape="circle"
          [nzSize]="48">
        </nz-avatar>
        <div class="ml-4 text-lg font-bold">{{ token?.name }}</div>
        <div class="ml-2 font-medium">{{ '(' + token?.symbol + ')' }}</div>
    </div>

    <div [ngSwitch]="currentStep" class="w-full mt-6">
        <ng-container *ngSwitchCase="stepType.CONFIRM">
            <ng-container *ngTemplateOutlet="confirmTemplate"></ng-container>
        </ng-container>
    </div>
</ng-template>

<ng-template #confirmTemplate>
    <div class="relative flex flex-col mt-6 font-medium lg:mt-6">
        <div class="relative flex items-center justify-between flex-1 w-full px-6 py-2 border rounded-3xl border-inputs-border dark:border-inputs-border-dark min-h-14 h-14">
            <input class="w-full p-0 outline-0"
                [formControl]="offeredRateControl"
                i18n-placeholder
                placeholder="Your offered rate"
                nz-input
                nzSize="small"
                [nzBorderless]="true">
            <div class="bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-xl px-2.5 py-1 font-medium min-w-24">
                <div class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark whitespace-nowrap text-xxs" i18n>24h VWAP</div>
                <div class="text-xs">{{ formatBest((listenAvgPrice24h$ | async), true) }}</div>
            </div>
            <div class="absolute font-medium -translate-y-1/2 top-1/2 right-36 text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                Mi
            </div>
        </div>
        <div class="px-6 py-2 mt-3 font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-xl">
                <ng-container *ngIf="!isAmountInput" i18n>Enter how much you want to potentially earn. Amount of tokens will be calculated.</ng-container>
                <ng-container *ngIf="isAmountInput" i18n>Enter amount of tokens you want to sell. Price will be calculated.</ng-container>
        </div>
        <div class="relative flex items-center justify-between flex-1 w-full px-6 py-2 mt-3 border rounded-3xl border-inputs-border dark:border-inputs-border-dark min-h-14 h-14">
            <input class="w-full p-0 outline-0"
                    [formControl]="isAmountInput ? amountControl : iotaControl"
                    nz-input
                    nzSize="small"
                    [nzBorderless]="true">

            <div *ngIf="isAmountInput" class="bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-xl px-2.5 py-1 font-medium min-w-24">
                <div class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark whitespace-nowrap text-xxs" i18n>Your ballance</div>
                <div class="text-sm">{{ formatTokenBest(memberDistribution?.tokenOwned) | number : '1.0-6' }}</div>
            </div>
            <div class="absolute font-medium -translate-y-1/2 top-1/2 right-36 text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                {{ isAmountInput ? token?.symbol : 'Mi' }}
            </div>
        </div>

        <div class="relative flex items-center justify-between flex-1 w-full px-6 py-2 mt-2 rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark min-h-14">
            <div class="mt-1">
                {{ getResultAmount() | number : '1.0-6'  }}
            </div>
            <div *ngIf="!isAmountInput" class="bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-xl px-2.5 py-1 font-medium min-w-24">
                <div class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark whitespace-nowrap text-xxs" i18n>Your ballance</div>
                <div class="text-sm">{{ formatTokenBest(memberDistribution?.tokenOwned) | number : '1.0-6' }}</div>
            </div>
            <div class="absolute font-medium -translate-y-1/2 top-1/2 right-36 ">
                {{ isAmountInput ? formatBest(amountControl.value * 1000 * 1000 * (offeredRateControl?.value || 0)).substr(-2) : token?.symbol }}
            </div>
        </div>
        <button nz-button nzType="primary" nzShape="circle" nzSize="default"
            (click)="isAmountInput = !isAmountInput" class="absolute -translate-x-1/2 left-1/2 top-[68%]">
                <wen-icon-switch></wen-icon-switch>
        </button>
    </div>

    <wen-terms-and-conditions
        class="mt-10"
        [isChecked]="agreeTermsConditions"
        documentLink="https://docs.google.com/document/d/1oOFhZIip2XTEGVYhtr_3eUeSG6fbLDILFJGBvmtlFgc"
        (wenOnCheckChange)="agreeTermsConditions = $event">
    </wen-terms-and-conditions>

    <wen-terms-and-conditions
        class="mt-4"
        [isChecked]="agreeTokenTermsConditions"
        i18n-label
        label="I agree with"
        i18n-linkLabel
        linkLabel="Token terms and Conditions"
        [documentLink]="token?.termsAndConditions || ''"
        (wenOnCheckChange)="agreeTokenTermsConditions = $event">
    </wen-terms-and-conditions>

    <div class="flex flex-col items-center w-full">
        <button nz-button nzType="primary" nzSize="large" class="w-full mt-10 lg:w-auto"
            [disabled]="!agreeTermsConditions || !agreeTokenTermsConditions" i18n (click)="proceedWithOrder()">
                Confirm and create an offer
        </button>

        <div class="w-3/5 mt-6 text-sm font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
            Once you agree with the terms, the  generated address will remain active during the whole sale.
        </div>
    </div>
</ng-template>
