<button *ngIf="(auth.isLoggedIn$ | async) && !isMemberProfile && !isLandingPage"
    nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="isAllowedCreation ? createMenu : null" nz-tooltip nzTooltipPlacement="bottom" nzPlacement="bottomLeft"
    [nzTooltipTitle]="!isAllowedCreation ? 'To create a new space you must first earn a badge!' : undefined"
    class="bg-blue-light1 w-10 h-10 flex justify-center items-center rounded-full" nzType="primary" type="button">
    <wen-icon-plus></wen-icon-plus>
</button>

<nz-dropdown-menu #createMenu="nzDropdownMenu">
    <div (click)="onCreateClick.emit()">
        <button nz-button nzType="primary" type="button"
            [routerLink]="routerService.urlToNewSpace"
            class="flex items-center gap-2 pr-2 w-32 -mt-1 rounded-b-none" i18n>
            Space
        </button>
        <button nz-button nzType="primary" type="button"
            [routerLink]="routerService.urlToNewProposal"
            class="flex items-center gap-2 pr-2 w-32 -mt-1 rounded-none" i18n>
            Proposal
        </button>
        <button nz-button nzType="primary" type="button"
            [routerLink]="routerService.urlToNewAward"
            class="flex items-center gap-2 pr-2 w-32 -mt-1 rounded-none" i18n>
            Award
        </button>
        <button nz-button nzType="primary" type="button"
            [routerLink]="routerService.urlToNewCollection"
            class="flex items-center gap-2 pr-2 w-32 -mt-1 rounded-t-none" i18n>
            Collection
        </button>
    </div>
</nz-dropdown-menu>