<wen-modal-drawer
    i18n-title
    title="Mint collection on network"
    [isOpen]="isOpen"
    [content]="content"
    (wenOnClose)="close()">
</wen-modal-drawer>

<ng-template #content>
    <div class="w-full pb-4 overflow-x-auto lg:pb-0">
        <wen-transaction-steps class="mx-6 mt-10"
            [steps]="steps" [currentNum]="getCurrentSequenceNum()"></wen-transaction-steps>
    </div>

    <div [ngSwitch]="currentStep" class="absolute bottom-0 w-full top-56 lg:static">
        <ng-container *ngSwitchCase="stepType.SELECT">
            <ng-container *ngTemplateOutlet="selectTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.TRANSACTION">
            <ng-container *ngTemplateOutlet="transactionTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.WAIT">
            <ng-container *ngTemplateOutlet="waitTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.CONFIRMED">
            <ng-container *ngTemplateOutlet="confirmedTemplate"></ng-container>
        </ng-container>
    </div>

    <ng-template #selectTemplate>
        <div class="flex flex-col justify-between h-full mt-10 lg:items-center lg:justify-start">
            <div class="font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark lg:w-4/5" i18n>
                Once minted all NFT’s from this collection will be available to migrate to the selected network by their owners.
            </div>

            <div class="w-full mt-16 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Select Network
            </div>

            <div class="flex flex-wrap items-center w-full">
                <!-- <div class="py-3 network">
                    <wen-icon-shimmer [size]="20"></wen-icon-shimmer>
                    <div class="text-sm font-semibold" i18n>Shimmer</div>
                </div>

                <div class="py-2 network">
                    <wen-icon-shimmer [size]="20"></wen-icon-shimmer>
                    <div class="font-semibold">
                        <div class="text-sm" i18n>Shimmer</div>
                        <div class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark text-xxs leading-[0.5rem]">EVM</div>
                    </div>
                </div>

                <div class="py-2 network">
                    <div class="text-lg font-semibold" i18n>IOTA</div>
                    <div class="w-px h-5 bg-[#66DDCA] ml-1.5 mr-1"></div>
                    <div class="font-medium -translate-y-1 text-xxs text-foregrounds-secondary dark:text-foregrounds-secondary-dark"
                        i18n>Mainnet</div>
                </div>

                <div class="network py-2.5">
                    <wen-icon-assembly [size]="20"></wen-icon-assembly>
                    <div class="font-semibold" i18n>assembly</div>
                </div>

                <div class="py-3 network">
                    <wen-icon-evm-chain [size]="20"></wen-icon-evm-chain>
                    <div class="text-sm font-semibold" i18n>Add EVM chain</div>
                </div> -->
            </div>

            <wen-terms-and-conditions
                class="mt-6 lg:ml-6"
                [isChecked]="agreeTermsConditions"
                documentLink="https://docs.google.com/document/d/1ng67fXTdINhmgkLpnbS_SkiDlZSsDAqrd13cbwXQCcQ"
                (wenOnCheckChange)="agreeTermsConditions = $event">
            </wen-terms-and-conditions>

            <button nz-button nzType="primary" nzSize="large" class="w-full mt-6 lg:w-auto"
                [disabled]="!agreeTermsConditions" i18n>
                    Confirm & Start minting
            </button>
        </div>
    </ng-template>

    <ng-template #transactionTemplate>
        <div class="flex flex-col items-center justify-between h-full mt-10 lg:justify-start">
            <div class="max-w-md mt-10 text-lg font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                <span *ngIf="!isExpired((transaction$ | async))">
                <span i18n>Send a small </span>{{ unitsService.format(targetAmount) }}
                <span i18n>amount to validate your address. Refresh after connect. This expires in </span>{{(expiryTicker$ | async) | countdownTime}}.
                </span>
                <span *ngIf="isExpired((transaction$ | async))" i18n>Expired.</span>
            </div>

            <div class="flex items-center justify-between w-full p-4 mt-16 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-2xl">
                <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary" i18n>
                    Selected Network</div>

                <div class="flex items-center">
                    <wen-icon-shimmer [size]="20"></wen-icon-shimmer>
                    <div class="ml-1 text-sm font-semibold" i18n>Shimmer</div>
                </div>
            </div>

            <nz-alert class="mt-2" nzType="warning" nzShowIcon *ngIf="!isExpired((transaction$ | async)) && invalidPayment" nzMessage="We received invalid amount. Try again."></nz-alert>

            <div class="w-full px-4 py-3 mt-14 lg:mt-4 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-2xl" *ngIf="!isExpired((transaction$ | async))">
                <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                    <span i18n>Send</span> {{ unitsService.format(targetAmount) }} <span i18n> to following address:</span>
                </div>

                <div class="flex flex-wrap items-center justify-between mt-2 break-all">
                    <div class="text-base font-medium break-words">
                    {{ targetAddress }}
                    </div>

                    <button nz-button nzBlock nzSize="small" nzType="primary" class="w-16 mt-4 lg:mt-0" (click)="copyAddress()">
                        <ng-container *ngIf="isCopied; else isNotCopied" i18n>Copied</ng-container>
                        <ng-template #isNotCopied i18n>Copy</ng-template>
                    </button>
                </div>
            </div>

            <wen-wallet-deeplink
                *ngIf="!isExpired((transaction$ | async))"
                class="w-full mt-10 lg:w-auto"
                [targetAddress]="targetAddress"
                [targetAmount]="((targetAmount || 0) / 1000 / 1000).toString()">
            </wen-wallet-deeplink>
        </div>
    </ng-template>

    <ng-template #waitTemplate>
        <div class="flex flex-col items-center justify-between h-full lg:justify-start">

            <div class="mt-16 mb-16 text-lg font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Wait for transaction to be validated. We will send back your transaction once completed
            </div>

            <div class="w-full border border-inputs-border dark:border-inputs-border-dark rounded-2xl">
                <div class="px-5 pt-3 pb-2 text-sm font-bold border-b" i18n>
                    Transaction history
                </div>

                <div class="h-32 px-5 pt-4 pb-2 mr-2 overflow-y-scroll">
                    <div *ngFor="let t of history; let first=first"
                        class="relative flex items-center my-1">
                            <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{ t.date | Time }}</div>
                            <a class="absolute text-sm font-medium underline left-16 text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" target="_blank"
                                *ngIf="t.link" [href]="transactionService.getExplorerLink(t.transaction)"
                          >{{ t.label }}</a>
                          <div class="absolute text-sm font-medium left-16" *ngIf="!t.link">{{ t.label }}</div>
                    </div>
                </div>
            </div>

            <button nz-button nzSize="large" nzType="default" class="flex items-center mt-10 border-inputs-border dark:border-inputs-border-dark">
                <wen-icon-refresh class="mr-3 text-foregrounds-secondary dark:text-foregrounds-secondary-dark animate-spin" ></wen-icon-refresh>
                <div i18n>
                    Validating address...
                </div>
            </button>
        </div>
    </ng-template>

    <ng-template #confirmedTemplate>
        <div class="flex flex-col items-center justify-between h-full lg:justify-start">
            <div class="flex items-center my-auto lg:mt-16 lg:w-3/5">
                <div class="flex items-center justify-center w-10 h-10 rounded-full min-w-10 min-h-10 bg-alerts-success dark:bg-alerts-success-dark">
                    <wen-icon-check class="text-foregrounds-on-primary dark:text-foregrounds-on-primary-dark"></wen-icon-check>
                </div>
                <div class="ml-4 font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    NFT’s from this Collection are now available to migrate to Shimmer Network.</div>
            </div>

            <button nz-button nzType="primary" nzSize="large" class="mt-24" (click)="close()"i18n>
                Finish Minting
            </button>
        </div>
    </ng-template>
</ng-template>
