<nz-card i18n-nzTitle [nzTitle]="(deviceService.isDesktop$ | async) ?
    'Casted Votes' : 'Votes (' + ((data?.transactions$ | async) || []).length + ')'"
    *ngIf="(data?.proposal$ | async)?.approved && data?.isMemberVote((data?.proposal$ | async)?.type) && !data?.isPending(data?.proposal$ | async)">
    <nz-table #basicTable [nzData]="(data?.transactions$ | async) || []" [nzShowPagination]="false">
    <thead>
        <tr>
        <th i18n>Voter</th>
        <th i18n>Date</th>
        <th i18n>Option</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of data?.transactions$ | async">
            <td class="cursor-pointer" [routerLink]="['/', 'member', t.member]"> @{{ (t.memberRec.name || t.member )| truncate:[16] }}</td>
            <td>{{ t.createdOn?.toDate() | date:"short" }}</td>
            <td>{{ data.findAnswerText((data?.proposal$ | async)?.questions, t.payload.values) }}</td>
        </tr>
    </tbody>
    </nz-table>
</nz-card>

<nz-card nzTitle="Approve Proposal"
    *ngIf="!(data?.proposal$ | async)?.approved && (isGuardianWithinSpace$ | async) && !(data?.proposal$ | async)?.rejected">
    <div class="mb-8 space-y-4">
    <button nz-button nzType="primary" nzBlock nzSize="large" (click)="onApprove.emit()">
        Approve</button>
    <button nz-button nzDanger nzType="primary" nzBlock nzSize="large" (click)="onReject.emit()">
        Decline</button>
    </div>
</nz-card>

<nz-card nzTitle="Proposal Info">
    <div class="wen-description-item bg-bg-background"  *ngIf="data.isNativeVote((data.proposal$ | async)?.type)">
        <span nz-typography class=" text-app-gray-400 flex-nowrap" i18n>Current Milestone</span>
        <p nz-typography>{{(data.lastMilestone$ | async)?.cmi}}</p>
    </div>

    <div class="wen-description-item bg-bg-background"  *ngIf="data.isNativeVote((data.proposal$ | async)?.type)">
        <span nz-typography class=" text-app-gray-400 flex-nowrap" i18n>Commence Date <wen-icon-question-circle
            class="ml-1" nz-tooltip [nzTooltipTitle]="'Milestone ' + (data.proposal$ | async)?.settings?.milestoneIndexCommence"></wen-icon-question-circle></span>
        <p nz-typography>{{data.getCommenceDate(data.proposal$ | async) | date:'short'}}</p>
    </div>

    <div class="wen-description-item bg-bg-background">
        <span nz-typography class=" text-app-gray-400 flex-nowrap" i18n>Start Date <wen-icon-question-circle *ngIf="data.isNativeVote((data.proposal$ | async)?.type)"
            class="ml-1" nz-tooltip [nzTooltipTitle]="'Milestone ' + (data.proposal$ | async)?.settings?.milestoneIndexStart"></wen-icon-question-circle></span>
        <p nz-typography>{{data.getStartDate(data.proposal$ | async) | date:'short'}}</p>
    </div>
    <div class="wen-description-item bg-bg-background">
        <span nz-typography class="text-app-gray-400 flex-nowrap" i18n>End Date <wen-icon-question-circle *ngIf="data.isNativeVote((data.proposal$ | async)?.type)"
            class="ml-1" nz-tooltip [nzTooltipTitle]="'Milestone ' + (data.proposal$ | async)?.settings?.milestoneIndexEnd"></wen-icon-question-circle></span>
        <p nz-typography>{{data.getEndDate(data.proposal$ | async) | date:'short'}}</p>
    </div>
    <div class="wen-description-item bg-bg-background">
        <span nz-typography class="flex text-app-gray-400 flex-nowrap" i18n>Voting Type <wen-icon-question-circle
            class="ml-1" nz-tooltip nzTooltipTitle="Voting Type of this proposal."></wen-icon-question-circle></span>
        <p nz-typography>{{data.getVotingTypeText((data.proposal$ | async)?.subType)}}</p>
    </div>
    <div class="wen-description-item bg-bg-background" *ngIf="data.isMemberVote((data.proposal$ | async)?.type)">
        <span nz-typography class="flex text-app-gray-400 flex-nowrap" i18n>Total Weight <wen-icon-question-circle
            class="ml-1" nz-tooltip nzTooltipTitle="Total weight within this proposal for all participants."></wen-icon-question-circle> </span>
        <p nz-typography>{{(data.proposal$ | async)?.totalWeight || 0}}</p>
    </div>

    <a nz-button (click)="onExportClick.emit()" *ngIf="data.isNativeVote((data.proposal$ | async)?.type)" nzType="link">Export to JSON</a>
</nz-card>