<div class="flex flex-col lg:flex-row items-center justify-between lg:flex-row">
  <wen-tabs [tabs]="sections" class="lg:mr-10"></wen-tabs>

  <nz-input-group nzSize="default" [nzPrefix]="prefixIconSearch"
                  class="shadow-none border-inputs-border dark:border-inputs-border-dark outline-0 mt-5 lg:mt-0 lg:max-w-1/3" nzSearch>
    <input
      type="text" nz-input i18n-placeholder placeholder="Search"
      class="text-base bg-inputs-background dark:bg-inputs-background-dark"
      [formControl]="filterControl"/>
  </nz-input-group>

  <ng-template #prefixIconSearch>
    <i nz-icon nzType="search" class="text-xl"></i>
  </ng-template>
</div>

<div class="mt-8 lg:mt-11">
  <div class="mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">

      <nz-skeleton *ngIf="isLoading(tokens$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl w-76 h-76" [nzActive]="true"
          [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

      <nz-card class="w-76" *ngIf="isEmpty(tokens$ | async)">
          <div class="flex flex-col justify-center text-center h-36">
              <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                  No Tokens
              </span>
          </div>
      </nz-card>

      <wen-token-trading-pair-row class="block w-full mb-2 lg:mb-3"
        *ngFor="let token of tokens$ | async; trackBy: trackByUid" [token]="token"
        [isFavourite]="favourites.includes(token.uid)" (wenOnFavouriteClick)="favouriteClick(token)">
      </wen-token-trading-pair-row>
  </div>
</div>