<wen-modal-drawer
    i18n-title
    title="Trade details"
    [isOpen]="isOpen"
    [content]="content"
    (wenOnClose)="close()">
</wen-modal-drawer>

<ng-template #content>
    <ng-container *ngIf="isSinglePurchase">
        <div class="flex items-center mt-8 lg:mt-6">
            <nz-avatar [nzSrc]="previewImageService.getTokenSize(token?.icon)"
              class="border-2 border-tags-border dark:border-tags-border-dark min-w-12"
              nzShape="circle"
              [nzSize]="48">
            </nz-avatar>
            <div class="ml-4 text-lg font-bold">{{ token?.name }}</div>
            <div class="ml-2 font-medium">({{ token?.symbol }})</div>
        </div>
    
        <div class="flex items-center justify-between w-full px-6 py-4 mt-6 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-3xl">
            <div class="font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Traded amount</div>
    
            <div class="font-bold">{{ unitsService.format(tradeDetailPurchases[0].count, token?.mintingData?.network, true, false) }} {{ token?.symbol }}</div>
        </div>
        <div class="flex items-center justify-between w-full px-6 py-4 mt-2 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-3xl">
            <div class="font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                Date and Time</div>
    
            <div class="font-bold">{{ tradeDetailPurchases[0].createdOn?.toDate() | date: 'medium' }}</div>
        </div>
        <div class="flex items-center justify-between w-full px-6 py-4 mt-2 mb-8 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-3xl">
            <div class="font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                <ng-container i18n>Price in</ng-container> {{ unitsService.label(token?.mintingData?.network) }}</div>
    
            <div class="font-bold">{{ unitsService.format((tradeDetailPurchases[0].price || 0) * 1000 * 1000, token?.mintingData?.network, undefined, false) }}</div>
        </div>
    </ng-container>

    <nz-table class="block w-full overflow-y-auto lg:min-h-0"
            [nzData]="[{}]" [nzShowPagination]="false" nzSize="small">
            <thead>
                <tr>
                    <th i18n>Date</th>
                    <th>
                        <ng-container i18n>Amount</ng-container> ({{ token?.symbol }})
                    </th>
                    <th i18n>State</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let item of tradeDetailPurchases; let i = index">
                    <tr *ngIf="billPaymentTransactions$[i] | async">
                        <td class="text-sm font-medium">{{ (billPaymentTransactions$[i] | async)?.createdOn?.toDate() | date: 'medium' }}</td>
                        <td class="text-sm font-medium">{{ unitsService.format((billPaymentTransactions$[i] | async)?.payload.amount, (billPaymentTransactions$[i] | async)?.sourceNetwork, undefined, false) }}</td>
                        <td class="text-sm font-medium">
                            <ng-container *ngIf="tradeDetailPurchases[i]?.triggeredBy === tokenTradeOrderTypes.BUY" i18n>Fullfilment</ng-container>
                            <ng-container *ngIf="tradeDetailPurchases[i]?.triggeredBy === tokenTradeOrderTypes.SELL" i18n>Seller</ng-container>
                        </td>
                        <td class="text-right">
                            <a class="text-xs font-medium text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark"
                                target="_blank" [href]="transactionService.getExplorerLink((billPaymentTransactions$[i] | async) || undefined)" i18n>Transaction</a>
                        </td>
                    </tr>
                    <tr *ngIf="buyerBillPaymentTransactions$[i] | async">
                        <td class="text-sm font-medium">{{ (buyerBillPaymentTransactions$[i] | async)?.createdOn?.toDate() | date: 'medium' }}</td>
                        <td class="text-sm font-medium">{{ unitsService.format((buyerBillPaymentTransactions$[i] | async)?.payload.amount, (buyerBillPaymentTransactions$[i] | async)?.sourceNetwork, undefined, false) }}</td>
                        <td class="text-sm font-medium">
                            <ng-container *ngIf="tradeDetailPurchases[i]?.triggeredBy === tokenTradeOrderTypes.BUY" i18n>Seller</ng-container>
                            <ng-container *ngIf="tradeDetailPurchases[i]?.triggeredBy === tokenTradeOrderTypes.SELL" i18n>Fullfilment</ng-container>
                        </td>
                        <td class="text-right">
                            <a class="text-xs font-medium text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark"
                                target="_blank" [href]="transactionService.getExplorerLink((buyerBillPaymentTransactions$[i] | async) || undefined)" i18n>Transaction</a>
                        </td>
                    </tr>
                    <tr *ngFor="let item of royaltyBillPaymentsTransactions$[i] | async">
                        <td class="text-sm font-medium">{{ item?.createdOn?.toDate() | date: 'medium' }}</td>
                        <td class="text-sm font-medium">{{ unitsService.format(item?.payload.amount, item?.sourceNetwork, undefined, false) }}</td>
                        <td class="text-sm font-medium">
                            Fee
                        </td>
                        <td class="text-right">
                            <a class="text-xs font-medium text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark"
                                target="_blank" [href]="transactionService.getExplorerLink(item || undefined)" i18n>Transaction</a>
                        </td>
                    </tr>
                </ng-container>
            </tbody>
        </nz-table>
</ng-template>
