<wen-content [showBackButton]="true">
    <ng-container *ngIf="deviceService.isMobile$ | async">
        <wen-drawer-toggle i18n-label label="About collection" (click)="isAboutCollectionVisible = true">
        </wen-drawer-toggle>
    </ng-container>

    <div class="relative w-auto h-48 mt-8 overflow-hidden lg:h-96 lg:mt-16 rounded-2xl">
        <img [src]="(data.collection$ | async)?.bannerUrl || '/assets/mocks/no_banner.jpg'" class="object-cover w-full h-full rounded-3xl" />

        <div *ngIf="(data.collection$ | async)?.limitedEdition" class="absolute z-10 py-2.5 px-4 bg-alerts-warning dark:bg-alerts-warning-dark rounded-br-2xl top-0 left-0 font-medium text-sm text-accent-secondary dark:text-accent-secondary-dark" i18n>
            Limited edition
        </div>
    </div>

    <div class="relative w-full mt-6" nz-row [nzGutter]="40">
        <div class="flex-auto p-0 my-0 ml-5 -mr-5 lg:mx-0 lg:px-5" [ngStyle]="{
            'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
            }">
            <nz-tag class="wen-status-tag bg-tags-commencing dark:bg-tags-commencing-dark border-tags-commencing dark:border-tags-commencing-dark" i18n>Collection</nz-tag>
            <wen-collection-status [collection]="data.collection$ | async"></wen-collection-status>

            <h1 class="mt-3 mb-0 lg:mt-2">{{ (data.collection$ | async)?.name }}</h1>

            <div class="w-full mt-10 mb-4 space-y-4" *ngIf="(deviceService.isMobile$ | async)">
                <button nz-button nzType="primary" (click)="approve()" *ngIf="data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async)" nzBlock nzSize="large" i18n>
                    Publish Collection
                </button>

                <button nz-button nzDanger nzType="primary" (click)="reject()" *ngIf="data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async)" nzBlock nzSize="large" i18n>
                    Reject Collection
                </button>

                <button nz-button nzDanger nzType="primary" (click)="reject()"
                    *ngIf="!data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async) && !helper.isAvailable(data.collection$ | async) && !(data.collection$ | async)?.rejected"
                    nzBlock nzSize="large" i18n>
                    Cancel Collection
                </button>

                <button nz-button class="wen-secondary" (click)="edit()" *ngIf="(data.creator$ | async)?.uid === (auth.member$ | async)?.uid" nzBlock nzSize="large" i18n>
                    Edit Collection
                </button>
            </div>

            <div class="flex flex-col flex-wrap mt-8 lg:items-center lg:flex-row w-max">
                <a [routerLink]="['/space', (data.space$ | async)?.uid]" class="flex items-center justify-between">
                    <nz-avatar
                        [nzSrc]="previewImageService.getAvatarSize((data.space$ | async)?.avatarUrl)"
                        [nzSize]="32"
                        class="border-2 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark min-w-8"
                        nzShape="circle"
                    >
                    </nz-avatar>
                    <div class="ml-3">
                        <div class="text-xs font-medium text-foregrounds-secondary" i18n>Space</div>
                        <div class="font-medium">{{ (data.space$ | async)?.name | truncate:[12] }}</div>
                    </div>
                </a>

                <a *ngIf="(data.royaltySpace$ | async) && (data.collection$ | async)?.royaltiesSpace !== (data.collection$ | async)?.space"
                    [routerLink]="['/space', (data.royaltySpace$ | async)?.uid]" class="flex items-center justify-between mt-4 lg:ml-10 lg:mt-0">
                    <nz-avatar
                        [nzSrc]="previewImageService.getAvatarSize((data.royaltySpace$ | async)?.avatarUrl)"
                        [nzSize]="32"
                        class="border-2 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark min-w-8"
                        nzShape="circle"
                    >
                    </nz-avatar>
                    <div class="ml-3">
                        <div class="text-xs font-medium text-foregrounds-secondary" i18n>Royalties goes to</div>
                        <div class="font-medium" i18n>{{ (data.royaltySpace$ | async)?.name | truncate:[12] }}</div>
                    </div>
                </a>
            </div>

            <div class="flex items-center justify-center w-full py-3 mt-6 lg:mt-3 bg-tags-commencing dark:bg-tags-commencing-dark rounded-2xl"
                *ngIf="helper.isDateInFuture((data.collection$ | async)?.availableFrom)">
                <wen-icon-time class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark"></wen-icon-time>
                <div class="ml-2.5">
                    <span class="font-bold" i18n>Starts at</span>
                    <span class="font-medium"> {{ (data.collection$ | async)?.availableFrom?.toDate() | date:'medium' }}</span>
                </div>
            </div>

            <div class="flex flex-wrap items-center w-full mt-4 lg:mt-3">
                <div class="h-16 px-4 py-3 mr-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark grow lg:w-32 rounded-xl lg:mt-2">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Items</div>
                    <div class="text-lg font-bold truncate">{{ (data.collection$ | async)?.total || 0}}</div>
                </div>

                <!-- <div class="h-16 px-4 py-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark grow lg:w-32 rounded-xl lg:mr-3 lg:mt-2">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Available to buy</div>
                    <div class="text-lg font-bold truncate">{{((data.collection$ | async)?.total || 0) - ((data.collection$ | async)?.sold || 0)}}</div>
                </div> -->

                <div class="w-full h-16 px-4 py-3 mt-5 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:grow lg:w-32 rounded-xl lg:mt-2" *ngIf="data.cheapestNft$ | async">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Price starts at</div>
                    <div class="text-lg font-bold truncate">{{unitsService.format((data.cheapestNft$ | async)?.price, (data.collection$ | async)?.mintingData?.network)}}</div>
                </div>
            </div>

            <div class="flex items-center p-5 mt-8 rounded-xl bg-alerts-warning dark:bg-alerts-warning-dark text-foregrounds-primary" *ngIf="helper.isAvailableForSale(data.collection$ | async)">
                <wen-icon-alert-octagon class="mr-2.5 lg:mr-3.5"></wen-icon-alert-octagon>
                <div class="text-lg font-bold">
                    <span i18n>Sale in progress</span>
                    <span> - {{((data.collection$ | async)?.total || 0) - ((data.collection$ | async)?.sold || 0)}} </span>
                    <span i18n>remaining</span>
                </div>
            </div>

            <div class="mt-10 font-medium lg:mt-6" [innerHtml]="(data.collection$ | async)?.description | markdown">
            </div>

        </div>

        <div class="space-y-4" nz-col nzFlex="450px" style="max-width: 450px;"
            *ngIf="(deviceService.isDesktop$ | async)">
            <button nz-button nzType="primary" (click)="approve()" *ngIf="data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async)" nzBlock nzSize="large" i18n>
              Publish Collection
            </button>

            <button nz-button nzDanger nzType="primary" (click)="reject()" *ngIf="data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async)" nzBlock nzSize="large" i18n>
              Reject Collection
            </button>

            <button nz-button nzDanger nzType="primary" (click)="reject()"
                *ngIf="!data.isPending(data.collection$ | async) && (data.isGuardianWithinSpace$ | async) && !helper.isAvailable(data.collection$ | async) && !(data.collection$ | async)?.rejected"
                nzBlock nzSize="large" i18n>
                Cancel Collection
            </button>

            <button nz-button class="wen-secondary" (click)="edit()" *ngIf="(data.creator$ | async)?.uid === (auth.member$ | async)?.uid" nzBlock nzSize="large" i18n>
                Edit Collection
            </button>

            <wen-collection-about></wen-collection-about>
        </div>
    </div>

    <nz-drawer [nzBodyStyle]="{ overflow: 'auto', padding: '8px' }" [nzWidth]="'100vw'" [nzClosable]="false"
        [nzVisible]="isAboutCollectionVisible">
        <div *nzDrawerContent class="relative h-full">
            <button class="absolute z-10 -top-0 right-5" (click)="isAboutCollectionVisible = false">
                <wen-icon-close></wen-icon-close>
            </button>

            <wen-collection-about></wen-collection-about>
        </div>
    </nz-drawer>

    <div class="w-screen h-px mt-16 mb-8 -ml-4 lg:-ml-20 xl:w-full xl:ml-0 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark lg:mt-12"></div>

    <div class="flex items-center justify-between">
        <nz-input-group
            nzSize="default" [nzPrefix]="prefixIconSearch"
            class="w-full border-none shadow-none outline-0 lg:w-96" nzSearch>
            <input type="text" nz-input i18n-placeholder placeholder="Find item" class="text-base bg-inputs-background dark:bg-inputs-background-dark" [formControl]="filterControl"/>
        </nz-input-group>
        <ng-template #prefixIconSearch>
            <i nz-icon nzType="search" class="text-xl"></i>
        </ng-template>

        <button nz-button nzType="primary" nzSize="default"
            *ngIf="!helper.isLocked(data.collection$ | async) && (data.creator$ | async)?.uid === (auth.member$ | async)?.uid"
            class="flex items-center justify-center w-10 ml-8 rounded-full lg:justify-start lg:w-auto" (click)="createNft()">
            <wen-icon-plus class="lg:mr-2"></wen-icon-plus>
            <div *ngIf="(deviceService.isDesktop$ | async)" i18n>Create NFT</div>
        </button>
    </div>


    <div class="w-full h-px mt-8 mb-6 bg-foregrounds-secondary dark:bg-foregrounds-secondary-dark" *ngIf="!(data.collection$ | async)?.rejected && (data.creator$ | async)?.uid === (auth.member$ | async)?.uid"></div>

    <div class="flex items-end justify-between">
        <div class="flex items-center mt-6 lg:mt-12 lg:mt-8">
            <ng-container *ngIf="deviceService.isDesktop$ | async; else hotTagsMobileBlock">
                <nz-tag *ngFor="let tag of hotTags" nzMode="checkable" [nzChecked]="(selectedTags$ | async)!.indexOf(tag) > -1"
                    (nzCheckedChange)="handleChange(tag)">
                    {{ tag }}
                </nz-tag>
            </ng-container>

            <ng-template #hotTagsMobileBlock>
                <nz-select class="w-fit wen-sort-button min-w-32" [ngModel]="hotTags[0]" (ngModelChange)="handleChange($event)">
                    <nz-option *ngFor="let tag of hotTags" i18n-nzLabel [nzLabel]="tag" [nzValue]="tag"></nz-option>
                </nz-select>
            </ng-template>
        </div>

        <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
            <nz-select class="wen-sort-button" i18n-nzPlaceHolder nzPlaceHolder="Price" [nzCustomTemplate]="defaultTemplate"
                [formControl]="sortControl" nz-tooltip>
                <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                <nz-option i18n-nzLabel nzLabel="Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                <nz-option i18n-nzLabel nzLabel="High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
            </nz-select>
            <ng-template #defaultTemplate let-selected>
                <div class="flex items-center">
                    <div nz-typography nzType="secondary" class="mr-1 text-xs">
                        <ng-container *ngIf="selected.nzValue === filter.sortOptions.RECENT; else notRecent" i18n>Sort by</ng-container>
                        <ng-template #notRecent i18n>Price</ng-template>
                    </div>
                    <span>{{ selected.nzLabel }}</span>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #sortMobileBlock>
            <div class="relative">
                <nz-select class="w-40 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon">
                  <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
                </nz-select>
                <ng-template #mobileSuffixIcon>
                    <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
                </ng-template>
            </div>
        </ng-template>
    </div>

    <div class="mt-10 lg:grid place-items-start" *ngIf="(data.collection$ | async)?.uid">
        <p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(data.nft$ | async)">
          {{ getTotalNfts(data.nft$ | async, data.collection$ | async) + ((maxRecords$ | async) === false ? '+' : '') }} NFTs
        </p>
        <div class="mb-10 wen-cards-wrapper" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()">

            <nz-skeleton *ngIf="isLoading(data.nft$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl w-76 h-76" [nzActive]="true"
                [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

            <nz-card class="w-76" *ngIf="isEmpty(data.nft$ | async) && !((data.collection$ | async)?.placeholderNft && (data.firstNft$ | async))">
                <div class="flex flex-col justify-center text-center h-36">
                    <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                        No NFTs
                    </span>
                </div>
            </nz-card>

            <!-- Place holder NFT MUST be always first -->
            <wen-nft-card
              *ngIf="(data.collection$ | async)?.placeholderNft && (data.firstNft$ | async)" [collection]="(data.collection$ | async)"
              class="w-full h-full outline-none"
              [nft]="(data.firstNft$ | async)">
            </wen-nft-card>

            <ng-container *ngFor="let nft of data.nft$ | async; trackBy: trackByUid">
              <wen-nft-card [collection]="(data.collection$ | async)" class="w-full h-full outline-none"
                  *ngIf="!(data.collection$ | async)?.placeholderNft || ((data.collection$ | async)?.placeholderNft && nft.uid !== (data.firstNft$ | async)?.uid)"
                  [nft]="nft">
              </wen-nft-card>
            </ng-container>
        </div>
    </div>
</wen-content>
