
<div class="mt-12 text-2xl font-bold" i18n>
    Token description
</div>

<nz-card i18n-nzTitle nzTitle="Breakdown" class="mt-4 lg:mt-6">
    <wen-description [items]="breakdownData"></wen-description>
</nz-card>

<nz-card i18n-nzTitle nzTitle="Token distribution" class="mt-4 lg:mt-6">
    <div class="flex flex-col xl:flex-row justify-between w-full">
        <div class="block relative w-full xl:w-3/5">
            <canvas baseChart width="400" height="180"
                [data]="lineChartData"
                [options]="lineChartOptions"
                [type]="lineChartType"></canvas>

            <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 z-10 text-center">
                <span class="text-2xl font bold">{{ (data.token$ | async)?.totalSupply }}</span>
                <span class="font-medium text-foregrounds-secondary dark:text-foregrounds-secondary"> {{ (data.token$ | async)?.symbol }}</span>
            </div>
        </div>


        <div class="xl:space-x-0 xl:space-y-3 flex xl:flex-col flex-wrap items-start mt-8 xl:mt-0">
            <div *ngFor="let a of (data.token$ | async)?.allocations; let i = index"
                class="flex mr-4 xl:mr-0 mt-4 xl:mt-0">
                <div class="w-6 h-3 rounded-md mr-2" [ngStyle]="{ 'background-color': colors[i] }"></div>
                <div class="font-medium -mt-1.5">
                    <div class="truncate">{{ a.title }}</div>
                    <div class="text-foregrounds-secondary dark:text-foregrounds-secondary-dark mt-1 truncate">
                        {{ a.percentage }}% ({{ percentageTokenAmount(a, (data.token$ | async) || undefined) }} {{ (data.token$ | async)?.symbol }})</div>
                </div>
            </div>
        </div>
    </div>
</nz-card>