<p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(spaces$ | async)">
  {{ ((spaces$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} spaces
</p>
<div class="flex flex-wrap gap-6 mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <nz-skeleton *ngIf="isLoading(spaces$ | async)" class="p-4 bg-white rounded-2xl w-75 h-75" [nzActive]="true"
    [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

  <nz-card class="w-75" *ngIf="isEmpty(spaces$ | async)">
    <div class="flex flex-col justify-center text-center h-36">
      <span class="leading-7 text-app-gray-400">
        No Spaces
      </span>
    </div>
  </nz-card>

  <wen-space-card class="outline-none" *ngFor="let s of spaces$ | async; trackBy: trackByUid" [space]="s">
  </wen-space-card>
</div>
