<ais-instantsearch [config]="config">
  <div class="container">
    <ais-hits-per-page
      class="container-option"
      [items]="paginationItems"
    >
    </ais-hits-per-page>
    <ais-sort-by
      class="container-option"
      [items]="sortItems"
    ></ais-sort-by>
    <ais-stats>
      <ng-template let-state="state">
        {{state.nbHits}} results found in {{state.processingTimeMS}} ms.
      </ng-template>
    </ais-stats>
  </div>

  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections"></wen-search-box>
    </div>
  </header>

  <main class="container">

    <section class="container-results mr-10">

      <ais-hits >
        <ng-template let-hits="hits">

          <div class="mt-10 xl:grid place-items-start">

            <div class="wen-cards-wrapper mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
            >
              <wen-space-card class="w-full h-full outline-none"
                              *ngFor="let space of hits; trackBy: trackByUid"
                              [space]="space">
              </wen-space-card>
            </div>

          </div>
        </ng-template>
      </ais-hits>

      <footer class="container-footer">
        <ais-pagination
          [padding]="2"
          [showFirst]="true"
          [showLast]="true"
        ></ais-pagination>
      </footer>
    </section>


    <div class="container-wrapper">
      <section class="container-filters">
        <div class="container-header">
          <h4>Filters&Sorts</h4>
          <wen-sort-by
            [items]="sortItems"
          ></wen-sort-by>
          <ais-clear-refinements
            class="clear-filters"
            data-layout="desktop"
            resetLabel="Clear filters"
          ></ais-clear-refinements>

          <ais-stats data-layout="mobile">
            <ng-template let-state="state">
              <span class="ais-Stats-text">
                <strong>{{ state.nbHits | number }}</strong> results in <strong>{{state.processingTimeMS}}</strong> ms.
              </span>
            </ng-template>
          </ais-stats>
        </div>


        <div class="container-body">

          <nz-collapse>
            <ais-panel
              header="ALL / Open only"
            >
              <ais-toggle
                attribute="open"
                label="only&nbsp;open&nbsp;"
                [on]="true"
              ></ais-toggle>
            </ais-panel>

          </nz-collapse>

        </div>


      </section>
    </div>

  </main>
</ais-instantsearch>




<div class="flex items-end justify-between">
  <div class="flex items-center mt-6 lg:mt-12">
    <ng-container *ngIf="deviceService.isDesktop$ | async; else hotTagsMobileBlock">
      <nz-tag *ngFor="let tag of hotTags" nzMode="checkable" [nzChecked]="(selectedTags$ | async)!.indexOf(tag) > -1"
        (nzCheckedChange)="handleChange(tag)">
        {{ hotTagsLabels[tag] }}
      </nz-tag>
    </ng-container>

    <ng-template #hotTagsMobileBlock>
      <nz-select class="w-fit wen-sort-button min-w-32" [ngModel]="hotTags[0]" (ngModelChange)="handleChange($event)">
        <nz-option *ngFor="let tag of hotTags" i18n-nzLabel [nzLabel]="hotTagsLabels[tag]" [nzValue]="tag"></nz-option>
      </nz-select>
    </ng-template>
  </div>

  <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
    <nz-select class="w-48 wen-sort-button" i18n-nzPlaceHolder nzPlaceHolder="Sort by" nzDropdownClassName="wen-select-min-height" [nzCustomTemplate]="defaultTemplate"
      [formControl]="sortControl" nz-tooltip>
      <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
      <nz-option i18n-nzLabel nzLabel="Oldest" [nzValue]="filter.sortOptions.OLDEST"></nz-option>
    </nz-select>
    <ng-template #defaultTemplate let-selected>
      <span nz-typography nzType="secondary" class="text-xs" i18n>Sort by</span>
      <span>
        {{ selected.nzLabel }}
      </span>
    </ng-template>
  </ng-container>
  <ng-template #sortMobileBlock>
    <div class="relative">
      <nz-select class="w-32 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon">
        <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
        <nz-option i18n-nzLabel nzLabel="Oldest" [nzValue]="filter.sortOptions.OLDEST"></nz-option>
      </nz-select>
      <ng-template #mobileSuffixIcon>
        <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
      </ng-template>
    </div>
  </ng-template>
</div>

<div class="mt-10 lg:grid place-items-start">
  <p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(spaces$ | async)">
    {{ ((spaces$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} spaces
  </p>
  <div class="wen-cards-wrapper mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <nz-skeleton *ngIf="isLoading(spaces$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl w-76 h-76" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

    <nz-card class="w-76" *ngIf="isEmpty(spaces$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
          No Spaces
        </span>
      </div>
    </nz-card>

    <wen-space-card class="w-full h-full outline-none" *ngFor="let s of spaces$ | async; trackBy: trackByUid" [space]="s">
    </wen-space-card>
  </div>
</div>


