<div class="relative w-full bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark px-3 py-3 lg:px-5 lg:py-3.5 rounded-2xl">
    <div class="block lg:flex lg:items-center hover:text-current border-box-children">
        <div class="flex items-center w-full lg:min-w-[20%] lg:max-w-[20%] overflow-auto">
            <div class="flex items-center">
                <nz-avatar [nzSrc]="previewImageService.getTokenSize(token?.icon)"
                  class="border-2 border-tags-border dark:border-tags-border-dark min-w-10"
                  nzShape="circle"
                  [nzSize]="40">
                </nz-avatar>
                <div class="flex items-center ml-3 lg:block">
                    <div class="text-sm font-bold lg:text-base">{{ token?.symbol }}</div>
                    <div class="ml-2 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark lg:text-sm lg:ml-0">{{ token?.name }}</div>
                </div>
            </div>
        </div>

        <div class="flex items-center justify-between px-3 mt-4 space-x-3" *ngIf="deviceService.isMobile$ | async">
            <ng-container *ngTemplateOutlet="statsBlock"></ng-container>
        </div>

        <ng-container *ngIf="deviceService.isDesktop$ | async">
            <ng-container *ngTemplateOutlet="statsBlock"></ng-container>
        </ng-container>

        <div *ngIf="deviceService.isDesktop$ | async" class="min-w-[18%] max-w-[18%] overflow-auto flex items-center justify-end">
            <button nz-button nzType="default" nzSize="small" class="w-16 mr-2" [routerLink]="['/', this.path, token?.uid]" i18n>
                Detail
            </button>
            <button nz-button nzType="primary" nzSize="small" class="w-16" [routerLink]="['/', this.path, token?.uid, tradePath]" i18n>
                Trade
            </button>
        </div>
    </div>
</div>

<ng-template #statsBlock>
    <div class="w-full font-medium min-w-[15%] max-w-[25%] lg:min-w-[10%] lg:max-w-[10%] overflow-auto">
        <div class="text-xs text-right lg:text-left text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
            <ng-container i18n>Price</ng-container> ({{ unitsService.label(token?.mintingData?.network) }})
        </div>
        <div class="mt-0.5 text-right lg:text-left">
            {{ unitsService.format((((listenAvgPrice24h$ | async) || 0) * 1000 * 1000), token?.mintingData?.network, false, false) | unknownIfZero}}
        </div>
    </div>

    <div class="w-full font-medium text-right min-w-[15%] max-w-[25%] lg:min-w-[12%] lg:max-w-[12%] overflow-auto">
        <div class="text-xs text-right text-foregrounds-secondary dark:text-foregrounds-secondary-dark lg:w-full whitespace-nowrap" i18n>
            24h Change
        </div>
        <div
            [ngClass]="(((listenChangePrice24h$ | async) || 0) > 0 ? 'text-alerts-success class.dark:text-alerts-success-dark' : '') + (((listenChangePrice24h$ | async) || 0) < 0 ? 'text-alerts-error class.dark:text-alerts-error-dark' : '')"
            class="mt-0.5 lg:w-full text-right whitespace-nowrap">
                {{(listenChangePrice24h$ | async) || 0 | percent}}
        </div>
    </div>

    <div class="w-full font-medium text-right lg:px-0 lg:mt-0 min-w-[15%] max-w-[25%] lg:min-w-[10%] lg:max-w-[20%] overflow-auto">
        <ng-container>
            <div class="text-xs text-right text-foregrounds-secondary dark:text-foregrounds-secondary-dark lg:w-full whitespace-nowrap">
                <ng-container i18n>24h Volume</ng-container> ({{ token?.symbol }})
            </div>
            <div class="mt-0.5 lg:w-full text-right whitespace-nowrap">
                {{ unitsService.format(listenVolume24h$ | async, undefined, true, false) | unknownIfZero }}
            </div>
        </ng-container>
    </div>

    <div class="w-full font-medium text-right min-w-[15%] max-w-[25%] lg:min-w-[15%] lg:max-w-[20%] overflow-auto">
        <div class="text-xs text-right text-foregrounds-secondary dark:text-foregrounds-secondary-dark lg:w-full whitespace-nowrap">
            <ng-container i18n>Market Cap</ng-container> ({{ unitsService.label(token?.mintingData?.network) }})
        </div>
        <div class="mt-0.5 lg:w-full text-right whitespace-nowrap">
            {{ unitsService.format((this.token?.totalSupply || 0) * ((listenAvgPrice24h$ | async) || 0), token?.mintingData?.network, false, false) | unknownIfZero }}
        </div>
    </div>
</ng-template>
