<div class="relative select-none w-full" wenClickOutside (clickOutside)="onClickOutside()"
    (click)="isOptionsOpen = !isOptionsOpen; isDrawerOpen = true">
    <div class="rounded-9 bg-white flex items-center cursor-pointer border border-white" 
        [ngClass]="{
            'px-3 py-2 text-base font-semibold': size === selectBoxSizes.SMALL,
            'px-4 py-4 text-2xl font-bold': size === selectBoxSizes.LARGE,
            'border-app-gray-200': size === selectBoxSizes.LARGE && !isOptionsOpen,
            'border-orange': isOptionsOpen
        }">
        <div *ngIf="showImages" 
            [ngClass]="{
                'mr-2': size === selectBoxSizes.SMALL,
                'mr-4': size === selectBoxSizes.LARGE
            }">
            <ng-container *ngIf="optionValue?.img">
                <img *ngIf="!isAvatar" [src]="optionValue?.img" alt="Chosen option image"
                    [ngClass]="{
                        'min-w-6': size === selectBoxSizes.SMALL,
                        'min-w-10': size === selectBoxSizes.LARGE
                    }">

                <nz-avatar
                    *ngIf="isAvatar"
                    [nzSrc]="optionValue?.img"
                    [nzSize]="size === selectBoxSizes.SMALL ? 24 : 40"
                    class="mr-3 border-2 border-app-gray-100"
                    nzShape="circle"
                >
                </nz-avatar>
            </ng-container>
            <wen-icon-default-space *ngIf="!optionValue?.img" [size]="size === selectBoxSizes.SMALL ? 24 : 40"></wen-icon-default-space>
        </div>
        {{ optionValue?.label }}
        <div class="ml-auto" *ngIf="suffixIcon">
            <ng-container *ngTemplateOutlet="suffixIcon"></ng-container>
        </div>

        <div *ngIf="showArrow" class="ml-auto" (click)="onAngleClick($event)">
            <wen-icon-angle-down *ngIf="!isOptionsOpen" class="block"></wen-icon-angle-down>
            <wen-icon-angle-up *ngIf="isOptionsOpen" class="block"></wen-icon-angle-up>
        </div>
    </div>
    
    <wen-select-box-options *ngIf="(deviceService.isDesktop$ | async) || !mobileDrawer; else drawerBlock"
        [value]="value"
        [isOptionsOpen]="isOptionsOpen"
        [optionsWrapperClasses]="optionsWrapperClasses"
        [isSearchable]="isSearchable"
        [searchControl]="searchControl"
        [options]="options"
        [shownOptions]="shownOptions"
        [showImages]="showImages"
        [isAvatar]="isAvatar"
        (onEraseClick)="onEraseClick()"
        (onOptionClick)="onOptionClick($event)">
    </wen-select-box-options>

    <ng-template #drawerBlock>
        <nz-drawer *ngIf="deviceService.isMobile$ | async"
            [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
            [nzWidth]="'100vw'"
            [nzClosable]="false"
            [nzVisible]="isDrawerOpen">
            >
            <div *nzDrawerContent class="relative h-full">
                <button class="absolute z-10 top-0 right-5" (click)="isDrawerOpen = false; isOptionsOpen = false">
                  <wen-icon-close></wen-icon-close>
                </button>
                <div class="text-3xl font-bold">{{ title }}</div>
                <div>
                    <wen-select-box-options
                        [value]="value"
                        [isOptionsOpen]="isOptionsOpen"
                        [optionsWrapperClasses]="optionsWrapperClasses"
                        [isSearchable]="isSearchable"
                        [searchControl]="searchControl"
                        [options]="options"
                        [shownOptions]="shownOptions"
                        [showImages]="showImages"
                        [isAvatar]="isAvatar"
                        (onEraseClick)="onEraseClick()"
                        (onOptionClick)="onOptionClick($event)">
                    </wen-select-box-options>
                </div>
            </div>
        </nz-drawer>
    </ng-template>
</div>
