<div class="relative w-full overflow-hidden rounded-2xl">
    <img [src]="'/assets/mocks/no_banner.jpg'" class="object-cover w-full h-full rounded-3xl" />
</div>

<div class="mt-12">
    <div class="text-2xl font-bold" i18n>Token description</div>
    <p class="whitespace-pre-line mt-5" [innerHtml]="'asdjuasdhuashduashd' | markdown"></p>
</div>

<div class="mt-12">
    <div class="text-2xl font-bold" i18n>About Project</div>
    <p class="whitespace-pre-line mt-5" [innerHtml]="'asdjuasdhuashduashd' | markdown"></p>
</div>
  
<div class="mt-12">
    <div class="text-2xl font-bold" i18n>Any title belongs here</div>
    <p class="whitespace-pre-line mt-5" [innerHtml]="'asdjuasdhuashduashd' | markdown"></p>
</div>
  