<button nz-button nzSize="small"
  class="h-10 px-6 font-semibold text-blue-600 bg-white border-white mt-14 hover:text-blue-600 hover:border-blue-600 focus:border-blue-600 rounded-3xl"
  [routerLink]="urlToSpaces"><i nz-icon nzType="left"></i>Back to Discover</button>

<h1 class="mt-7" i18 n>New Award</h1>

<form nz-form nzLayout="vertical">
  <div class="space-y-4" nz-col nzFlex="auto">

    <nz-card [nzBordered]="false" nzTitle="Award Info">
      <div class="space-y-4">
        <input nz-input placeholder="Title" />
        <div class="flex flex-grow space-x-4">
          <nz-date-picker class="flex flex-grow" nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss" nzPlaceHolder="Start">
          </nz-date-picker>
          <nz-date-picker class="flex flex-grow" #endDatePicker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"
            nzPlaceHolder="End"></nz-date-picker>
        </div>
        <textarea nz-input placeholder="Award description" rows="4"></textarea>
      </div>
    </nz-card>

    <nz-card nzTitle="Badge definition">
      <input nz-input placeholder="Total Experience Points" />
      <input nz-input placeholder="Available Badges" />
    </nz-card>

    <nz-card [nzBordered]="false">
      <nz-card-meta nzTitle="Badge" nzDescription="Badge is minted once the task is completed.">
      </nz-card-meta>
    </nz-card>

  </div>

  <button nz-button nzType="primary" nzSize="small" type="button"
    class="h-10 px-6 m-2 font-semibold text-white bg-blue-600 border-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:bg-blue-700 focus:border-blue-700 rounded-3xl"
    i18n>Create award</button>
