<div class="flex items-center">
  <wen-tabs *ngIf="deviceService.isDesktop$ | async" [tabs]="sections" class="mr-10"></wen-tabs>

  <nz-input-group *ngIf="deviceService.isDesktop$ | async" nzSize="large" [nzPrefix]="prefixIconSearch"
    class="mr-8 shadow-none border-inputs-border dark:border-inputs-border-dark outline-0" nzSearch>
    <input type="text" nz-input i18n-placeholder placeholder="Tokens..." class="text-base bg-inputs-background dark:bg-inputs-background-dark" [disabled]="true"/>
  </nz-input-group>

  <ng-template #prefixIconSearch>
    <i nz-icon nzType="search" class="text-xl"></i>
  </ng-template>
</div>

<div *ngIf="deviceService.isMobile$ | async" class="w-full h-px mt-6 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark"></div>

<!-- <div class="flex flex-col items-end justify-between xl:flex-row">
    <div class="flex items-end justify-between w-full lg:items-start xl:items-end lg:mt-12">
        <div class="flex flex-col items-start xl:flex-row xl:items-center">
            <div class="mt-4 xl:mt-0">
                <div class="mb-2 text-xs font-medium text-foregrounds-secondary" i18n>Status</div>
                <nz-select
                    class="w-44"
                    nzSize="small"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Category"
                    [nzDropdownStyle]="{ 'min-width': '128px', 'max-width': '100%' }"
                    [nzDisabled]="true"
                    [formControl]="statusControl"
                    >
                    <nz-option
                        *ngFor="let cc of statuses; let i = index"
                        i18n-nzLabel
                        [nzLabel]="statusLabels[i]"
                        [nzValue]="cc"
                    >
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
            <nz-select class="mt-6 wen-sort-button xl:mt-0" i18n-nzPlaceHolder nzPlaceHolder="Sort by" [nzCustomTemplate]="defaultTemplate"
            [nzDisabled]="true"
                [formControl]="sortControl" nz-tooltip>
                <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                <nz-option i18n-nzLabel nzLabel="Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                <nz-option i18n-nzLabel nzLabel="High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
            </nz-select>
            <ng-template #defaultTemplate let-selected>
                <div class="flex items-center">
                    <div nz-typography nzType="secondary" class="mr-1 text-xs">
                        <ng-container *ngIf="selected.nzValue === filter.sortOptions.RECENT; else notRecent" i18n>Sort by</ng-container>
                        <ng-template #notRecent i18n>Price</ng-template>
                    </div>
                    <span>{{ selected.nzLabel }}</span>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #sortMobileBlock>
            <div class="relative mt-6">
                <nz-select class="w-40 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon"
                [nzDisabled]="true">
                  <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
                </nz-select>
                <ng-template #mobileSuffixIcon>
                    <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
                </ng-template>
            </div>
        </ng-template>
    </div>
</div> -->
<div class="mt-10">
  <p nz-typography nzType="secondary" class="mb-6 text-sm font-medium text-foregrounds-secondary" *ngIf="!isLoading(tokens$ | async)">
      {{ ((tokens$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} <span i18n>tokens</span>
  </p>
  <div class="mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
      <nz-skeleton *ngIf="isLoading(tokens$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl w-76 lg:w-full h-76 lg:h-16" [nzActive]="true"
          [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
          <nz-card class="w-76" *ngIf="isEmpty(tokens$ | async)">
            <div class="flex flex-col justify-center text-center h-36">
                <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    No tokens
                </span>
            </div>
        </nz-card>
        <wen-token-row *ngFor="let token of tokens$ | async; trackBy: trackByUid" [token]="token" class="block mb-6 lg:mb-3 rounded-2xl" [ngClass]="{
                'ongoing-wrapper': getCardType(token) === tokenCardTypes.ONGOING,
                'ending-wrapper': getCardType(token) === tokenCardTypes.ENDING
            }">
        </wen-token-row>
    </div>
</div>
