<div class="flex flex-col items-end justify-between xl:flex-row">
    <div class="flex items-end justify-between w-full lg:items-start xl:items-end lg:mt-12">
        <div class="flex flex-col items-start xl:flex-row xl:items-center">
            <div class="mt-4 xl:mt-0">
                <div class="mb-2 text-xs font-medium text-foregrounds-secondary" i18n>Status</div>
                <nz-select
                    class="w-44"
                    nzSize="small"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Category"
                    [nzDropdownStyle]="{ 'min-width': '128px', 'max-width': '100%' }"
                    [nzDisabled]="true"
                    [formControl]="statusControl"
                    >
                    <nz-option
                        *ngFor="let cc of statuses; let i = index"
                        i18n-nzLabel
                        [nzLabel]="statusLabels[i]"
                        [nzValue]="cc"
                    >
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
            <nz-select class="mt-6 wen-sort-button xl:mt-0" i18n-nzPlaceHolder nzPlaceHolder="Sort by" [nzCustomTemplate]="defaultTemplate"
            [nzDisabled]="true"
                [formControl]="sortControl" nz-tooltip>
                <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                <nz-option i18n-nzLabel nzLabel="Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                <nz-option i18n-nzLabel nzLabel="High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
            </nz-select>
            <ng-template #defaultTemplate let-selected>
                <div class="flex items-center">
                    <div nz-typography nzType="secondary" class="mr-1 text-xs">
                        <ng-container *ngIf="selected.nzValue === filter.sortOptions.RECENT; else notRecent" i18n>Sort by</ng-container>
                        <ng-template #notRecent i18n>Price</ng-template>
                    </div>
                    <span>{{ selected.nzLabel }}</span>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #sortMobileBlock>
            <div class="relative mt-6">
                <nz-select class="w-40 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon"
                [nzDisabled]="true">
                  <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
                </nz-select>
                <ng-template #mobileSuffixIcon>
                    <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
                </ng-template>
            </div>
        </ng-template>
    </div>
  </header>

  <main class="container">

    <div class="container-results mr-10">

      <ais-hits [transformItems]="convertAllToSoonaverseModel">
      </ais-hits>

    </div>
</div>
