<button nz-button nzSize="small"
  class="h-10 px-6 font-semibold text-blue-600 bg-white border-white mt-14 hover:text-blue-600 hover:border-blue-600 focus:border-blue-600 rounded-3xl"
  (click)="nav.goBack()"><wen-icon-angle-left></wen-icon-angle-left>{{nav.getTitle()}}</button>

<div class="relative py-12" nz-row [nzGutter]="40">
  <div nz-col nzFlex="auto" style="max-width: calc(100% - 450px);">
    <div class="mb-8 space-x-3">
      <nz-avatar [nzSrc]="getAvatarSize((data.space$ | async)?.avatarUrl)" class="bg-white border-gray-400" nzShape="circle">
      </nz-avatar>

      <nz-tag class="wen-status-tag bg-tag-blue border-tag-blue">Award</nz-tag>
      <nz-tag class="wen-status-tag bg-tag-red border-tag-red" *ngIf="data.isCompleted(data.award$ | async)">Completed
      </nz-tag>
      <nz-tag class="wen-status-tag bg-tag-green border-tag-green" *ngIf="!data.isCompleted(data.award$ | async)">
        Available</nz-tag>
    </div>

    <h1 i18n class="mb-6">{{(data.award$ | async)?.name}}</h1>

    <div class="flex items-center space-x-4">
      <div class="flex items-center">
        <i nz-icon nzType="calendar" class="pr-2 text-lg text-app-gray-400" nzTheme="outline"></i>
        <span>{{(data.award$ | async)?.createdOn?.toDate() | date:'short'}}</span>
      </div>
    </div>

    <wen-tabs class="block mt-12" [tabs]="sections"></wen-tabs>
    <div class="w-full py-12">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="space-y-4" nz-col nzFlex="450px">
    <ng-container *ngIf="!data.isCompleted(data.award$ | async) && (isLoggedIn$ | async)">
      <button nz-button nzType="primary" nzBlock nzSize="large" (click)="showParticipateModal()"
        *ngIf="!loggedInMemberIsParticipant()">
        Participate</button>
<!-- TODO
      <button nz-button nzType="primary" nzBlock nzSize="large" *ngIf="loggedInMemberIsParticipant()">
        Cancel Participation</button> -->
    </ng-container>

    <nz-card nzTitle="Award">
      <div class="flex flex-row items-center space-x-4">
        <nz-tag class="wen-xp-tag">{{getExperiencePointsPerBadge(data.award$ | async)}} XP</nz-tag>
        <p> + </p>
        <nz-avatar nzSrc="/assets/mocks/trophy.png" class="bg-white border-gray-400" nzShape="circle">
        </nz-avatar>
      </div>
    </nz-card>

    <nz-card nzTitle="System Info">
      <div class="wen-description-item bg-bg-background">
        <span nz-typography class=" text-app-gray-400">Badges used / available</span>
        <p nz-typography>{{(data.award$ | async)?.issued}} / {{(data.award$ | async)?.badge?.count}}</p>
      </div>
      <div class="wen-description-item bg-bg-background">
        <span nz-typography class=" text-app-gray-400">End Date</span>
        <p nz-typography>{{(data.award$ | async)?.endDate?.toDate() | date:'short'}}</p>
      </div>
    </nz-card>

    <nz-card nzTitle="Owner">
      <div *ngFor="let g of data.owners$ | async; trackBy: trackByUid">
        <nz-avatar nzIcon="user" nzSrc="/assets/mocks/default_avatar.jpg" class="mr-2">
        </nz-avatar>
        <span>@ {{ (g.name || g.uid) | truncate:[12] }}</span>
      </div>
    </nz-card>
  </div>
</div>

<nz-modal [(nzVisible)]="isSubmitParticipationModalVisible" nzTitle="Confirm your participation"
  (nzOnCancel)="handleParticipateCancel()" (nzOnOk)="participate()">
  <ng-container *nzModalContent>
    <p class="mb-2">The whole communication is now handled outside the platform, let the award creator know how to
      contact you.</p>
    <textarea nz-input placeholder="Provide description or link to your work." [formControl]="commentControl"
      rows="4"></textarea>
  </ng-container>
</nz-modal>
