<button nz-button class="wen-back-button mt-14" (click)="nav.goBack()">
  <wen-icon-angle-left class="flex"></wen-icon-angle-left>{{nav.getTitle()}}
</button>

<div class="relative py-12" nz-row [nzGutter]="40">
  <div nz-col nzFlex="auto" style="max-width: calc(100% - 450px);">
    <div class="mb-8 space-x-3">
      <a [routerLink]="['/space', (data.space$ | async)?.uid]">
        <nz-avatar [nzSrc]="getAvatarSize((data.space$ | async)?.avatarUrl)" class="mr-3 bg-white border-gray-400"
          nzShape="circle">
        </nz-avatar>
        {{((data.space$ | async)?.name || (data.space$ | async)?.uid) }}
      </a>

      <nz-tag class="wen-status-tag bg-tag-blue border-tag-blue">Award</nz-tag>

      <wen-award-status [award]="data.award$ | async"></wen-award-status>
    </div>

    <h1 i18n class="mb-6">{{(data.award$ | async)?.name}}</h1>

    <div class="flex items-center space-x-4">
      <div class="flex items-center">
        <i nz-icon nzType="calendar" class="pr-2 text-lg text-app-gray-400" nzTheme="outline"></i>
        <span>{{(data.award$ | async)?.createdOn?.toDate() | date:'short'}}</span>
      </div>
    </div>

    <wen-tabs class="block mt-12" [tabs]="sections"></wen-tabs>
    <div class="w-full py-12">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="space-y-4" nz-col nzFlex="450px" style="max-width: 450px;">
    <ng-container
      *ngIf="!data.isCompleted(data.award$ | async) && (isLoggedIn$ | async) && (data.award$ | async)?.approved">
      <button nz-button nzType="primary" nzBlock nzSize="large" (click)="showParticipateModal()"
        [disabled]="(data.isParticipantWithinAward$ | async)">
        {{ (data.isParticipantWithinAward$ | async) ? 'Already Participated' : 'Participate'}}
      </button>
    </ng-container>

    <nz-card nzTitle="Award">
      <div class="flex flex-row flex-wrap items-center space-x-4">
        <nz-tag class="wen-xp-tag">{{getExperiencePointsPerBadge(data.award$ | async)}} XP</nz-tag>
        <p> + </p>
        <nz-avatar [nzSrc]="(data.award$ | async)?.badge?.image | ipfsBadge:filesizes.small"
          class="bg-white border-gray-400" nzShape="circle">
        </nz-avatar>
      </div>
    </nz-card>

    <nz-card nzTitle="Approve Award"
      *ngIf="!(data.award$ | async)?.approved && (data.isGuardianWithinSpace$ | async) && !(data.award$ | async)?.rejected">
      <div class="mb-8 space-y-4">
        <button nz-button nzType="primary" nzBlock nzSize="large" (click)="approve()">
          Approve</button>
        <button nz-button nzDanger nzType="primary" nzBlock nzSize="large" (click)="reject()">
          Decline</button>
      </div>
    </nz-card>

    <nz-card nzTitle="Detailed Info">
      <div class="wen-description-item bg-bg-background">
        <span nz-typography class=" text-app-gray-400">Badges used / available</span>
        <p nz-typography>{{(data.award$ | async)?.issued}} / {{(data.award$ | async)?.badge?.count}}</p>
      </div>
      <div class="wen-description-item bg-bg-background">
        <span nz-typography class=" text-app-gray-400">End Date</span>
        <p nz-typography>{{(data.award$ | async)?.endDate?.toDate() | date:'short'}}</p>
      </div>
    </nz-card>

    <nz-card nzTitle="Owner">
      <div *ngFor="let g of data.owners$ | async; trackBy: trackByUid" [routerLink]="['/', 'member', g.uid]"
        class="cursor-pointer">
        <nz-avatar nzIcon="user" [nzSrc]="g?.currentProfileImage | ipfsAvatar:filesizes.small" class="mr-2">
        </nz-avatar>
        <span>@ {{ (g.name || g.uid) | truncate:[16] }}</span>
      </div>
    </nz-card>
  </div>
</div>

<nz-modal [(nzVisible)]="isSubmitParticipationModalVisible" nzTitle="Confirm your participation" nzClosable="false"
  [nzContent]="modalContent" [nzFooter]="modalFooter" [nzWidth]=700>
  <ng-template #modalContent>
    <p class="text-lg mb-9">The whole communication is now handled outside the platform, let the award creator know how
      to
      contact you.</p>
    <textarea nz-input placeholder="Provide description or link to your work." [formControl]="commentControl"
      rows="5"></textarea>
  </ng-template>

  <ng-template #modalFooter>
    <div class="text-left">
      <button nz-button class="mr-4" nzType="primary" (click)="participate()">Submit</button>
      <button nz-button nzType="default" (click)="handleParticipateCancel()">Cancel</button>
    </div>
  </ng-template>
</nz-modal>
