<button nz-button nzSize="small"
  class="h-10 px-6 font-semibold text-blue-600 bg-white border-white mt-14 hover:text-blue-600 hover:border-blue-600 focus:border-blue-600 rounded-3xl"
  [routerLink]="urlToSpaces"><i nz-icon nzType="left"></i>Back to Discover</button>

<div class="relative py-12" nz-row [nzGutter]="16">

  <div nz-col nzFlex="auto">
    <div class="space-x-4">
      <nz-avatar class="bg-white border-2 border-gray-400" nzShape="circle"></nz-avatar>

      <nz-tag [nzColor]="'#BBD3F6'" class="text-black">Award</nz-tag>
      <nz-tag [nzColor]="'#CBF6BB'" class="text-black">Available</nz-tag>
    </div>

    <h1 i18n>Award Title</h1>

    <div class="flex items-center space-x-4">
      <div>
        <i nz-icon nzType="calendar" class="pr-2" nzTheme="outline"></i>
        <span>Oct 11, 2021, 11:00 PM (start)</span>
      </div>
      <div>
        <i nz-icon nzType="calendar" class="pr-2" nzTheme="outline"></i>
        <span>Oct 11, 2021, 11:00 PM (ends)</span>
      </div>
    </div>

    <div class="w-full py-12">
      <a routerLink="overview">Overview</a><br />
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="space-y-4" nz-col nzFlex="430px">
    <nz-card nzTitle="Cast your vote">
      <button nz-button nzType="primary" nzBlock nzSize="small" (click)="showModal()"
        class="h-10 px-6 m-2 font-semibold text-white bg-blue-600 border-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:bg-blue-700 focus:border-blue-700 rounded-3xl">
        Participate</button>

      <button nz-button nzType="primary" nzBlock nzSize="small"
        class="h-10 px-6 m-2 font-semibold text-white bg-blue-600 border-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:bg-blue-700 focus:border-blue-700 rounded-3xl">
        Edit</button>

      <button nz-button nzType="primary" nzBlock nzSize="small"
        class="h-10 px-6 m-2 font-semibold text-white bg-blue-600 border-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:bg-blue-700 focus:border-blue-700 rounded-3xl">
        Cancel Participation</button>

    </nz-card>

    <nz-card nzTitle="Award">
      <p>Winner gets 500 MIOTA</p>
    </nz-card>

    <nz-card nzTitle="Award Badge">
      <nz-avatar class="bg-white border-2 border-gray-400" nzShape="circle"></nz-avatar>
    </nz-card>

    <nz-card nzTitle="System Info">
      <p>
        Stard Date: xxx
      </p>
      <p>
        End Date: xxx
      </p>
    </nz-card>

    <nz-card nzTitle="Related Links">
      <div>
        <i nz-icon nzType="link" nzTheme="outline"></i>
        <a nz-button nzType="link">link</a>
      </div>
    </nz-card>

    <nz-card nzTitle="Owner">
      <div>
        <nz-avatar nzIcon="user"
          nzSrc="/assets/mocks/default_avatar.jpg" class="mr-2">
        </nz-avatar>
        <span>@name</span>
      </div>
    </nz-card>
  </div>
</div>

<nz-modal [(nzVisible)]="isVisible" nzTitle="Confirm your participation" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p class="mb-2">The whole communication is now handled outside the platform, let the award creator know how to
      contact you.</p>
    <textarea nz-input placeholder="Provide describtion or link to your work" rows="4"></textarea>
  </ng-container>
</nz-modal>
