<nz-card i18n-nzTitle nzTitle="Detailed Info" class="block">
    <div class="wen-description-item bg-bg-background">
      <span nz-typography class="text-app-gray-400" i18n>Badges used / available</span>
      <p nz-typography>
        {{(data.award$ | async)?.issued}} / {{(data.award$ | async)?.badge?.count}}
      </p>
    </div>
    <div class="wen-description-item bg-bg-background">
      <span nz-typography class="text-app-gray-400" i18n>End Date</span>
      <p nz-typography>
        {{(data.award$ | async)?.endDate?.toDate() | date:'short'}}
      </p>
    </div>
</nz-card>

<nz-card i18n-nzTitle nzTitle="Owner" class="block">
    <div
      *ngFor="let g of data.owners$ | async; trackBy: trackByUid"
      [routerLink]="['/', 'member', g.uid]"
      class="cursor-pointer"
    >
      <nz-avatar
        nzIcon="user"
        [nzSrc]="g?.currentProfileImage | ipfsAvatar:filesizes.small"
        class="mr-2"
      >
      </nz-avatar>
      <span>@ {{ (g.name || g.uid) | truncate:[16] }}</span>
    </div>
</nz-card>
