<ais-instantsearch [config]="config">
  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections"></wen-search-box>
    </div>
  </header>

  <main class="container">
    <section class="mr-5 container-results">
      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-refine="showMore">
          <div class="mt-10 xl:grid place-items-start">
            <div class="mb-10 wen-cards-wrapper">
              <wen-proposal-card class="w-full h-full outline-none"
                                 *ngFor="let proposal of hits; trackBy: trackByUid"
                                 [proposal]="proposal"
                                 [fullWidth]="(deviceService.isMobile$ | async) || false"
                >
              </wen-proposal-card>
            </div>
          </div>
          <div (visible)="refine()"></div>
        </ng-template>
      </ais-infinite-hits>
    </section>
      <section class="container-filters" *ngIf="(deviceService.isMobile$ | async) !== true">
        <div class="container-header">
          <h4>Filters&Sorts</h4>
          <wen-sort-by
            [items]="sortItems"
          ></wen-sort-by>
          <ais-clear-refinements
            class="clear-filters"
            data-layout="desktop"
            resetLabel="Clear filters"
          ></ais-clear-refinements>

          <ais-stats data-layout="mobile">
            <ng-template let-state="state">
              <span class="ais-Stats-text">
                <strong>{{ state.nbHits | number }}</strong> records
              </span>
            </ng-template>
          </ais-stats>
        </div>
        <div class="container-body">
          <!-- <ais-panel
            header="ALL / Approved only"
          >
            <ais-toggle
              attribute="approved"
              label="active"
              [on]="true"
            ></ais-toggle>
          </ais-panel>

          <ais-panel
            header="ALL / Rejected only"
          >
            <ais-toggle
              attribute="rejected"
              label="active"
              [on]="true"
            ></ais-toggle>
          </ais-panel> -->
        </div>
      </section>
  </main>
</ais-instantsearch>
