<p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(proposal$ | async)">
  {{ ((proposal$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} proposals
</p>
<div class="flex flex-wrap gap-6 mb-10"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <!-- TODO Loading. -->
  <div *ngIf="isLoading(proposal$ | async)">Loading...</div>

  <!-- TODO Nothing.  -->
  <div *ngIf="isEmpty((proposal$ | async))">None yet</div>

  <wen-proposal-card class="cursor-pointer" *ngFor="let proposal of proposal$ | async; trackBy: trackByUid" [proposal]="proposal" [routerLink]="['/proposal', proposal.uid]">
  </wen-proposal-card>
</div>
