<div class="space-y-12">
  <div class="space-y-4">
    <div class="inline-flex justify-between w-full">
      <div>
        <nz-tag nzMode="checkable" [nzChecked]="selectedListControl?.value === filterOptions.ACTIVE"
                (nzCheckedChange)="handleFilterChange(filterOptions.ACTIVE)">
          Active
        </nz-tag>
        <nz-tag nzMode="checkable" [nzChecked]="selectedListControl?.value === filterOptions.COMPLETED"
                (nzCheckedChange)="handleFilterChange(filterOptions.COMPLETED)">
          Completed
        </nz-tag>
      </div>

      <button nz-button class="bg-blue-dark2 border-blue-dark2 hover:bg-blue-hover hover:border-blue-hover"
        nzType="primary" nzSize="default" type="button" (click)="create()" *ngIf="data.isMemberWithinSpace$ | async" i18n>
        <i nz-icon nzType="plus" nzTheme="outline"></i>New proposal
      </button>
    </div>
    <!-- TODO Loading. -->
    <div *ngIf="data.isLoading(getList() | async)">Loading...</div>

    <!-- TODO Nothing.  -->
    <div *ngIf="data.isEmpty(getList() | async)">None yet</div>
    <wen-proposal-card class="block cursor-pointer" [fullWidth]="true" *ngFor="let proposal of getList() | async; trackBy: trackByUid"
      [proposal]="proposal" [routerLink]="['/proposal', proposal.uid]">
    </wen-proposal-card>
  </div>
</div>
