<div class="space-y-12">
  <div class="space-y-4">
    <div class="inline-flex justify-between w-full">
      <!-- TODO use tags instead of select -->
      <nz-select class="w-48 wen-sort-button" [formControl]="selectedListControl">
        <nz-option nzLabel="Active" [nzValue]="filterOptions.ACTIVE"></nz-option>
        <nz-option [nzLabel]="'Completed'" [nzValue]="filterOptions.COMPLETED"></nz-option>
      </nz-select>

       <!--  *ngFor="let tag of filter.hotTags"  [nzChecked]="(filter.selectedTags$ | async)!.indexOf(tag) > -1"
        (nzCheckedChange)="filter.handleChange($event, tag)"
      <div>
        <nz-tag nzMode="checkable">
          Active
        </nz-tag>
        <nz-tag nzMode="checkable">
          Completed
        </nz-tag>
      </div>-->

      <button nz-button class="bg-blue-dark2 border-blue-dark2 hover:bg-blue-hover hover:border-blue-hover"
        nzType="primary" nzSize="default" type="button" (click)="create()" *ngIf="data.isMemberWithinSpace$ | async" i18n>
        <i nz-icon nzType="plus" nzTheme="outline"></i>New proposal
      </button>
    </div>
    <!-- TODO Loading. -->
    <div *ngIf="data.isLoading(getList() | async)">Loading...</div>

    <!-- TODO Nothing.  -->
    <div *ngIf="data.isEmpty(getList() | async)">None yet</div>
    <wen-proposal-card class="block cursor-pointer" [fullWidth]="true" *ngFor="let proposal of getList() | async; trackBy: trackByUid"
      [proposal]="proposal" [routerLink]="['/proposal', proposal.uid]">
    </wen-proposal-card>
  </div>
</div>
