<nz-input-group nzSize="small" [nzPrefix]="prefixIconSearchMobile" wenClickOutside (clickOutside)="isSearchInputFocused = false"
    class="border-inputs-border dark:border-inputs-border-dark shadow-none outline-0" 
    [ngStyle]="{ 'width': isSearchInputFocused ? '100%' : 'fit-content' }"nzSearch>
    <input type="text" nz-input class="w-0 text-base bg-inputs-background dark:bg-inputs-background-dark" [formControl]="searchControl"
        [ngClass]="{ 'w-full': isSearchInputFocused }" [placeholder]="placeholder"/>
</nz-input-group>

<ng-template #prefixIconSearchMobile>
    <i nz-icon nzType="search" class="block -mr-1 text-xl" (click)="isSearchInputFocused = !isSearchInputFocused"></i>
</ng-template>