<ais-instantsearch [config]="config">
  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections"></wen-search-box>
    </div>
  </header>
  <main class="container">
    <div class="mr-5 container-results">
      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-refine="showMore">
          <div class="mt-10 xl:grid place-items-start">
            <div class="mb-10 wen-cards-wrapper">
              <wen-collection-card class="w-full h-full outline-none"
                                   *ngFor="let hit of hits; trackBy: trackByUid"
                                   [collection]="hit"
                                   [fullWidth]="(deviceService.isMobile$ | async) || false">
              </wen-collection-card>
            </div>
          </div>
          <div (visible)="refine()"></div>
        </ng-template>
      </ais-infinite-hits>
    </div>

    <div class="container-filters" *ngIf="(deviceService.isMobile$ | async) !== true">
      <div class="container-header">
        <button class="wen-secondary px-3" nz-button nzSize="small" (click)="null">
            <wen-icon-collapse-arrow [size]="16"></wen-icon-collapse-arrow>
            <div i18n>Filters&Sort</div>
        </button>
        <wen-sort-by
          [items]="sortItems"
        ></wen-sort-by>
        <ais-clear-refinements
          class="clear-filters"
          data-layout="desktop"
          resetLabel="Clear filters"
        ></ais-clear-refinements>

        <ais-stats data-layout="mobile">
          <ng-template let-state="state">
            <span class="ais-Stats-text">
              <strong>{{ state.nbHits | number }}</strong> records
            </span>
          </ng-template>
        </ais-stats>
      </div>


      <div class="container-body">
        <wen-collapse i18n-title title="Saletype" [isCollapsed]="false" [type]="collapseTypes.UNDERLINE">
          <wen-refinement-list
            attribute="access"
            [transformItems]="algoliaService.convertToAccessName"
          >
          </wen-refinement-list>
        </wen-collapse>
        <wen-collapse i18n-title title="Saletype" [isCollapsed]="false" [type]="collapseTypes.UNDERLINE">
          <wen-algolia-radio
            attribute="access"
            [transformItems]="algoliaService.convertToAccessName"
          >
          </wen-algolia-radio>
        </wen-collapse>
        <wen-collapse i18n-title title="Spaces" [isCollapsed]="false" [type]="collapseTypes.UNDERLINE">
          <wen-refinement-list
            attribute="space"
            [transformItems]="algoliaService.convertToSpaceName"
            [limit]="15"
            [showMoreLimit]="5"
            showMoreLabel="See more"
            showLessLabel="See less"
          >
          </wen-refinement-list>
        </wen-collapse>
        <wen-collapse i18n-title title="Category" [isCollapsed]="false" [type]="collapseTypes.UNDERLINE">
          <wen-refinement-list
            attribute="category"
            [showIcon]="false"
          >
          </wen-refinement-list>
        </wen-collapse>
        <ais-panel header="Price range">
          <ais-range-slider
            attribute="price"
            [pips]="false"
            [tooltips]="true"
            [precision]="0"
          >
          </ais-range-slider>
        </ais-panel>
        <div>
        </div>
      </div>
    </div>
  </main>
</ais-instantsearch>
