<div class="flex flex-col items-end justify-between xl:flex-row">
    <wen-select-space
      *ngIf="deviceService.isMobile$ | async"
      class="block w-full mt-6 mb-6"
      [formControl]="spaceControl"
      [spaces]="getSpaceListOptions(cache.allSpaces$ | async)"
      size="large">
    </wen-select-space>
    <div class="flex items-start justify-between w-full xl:items-end lg:mt-12">
        <div class="flex flex-col items-start xl:flex-row xl:items-center">
            <div>
                <div class="mb-2 text-xs font-medium text-foregrounds-secondary" i18n>NFTs</div>
                <nz-select
                    class="w-full lg:w-48"
                    nzSize="small"
                    [nzShowSearch]="deviceService.isDesktop$ | async"
                    [nzCustomTemplate]="selectTpl"
                    [formControl]="accessControl"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Select Access type"
                    [nzDropdownStyle]="{ 'min-width': '420px', 'max-width': '100%' }">
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="All accesses"
                            [nzValue]="accessTypes.ALL"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-nine-dots [size]="16"></wen-icon-nine-dots>
                                </div>
                                <div class="ml-4" i18n>All accesses</div>
                            </div>
                        </nz-option>
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="Open sale"
                            [nzValue]="accessTypes.OPEN"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-open-sale [size]="20"></wen-icon-open-sale>
                                </div>
                                <div class="ml-4" i18n>Open sale</div>
                            </div>
                        </nz-option>
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="Space members only"
                            [nzValue]="accessTypes.MEMBERS_ONLY"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-members-only [size]="20"></wen-icon-members-only>
                                </div>
                                <div class="ml-4" i18n>Space members only</div>
                            </div>
                        </nz-option>
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="Space guardians only"
                            [nzValue]="accessTypes.GUARDIANS_ONLY"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-guardians-only [size]="20"></wen-icon-guardians-only>
                                </div>
                                <div class="ml-4" i18n>Space guardians only</div>
                            </div>
                        </nz-option>
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="Space members with badge only"
                            [nzValue]="accessTypes.MEMBERS_WITH_BADGE"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-members-with-badge [size]="20"></wen-icon-members-with-badge>
                                </div>
                                <div class="ml-4" i18n>Space members with badge only</div>
                            </div>
                        </nz-option>
                        <nz-option
                            nzCustomContent
                            i18n-nzLabel
                            nzLabel="At least one NFT from collections"
                            [nzValue]="accessTypes.MEMBERS_WITH_NFT_FROM_COLLECTION"
                            >
                            <div class="flex items-center">
                                <div class="flex items-center justify-center p-1.5 border-2 border-foregrounds-secondary dark:border-foregrounds-secondary-dark rounded-full">
                                    <wen-icon-members-with-nft-from-collection [size]="20"></wen-icon-members-with-nft-from-collection>
                                </div>
                                <div class="ml-4" i18n>At least one NFT from collections</div>
                            </div>
                        </nz-option>
                </nz-select>
                <ng-template #selectTpl let-c>
                    <div class="flex items-center justify-center p-1.5 bg-accent-primary dark:bg-accent-primary-dark rounded-full">
                        <wen-icon-nine-dots *ngIf="accessControl.value === accessTypes.ALL" [size]="16" class="text-white"></wen-icon-nine-dots>
                        <wen-icon-open-sale *ngIf="accessControl.value === accessTypes.OPEN" [size]="16" class="text-white"></wen-icon-open-sale>
                        <wen-icon-members-only *ngIf="accessControl.value === accessTypes.MEMBERS_ONLY" [size]="16" class="text-white"></wen-icon-members-only>
                        <wen-icon-guardians-only *ngIf="accessControl.value === accessTypes.GUARDIANS_ONLY" [size]="16" class="text-white"></wen-icon-guardians-only>
                        <wen-icon-members-with-badge *ngIf="accessControl.value === accessTypes.MEMBERS_WITH_BADGE" [size]="16" class="text-white"></wen-icon-members-with-badge>
                        <wen-icon-members-with-nft-from-collection *ngIf="accessControl.value === accessTypes.MEMBERS_WITH_NFT_FROM_COLLECTION" [size]="16" class="text-white"></wen-icon-members-with-nft-from-collection>
                    </div>
                    <div class="ml-2 truncate max-w-40">
                        <ng-container *ngIf="accessControl.value === accessTypes.ALL" i18n>All accesses</ng-container>
                        <ng-container *ngIf="accessControl.value === accessTypes.OPEN" i18n>Open sale</ng-container>
                        <ng-container *ngIf="accessControl.value === accessTypes.MEMBERS_ONLY" i18n>Space members only</ng-container>
                        <ng-container *ngIf="accessControl.value === accessTypes.GUARDIANS_ONLY" i18n>Space guardians only</ng-container>
                        <ng-container *ngIf="accessControl.value === accessTypes.MEMBERS_WITH_BADGE" i18n>Space members with badge only</ng-container>
                        <ng-container *ngIf="accessControl.value === accessTypes.MEMBERS_WITH_NFT_FROM_COLLECTION" i18n>At least one NFT from collections</ng-container>
                    </div>
                </ng-template>
            </div>

            <div *ngIf="deviceService.isDesktop$ | async" class="xl:ml-4">
                <div class="mt-2 mb-2 text-xs font-medium text-foregrounds-secondary xl:mt-0" i18n>Space</div>
                <wen-select-space
                    class="block w-44"
                    [formControl]="spaceControl"
                    [spaces]="getSpaceListOptions(cache.allSpaces$ | async)"
                    size="small">
                </wen-select-space>
            </div>

            <div class="mt-4 xl:mt-0 xl:ml-4">
                <div class="mb-2 text-xs font-medium text-foregrounds-secondary" i18n>Category</div>
                <nz-select
                    class="w-44"
                    nzSize="small"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Category"
                    [nzDropdownStyle]="{ 'min-width': '128px', 'max-width': '100%' }"
                    [formControl]="categoryControl"
                    >
                    <nz-option
                        *ngFor="let cc of categories"
                        i18n-nzLabel
                        [nzLabel]="cc"
                        [nzValue]="cc"
                    >
                    </nz-option>
                </nz-select>
            </div>
        </div>
        <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
            <nz-select class="mt-6 wen-sort-button xl:mt-0" i18n-nzPlaceHolder nzPlaceHolder="Sort by" [nzCustomTemplate]="defaultTemplate"
                [formControl]="sortControl" nz-tooltip>
                <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                <nz-option i18n-nzLabel nzLabel="Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                <nz-option i18n-nzLabel nzLabel="High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
            </nz-select>
            <ng-template #defaultTemplate let-selected>
                <div class="flex items-center">
                    <div nz-typography nzType="secondary" class="mr-1 text-xs">
                        <ng-container *ngIf="selected.nzValue === filter.sortOptions.RECENT; else notRecent" i18n>Sort by</ng-container>
                        <ng-template #notRecent i18n>Price</ng-template>
                    </div>
                    <span>{{ selected.nzLabel }}</span>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #sortMobileBlock>
            <div class="relative mt-6">
                <nz-select class="w-40 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon">
                  <nz-option i18n-nzLabel nzLabel="Recent" [nzValue]="filter.sortOptions.RECENT"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: Low to High" [nzValue]="filter.sortOptions.PRICE_LOW"></nz-option>
                  <nz-option i18n-nzLabel nzLabel="Price: High to Low" [nzValue]="filter.sortOptions.PRICE_HIGH"></nz-option>
                </nz-select>
                <ng-template #mobileSuffixIcon>
                    <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
                </ng-template>
            </div>
        </ng-template>
    </div>
</div>

<div class="mt-10 xl:grid place-items-start">
    <p nz-typography nzType="secondary" class="mb-6 text-sm font-medium text-foregrounds-secondary" *ngIf="!isLoading(collections$ | async)">
      {{ ((collections$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '') }} <span i18n>collections</span>
    </p>
    <div class="wen-cards-wrapper mb-10" infiniteScroll [infiniteScrollDistance]="5" [infiniteScrollThrottle]="50"
        (scrolled)="onScroll()">

        <nz-skeleton *ngIf="isLoading(collections$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl w-76 h-76" [nzActive]="true"
            [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1 }"></nz-skeleton>

        <nz-card class="w-76" *ngIf="isEmpty(collections$ | async)">
            <div class="flex flex-col justify-center text-center h-36">
                <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    No collections
                </span>
            </div>
        </nz-card>

        <wen-collection-card class="outline-none w-full h-full"
            *ngFor="let collection of collections$ | async; trackBy: trackByUid" [collection]="collection"
            [fullWidth]="(deviceService.isMobile$ | async) || false">
        </wen-collection-card>
    </div>
</div>

