<div class="space-y-12">
    <div class="space-y-4">
        <div class="inline-flex justify-between w-full">
            <div class="flex items-center">
                <ng-container *ngIf="deviceService.isDesktop$ | async; else hotTagsMobileBlock">
                  <nz-tag *ngFor="let tag of hotTags" nzMode="checkable" [nzChecked]="selectedListControl?.value === tag.value"
                    (nzCheckedChange)="handleFilterChange(tag.value)" i18n>
                    {{ tag.label }}
                  </nz-tag>
                </ng-container>

                <ng-template #hotTagsMobileBlock>
                  <nz-select class="w-fit wen-sort-button min-w-32" [ngModel]="selectedListControl?.value" (ngModelChange)="handleFilterChange($event)">
                    <nz-option *ngFor="let tag of hotTags" [nzLabel]="tag.label" [nzValue]="tag.value"></nz-option>
                  </nz-select>
                </ng-template>
              </div>

              <span nz-tooltip [nzTooltipTitle]="!(data.space$ | async)?.validatedAddress ? 'You must set IOTA Address on the space.' : undefined">
                  <button nz-button class="bg-blue-dark2 border-blue-dark2 hover:bg-blue-hover hover:border-blue-hover"
                      [disabled]="!(data.space$ | async)?.validatedAddress"
                      nzType="primary" nzSize="default" type="button" (click)="create()" *ngIf="data.isMemberWithinSpace$ | async"
                      i18n>
                      <i nz-icon nzType="plus" nzTheme="outline"></i>New {{ (deviceService.isDesktop$ | async) ? 'Collection' : '' }}
                  </button>
            </span>
        </div>

        <nz-skeleton *ngIf="data.isLoading(getList() | async)" class="p-4 bg-white rounded-2xl" [nzActive]="true"
            [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

        <nz-card class="w-full" *ngIf="data.isEmpty(getList() | async)">
            <div class="flex flex-col justify-center text-center h-36">
                <span class="leading-7 text-app-gray-400" i18n>
                    No Collections
                </span>
            </div>
        </nz-card>
        <wen-collection-card class="block" [fullWidth]="true"
            *ngFor="let collection of getList() | async; trackBy: trackByUid" [collection]="collection">
        </wen-collection-card>
    </div>
</div>
