// Custom Theming for NG-ZORRO, see https://ng.ant.design/docs/customize-theme/en
// We want to use tailwindcss as base.
@import '~ng-zorro-antd/style/entry.less'; /* Import base styles */
@import '~ng-zorro-antd/button/style/entry.less'; /* Import one component's styles */
@import '~ng-zorro-antd/layout/style/entry.less';
@import '~ng-zorro-antd/menu/style/entry.less';
@import '~ng-zorro-antd/avatar/style/entry.less';
@import '~ng-zorro-antd/dropdown/style/entry.less';
@import '~ng-zorro-antd/popover/style/entry.less';
@import '~ng-zorro-antd/input/style/entry.less';
@import '~ng-zorro-antd/input-number/style/entry.less';
@import '~ng-zorro-antd/form/style/entry.less';
@import '~ng-zorro-antd/grid/style/entry.less';
@import '~ng-zorro-antd/card/style/entry.less';
@import '~ng-zorro-antd/upload/style/entry.less';
@import '~ng-zorro-antd/typography/style/entry.less';
@import '~ng-zorro-antd/statistic/style/entry.less';
@import '~ng-zorro-antd/drawer/style/entry.less';
@import '~ng-zorro-antd/date-picker/style/entry.less';
@import '~ng-zorro-antd/notification/style/entry.less';
@import '~ng-zorro-antd/progress/style/entry.less';
@import '~ng-zorro-antd/table/style/entry.less';
@import '~ng-zorro-antd/modal/style/entry.less';
@import '~ng-zorro-antd/divider/style/entry.less';
@import '~ng-zorro-antd/timeline/style/entry.less';
@import '~ng-zorro-antd/select/style/entry.less';
@import '~ng-zorro-antd/badge/style/entry.less';

// I think you should just stick to ng-zorro.
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less
@primary-color: #008AF2;
// @info-color: @primary-color;
// @success-color: @green-6;
@error-color: #F2550C;
// @highlight-color: @red-5;
// @warning-color: @gold-6;
// @normal-color: #d9d9d9;
@white: #FFFFFF;
@black: #333333;
@bg-components: #E4E1D2;
@processing-color: #F39200;
@body-background: #F6F5F0;
@border-color-base: #CAC8BD;
@component-background: @white;

@font-family: 'Poppins sans-serif';
@text-color: @black;
@text-color-secondary: #9F9D93;
@text-color-tertiary: #E4E1D2;
@text-color-placeholder: #AAA795;
@text-color-inverse: @white;
@icon-color: inherit;
@icon-color-hover: fade(@black, 75%);
@heading-color: fade(@black, 85%);
@text-color-dark: fade(@white, 85%);
@text-color-secondary-dark: fade(@white, 65%);

@border-radius-base: 24px;
@border-radius-lg: 32px;

@layout-body-background: @body-background;

@height-base: 40px;
@height-lg: 56px;
@height-sm: 32px;

@font-size-base: 16px;
@font-size-lg: @font-size-base + 2px;
@font-size-sm: 14px;

@padding-md: 20px; // small containers and buttons
@padding-lg: 38px; // containers

@btn-primary-bg: @primary-color;
@btn-hover-bg: #24A1FF;
@btn-pressed-bg: #0080E0;
@btn-disable-bg: tint(@primary-color, 50%);
@btn-disable-color: @white;
@btn-disable-border: tint(@primary-color, 50%);

@btn-padding-horizontal-base: @padding-md;
@btn-font-weight: 600;
@btn-font-size: @font-size-lg;

@btn-default-color: @btn-primary-bg;
@btn-default-border: @component-background;

@select-single-item-height-lg: @height-lg;
@select-item-active-bg: #EDF8FC;

@btn-padding-horizontal-lg: @padding-lg;

@control-padding-horizontal: @padding-md + 4;

// INPUT
@input-height: @height-lg;
@input-placeholder-color: @text-color-placeholder;
@input-hover-border-color: #FFC670;
// @input-disabled-bg: @disabled-bg;
// @input-icon-hover-color: fade(@black, 85%);
// @input-disabled-color: @disabled-color;

@border-color-split: transparent;

@avatar-size-base: 40px;
@avatar-size-lg: 120px;
@avatar-size-sm: 32px;

//Dropdown
@dropdown-font-size: @font-size-lg;
@dropdown-line-height: 28px;
@dropdown-edge-child-vertical-padding: 14px;
@dropdown-vertical-padding: 11px;

@card-head-font-size: @font-size-lg + 2;

// Card
// ---
@card-head-padding: 24px;
@card-shadow: none;

// Progress
@progress-default-color: @processing-color;
@progress-remaining-color: @bg-components;
@progress-text-font-size: 12px;

// Table
@table-header-bg: transparent;
@table-header-color: @text-color-secondary;
@table-row-hover-bg: @bg-components;
@table-padding-vertical: 16px;
@table-padding-horizontal: 16px;
@table-border-color: #F5F4EF;
@table-border-radius-base: 0;
@table-font-size: @font-size-sm;
@table-header-cell-split-color: transparent;

// Drawer
// ---
@drawer-header-padding: 48px 48px;
@drawer-body-padding: 48px;
@drawer-header-close-size: 78px;

// RADIO
@radio-border-width: 2px;
@radio-dot-size: 24px;
@radio-dot-color: @processing-color;
@radio-dot-disabled-color: fade(@black, 40%);

// Tooltip
// ---
// Tooltip max width
@tooltip-max-width: 370px;
// Tooltip text color
@tooltip-color: @black;
// Tooltip background color
@tooltip-bg: @white;
@tooltip-arrow-width: 0;

// Disabled use of layers as it's problematic in prod build.
// @layer base {
@import '01-base/font.less';
@import '01-base/document.less';
@import '01-base/headings.less';
// }

// @layer components {
@import '02-components/link.less';
@import '02-components/button.less';
@import '02-components/form.less';
@import '02-components/card.less';
@import '02-components/tag.less';
@import '02-components/upload.less';
@import '02-components/drawer.less';
// }

// @layer utilities {
// }
