<ais-instantsearch [config]="config">
  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections" [reset$]="reset$"></wen-search-box>
    </div>
  </header>
  <div class="relative mt-11 lg:mt-10">
    <ais-stats data-layout="mobile">
      <ng-template let-state="state">
        <span class="font-medium ais-Stats-text text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
          {{ state.nbHits | number }} <ng-container i18n>records</ng-container>
        </span>
      </ng-template>
    </ais-stats>
    <button class="absolute top-0 right-0 z-10 wen-secondary" nz-button nzSize="small" (click)="openFilters = !openFilters">
      <wen-icon-collapse-arrow *ngIf="deviceService.isDesktop$ | async" [size]="16"
        class="mr-1 transition-all" [ngClass]="{ 'rotate-180': !openFilters}"></wen-icon-collapse-arrow>
      <div i18n>Filters&Sort</div>
    </button>
  </div>
  <main class="flex justify-between mx-auto">
    <section class="container-results" [ngClass]="{ 'mr-5' : openFilters }">
      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-results="results" let-refine="showMore">
          <div class="mt-6 xl:grid place-items-start">
            <div class="mb-10 wen-cards-wrapper">
              <wen-nft-card class="w-full h-full outline-none"
                            *ngFor="let hit of hits; trackBy: trackByUid"
                            [nft]="hit"
                            [collection]="getCollection(hit.collection)"
              >
              </wen-nft-card>
              <div (wenVisible)="refine()"></div>
            </div>
          </div>
        </ng-template>
      </ais-infinite-hits>
    </section>

    <div class="overflow-hidden transition-all -translate-y-5 container-filters"
      *ngIf="(deviceService.isMobile$ | async) !== true"
      [ngClass]="openFilters ? 'max-w-screen-2xl ml-6' : 'max-w-0'">

      <wen-algolia-clear (wenOnClear)="reset$.next()"></wen-algolia-clear>

      <ng-container *ngTemplateOutlet="filters"></ng-container>
    </div>

    <nz-drawer *ngIf="deviceService.isMobile$ | async"
        [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
        [nzWidth]="'100vw'" #drawer
        [nzClosable]="false"
        [nzVisible]="openFilters">
        <div *nzDrawerContent class="relative min-h-full h-max">
            <div class="pb-4 text-3xl font-bold" i18n>Filters&sort</div>
            <button class="absolute right-0 z-10 top-1" (click)="openFilters = false">
                <wen-icon-close></wen-icon-close>
            </button>

            <ng-container *ngTemplateOutlet="filters"></ng-container>
        </div>
    </nz-drawer>

    <ng-template #filters>
      <div class="mt-8 container-body lg:mt-6">
        <wen-collapse i18n-title title="Sort by" class="mb-2 transition-all" [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE" (wenOnCollapse)="sortOpen = !$event" [ngClass]="{ 'mb-10': sortOpen }">
            <wen-sort-by
              [items]="sortItems"
            ></wen-sort-by>
        </wen-collapse>
        <wen-collapse i18n-title title="Status" class="mb-2 transition-all" [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE" (wenOnCollapse)="statusFilterOpen = !$event" [ngClass]="{ 'mb-10': statusFilterOpen }">
            <wen-algolia-checkbox
              attribute="available"
              [transformItems]="algoliaService.convertNftAvailable"
              [reset$]="reset$"
            >
            </wen-algolia-checkbox>
        </wen-collapse>
        <!-- TODO: the implementation was already buggy. This needs further investigation -->
        <!-- <wen-collapse i18n-title title="Is Owned" class="mb-2 transition-all" [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE" (wenOnCollapse)="isOwnedFilterOpen = !$event" [ngClass]="{ 'mb-10': isOwnedFilterOpen }">
            <wen-algolia-toggle
              attribute="isOwned"
              label="Is&nbsp;Owned&nbsp;"
              [on]="false"
              [reset$]="reset$"
            >
            </wen-algolia-toggle>
        </wen-collapse> -->
        <wen-collapse *ngIf="spacesLoaded$ | async" class="mb-2 transition-all" i18n-title title="Spaces" [isCollapsed]="false"
          [type]="collapseTypes.UNDERLINE" (wenOnCollapse)="spaceFilterOpen = !$event" [ngClass]="{ 'mb-10': spaceFilterOpen }">
            <wen-algolia-checkbox
              attribute="space"
              [transformItems]="algoliaService.convertToSpaceName"
              [limit]="15"
              [showMoreLimit]="5"
              showMoreLabel="See more"
              showLessLabel="See less"
              [filterType]="algoliaCheckboxFilterTypes.SPACE"
              [reset$]="reset$"
            >
            </wen-algolia-checkbox>
        </wen-collapse>
        <div>
        </div>
      </div>
    </ng-template>
  </main>
</ais-instantsearch>
