<ais-instantsearch [config]="config">
  <ais-configure
    [searchParameters]="{ filters:  'hidden:false' }"
  ></ais-configure>
  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections"></wen-search-box>
    </div>
  </header>
  <main class="container">
    <section class="container-results mr-5">
      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-results="results" let-refine="showMore">
          <div class="mt-10 xl:grid place-items-start">
            <div class="wen-cards-wrapper mb-10">
              <wen-nft-card class="outline-none w-full h-full"
                            *ngFor="let hit of hits; trackBy: trackByUid"
                            [nft]="hit"
                            [collection]="getCollection(hit.collection)"
              >
              </wen-nft-card>
            </div>
          </div>
          <div (visible)="refine()"></div>
        </ng-template>
      </ais-infinite-hits>


    </section>

    <div class="container-wrapper">
      <section class="container-filters">
        <div class="container-header">
          <h4>Filters&Sorts</h4>
          <wen-sort-by
            [items]="sortItems"
          ></wen-sort-by>
          <ais-clear-refinements
            class="clear-filters"
            data-layout="desktop"
            resetLabel="Clear filters"
          ></ais-clear-refinements>

          <ais-stats data-layout="mobile">
            <ng-template let-state="state">
              <span class="ais-Stats-text">
                <strong>{{ state.nbHits | number }}</strong> results in <strong>{{state.processingTimeMS}}</strong> ms.
              </span>
            </ng-template>
          </ais-stats>
        </div>

        <div class="container-body">

          <nz-collapse nzExpandIconPosition="right">
            <nz-collapse-panel
              nzHeader="Spaces"
              nzActive="true"
            >
              <wen-refinement-list
                attribute="space"
                [transformItems]="algoliaService.convertToSpaceName"
              >
              </wen-refinement-list>
            </nz-collapse-panel>
          </nz-collapse>
          <div>
          </div>
        </div>
      </section>
    </div>
  </main>
</ais-instantsearch>
