<div class="flex items-end justify-between">
    <div class="flex items-center mt-6 lg:mt-12 lg:mt-8">
        <ng-container *ngIf="deviceService.isDesktop$ | async; else hotTagsMobileBlock">
            <nz-tag *ngFor="let tag of hotTags" nzMode="checkable" [nzChecked]="(selectedTags$ | async)!.indexOf(tag) > -1"
                (nzCheckedChange)="handleChange(tag)">
                {{ tag }}
            </nz-tag>
        </ng-container>

        <ng-template #hotTagsMobileBlock>
            <nz-select class="w-fit wen-sort-button min-w-32" [ngModel]="hotTags[0]" (ngModelChange)="handleChange($event)">
                <nz-option *ngFor="let tag of hotTags" [nzLabel]="tag" [nzValue]="tag"></nz-option>
            </nz-select>
        </ng-template>

        <wen-select-space
            class="block w-44"
            [formControl]="spaceControl"
            [spaces]="getSpaceListOptions(cache.allSpaces$ | async)"
            size="small">
        </wen-select-space>
    </div>

    <ng-container *ngIf="deviceService.isDesktop$ | async; else sortMobileBlock">
        <nz-select class="w-48 wen-sort-button" nzPlaceHolder="Price" [nzCustomTemplate]="defaultTemplate" 
            [formControl]="sortControl" nz-tooltip>
            <nz-option nzLabel="Low to High" [nzValue]="filter.sortOptions.LOW"></nz-option>
            <nz-option nzLabel="High to Low" [nzValue]="filter.sortOptions.HIGH"></nz-option>
        </nz-select>
        <ng-template #defaultTemplate let-selected>
            <span nz-typography nzType="secondary" class="text-xs">Price</span>
            {{ selected.nzLabel }}
        </ng-template>
    </ng-container>
    <ng-template #sortMobileBlock>
        <div class="relative">
            <nz-select class="w-40 wen-sort-button" [formControl]="sortControl" nz-tooltip [nzSuffixIcon]="mobileSuffixIcon">
                <nz-option nzLabel="Low to High" [nzValue]="filter.sortOptions.LOW"></nz-option>
                <nz-option nzLabel="High to Low" [nzValue]="filter.sortOptions.HIGH"></nz-option>
            </nz-select>
            <ng-template #mobileSuffixIcon>
                <wen-icon-sort class="absolute -ml-2" style="margin-top: -6px"></wen-icon-sort>
            </ng-template>
        </div>
    </ng-template>
</div>