<wen-content>
  <h1 i18n class="mt-0 lg:mt-12 text-foregrounds-primary dark:text-foregrounds-primary-dark">Discover Soonaverse</h1>

<!--  <div class="flex items-center">-->
<!--    <nz-input-group *ngIf="deviceService.isDesktop$ | async" nzSize="large" [nzPrefix]="prefixIconSearch"-->
<!--      class="mr-8 border-inputs-border dark:border-inputs-border-dark shadow-none outline-0" nzSearch>-->
<!--      <input type="text" nz-input i18n-placeholder placeholder="Enter the first few letters to search..."-->
<!--        class="text-base bg-inputs-background dark:bg-inputs-background-dark placeholder-foregrounds-placeholder" [formControl]="filter.filterControl"/>-->
<!--    </nz-input-group>-->

<!--    <ng-template #prefixIconSearch>-->
<!--      <i nz-icon nzType="search" class="text-xl"></i>-->
<!--    </ng-template>-->

<!--    <wen-tabs *ngIf="deviceService.isDesktop$ | async" [tabs]="sections"></wen-tabs>-->

<!--    <wen-dropdown-tabs-->
<!--      *ngIf="(deviceService.isMobile$ | async) && !isSearchInputFocused"-->
<!--      [tabs]="sections"-->
<!--      [selectedTab]="selectedSection">-->
<!--    </wen-dropdown-tabs>-->

<!--    <wen-mobile-search *ngIf="deviceService.isMobile$ | async" [formControl]="filter.filterControl" class="ml-auto" i18n-placeholder placeholder="Search">-->
<!--    </wen-mobile-search>-->
<!--  </div>-->

<!--  <div *ngIf="deviceService.isMobile$ | async" class="w-full h-px mt-6 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark"></div>-->

  <router-outlet></router-outlet>
</wen-content>
