<nz-drawer
    [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
    [nzWidth]="'100vw'"
    [nzClosable]="false"
    [nzVisible]="isOpen">
    >
    <div *nzDrawerContent class="relative" class="h-full">
        <button class="absolute z-10 top-4 right-5" (click)="onCancel()">
            <wen-icon-close></wen-icon-close>
        </button>
        <div class="flex items-center px-5 py-5">
            <nz-avatar class="border-2 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark min-w-10"
                style="max-width: 48px; min-width: 48px;" [nzSize]="48"
                [nzSrc]="member?.currentProfileImage | ipfsAvatar:filesizes.small"></nz-avatar>
            <div class="mb-0 ml-3 text-lg font-bold truncate">{{ member?.name ? '@' + member?.name : member?.uid }} <span i18n>reputation</span></div>
        </div>

        <wen-member-alliances-table class="block" style="height: calc(100% - 150px)" [member]="member" [selectedSpace]="selectedSpace">
        </wen-member-alliances-table>
    </div>
</nz-drawer>
