<form [formGroup]="spaceForm" class="flex items-center justify-between">
    <label class="ml-6 text-base font-medium text-app-gray-text"
        nz-checkbox formControlName="includeAlliances"
        [nzDisabled]="includeAlliancesDisabled">
            Include alliances {{ includeAlliancesDisabled ? '(Join space with alliance)' : '' }}
    </label>

    <!-- DISABLED for now. -->
    <!-- <nz-input-group *ngIf="deviceService.isDesktop$ | async" nzSize="default" [nzPrefix]="prefixIconSearch"
      class="w-16 border-none shadow-none focus:w-56 lg:w-56 outline-0" nzSearch>
        <input type="text" nz-input i18n-placeholder
            placeholder="Find space"
            class="text-base" formControlName="space"/>
    </nz-input-group>

    <ng-template #prefixIconSearch>
        <i nz-icon nzType="search" class="text-xl"></i>
    </ng-template>

    <wen-mobile-search *ngIf="deviceService.isMobile$ | async" formControlName="space" placeholder="Search"></wen-mobile-search> -->
</form>

<div>
    <wen-member-space-row
        *ngFor="let space of data.space$ | async; trackBy: trackByUid"
        class="block w-full mt-3 lg:mt-4"
        [space]="space"
        [alliances]="data.getAlliances(space.uid, spaceForm.value.includeAlliances)"
        [member]="data.member$.value"
        [allowReputationModal]="spaceForm.value.includeAlliances">
    </wen-member-space-row>
</div>
