<nz-table class="block h-full px-5 mt-5 overflow-y-auto lg:min-h-0 lg:max-h-56" [ngClass]="tableClasses"
    [nzData]="getAlliances()" [nzShowPagination]="false">
    <thead>
        <tr>
            <th #alliancesHeader i18n style="padding:0px">Alliances</th>
            <th #awardsHeader i18n style="padding:0px; text-align: right">Awards</th>
            <th #XPHeader i18n style="padding:0px; text-align: right">XP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getAlliances()">
            <td class="flex items-center" [class.font-bold]="memberWithinSpace[item.uid]" style="padding-left: 0px; padding-right: 0px">
                <nz-avatar
                    [nzSrc]="avatarService.getAvatarSize(item.avatar)"
                    [nzSize]="32"
                    class="mr-3 border-2 border-app-gray-100"
                    nzShape="circle"
                >
                </nz-avatar>
                {{ item.name }}
            </td>
            <td class="text-right" style="padding-left: 0px; padding-right: 0px">{{ item.totalAwards }}</td>
            <td class="text-right" style="padding-left: 0px; padding-right: 0px">{{ item.totalXp }}</td>
        </tr>
    </tbody>
</nz-table>

<div class="flex items-center px-5 py-3 text-sm font-bold">
    <div [style.width]="'calc(100% - ' + (awardsHeader.offsetWidth + XPHeader.offsetWidth) + 'px'">Total reputation</div>
    <div class="text-right" [style.width]="awardsHeader.offsetWidth + 'px'">{{ getTotal('awardsCompleted') }}</div>
    <div class="text-right" [style.width]="XPHeader.offsetWidth + 'px'">{{ getTotal('totalReputation') }}</div>
</div>
