<div class="px-6 py-5">
    <div class="font-bold text-sm" i18n>
        Trade info
    </div>

    <nz-form-item class="mt-5">
        <nz-form-control>
            <nz-input-group nzSize="large" class="relative">
                <nz-input-number
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Price"
                    nzSize="large"
                    class="w-full"
                    [nzMin]="0"
                    [formControl]="priceControl"
                ></nz-input-number>
                <i
                  nz-icon
                  nzType="info-circle"
                  class="absolute transform -translate-y-1/2 cursor-pointer right-6 top-1/2 text-app-gray-400"
                  nz-tooltip
                  i18n-nzTooltipTitle
                  [nzTooltipTitle]="'Minimum price is ' + formatBest(minimumPrice) + ' and Maximum price is ' + formatBest(maximumPrice)"
                ></i>
                <div class="absolute transform -translate-y-1/2 right-10 top-1/2">
                    <button *ngFor="let unit of priceUnits"
                        nz-button nzShape="circle" nzSize="small"
                        class="mr-1 wen-secondary"
                        [ngClass]="{ 'selected': unit === unitControl.value }"
                        [disabled]="unitControl.disabled"
                        (click)="unitControl.setValue(unit)">
                        {{ unit }}
                    </button>
                </div>
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control i18n-nzErrorTip nzErrorTip="Available On is required.">
            <nz-date-picker
                class="flex flex-grow"
                [nzDisabledDate]="disabledStartDate.bind(this)"
                nzSize="large"
                [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 5, nzHideDisabledOptions: true }"
                nzFormat="yyyy-MM-dd HH:mm"
                [formControl]="availableFromControl"
                i18n-nzPlaceHolder
                nzPlaceHolder="Available on"
            >
            </nz-date-picker>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mt-4">
        <nz-form-control>
            <nz-radio-group
                class="wen-radio-group"
                [formControl]="selectedAccessControl"
            >
                <wen-radio [value]="targetAccess.OPEN">
                    <span i18n>Open Sale</span>
                </wen-radio>
                <wen-radio [value]="targetAccess.MEMBERS_ONLY">
                    <span i18n>Space members only</span>
                </wen-radio>
                <wen-radio [value]="targetAccess.SPECIFIC_ONLY">
                    <span i18n>Specific buyer only</span>
                </wen-radio>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item class="mt-4" *ngIf="selectedAccessControl.value === targetAccess.SPECIFIC_ONLY">
        <nz-form-control>
          <nz-select
            class="w-full"
            nzSize="large"
            nzShowSearch
            nzAllowClear
            i18n-nzPlaceHolder
            nzPlaceHolder="Reserve for specific buyer"
            [formControl]="buyerControl"
          >
            <!-- TODO -->
            <!-- <nz-option
              *ngFor="let cc of collectionCategories"
              i18n-nzLabel
              [nzLabel]="cc.value"
              [nzValue]="cc.key"
            >
            </nz-option> -->
          </nz-select>
        </nz-form-control>
      </nz-form-item>

    <div class="w-full mt-10 flex items-center flex-col text-xs font-medium text-foregrounds-tertiary">
        <div class="mb-3" i18n>Once your listing is complete, you will get a confirmation message.</div>
        <button nz-button nzType="primary" nzSize="large" [disabled]="form.invalid" i18n>Confirm listing</button>
    </div>
</div>