<div class="space-y-12">
  <div class="space-y-4">
    <h3 i18n>Upcoming Sale</h3>

    <nz-skeleton *ngIf="filteredToken === undefined" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

    <nz-card class="w-full" *ngIf="filteredToken === null">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
          No Upcoming Sale
        </span>
      </div>
    </nz-card>
    <wen-token-card *ngIf="filteredToken" [token]="filteredToken" class="block">
    </wen-token-card>
  </div>

  <div class="space-y-4">
    <h3 i18n>Active Proposals</h3>

    <nz-skeleton *ngIf="data.isLoading(data.proposalsActive$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.proposalsActive$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
          No Active Proposals
        </span>
      </div>
    </nz-card>

    <wen-proposal-card class="block" [fullWidth]="true"
      *ngFor="let proposal of data.proposalsActive$ | async; trackBy: trackByUid" [proposal]="proposal">
    </wen-proposal-card>
  </div>

  <div class="space-y-4">
    <h3 class="mb-5 lg:mb-6" i18n>Active Awards</h3>

    <nz-skeleton *ngIf="data.isLoading(data.awardsActive$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-2xl" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.awardsActive$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
          No Active Awards
        </span>
      </div>
    </nz-card>

    <wen-award-card class="block" [fullWidth]="true"
      *ngFor="let award of data.awardsActive$ | async; trackBy: trackByUid" [award]="award">
    </wen-award-card>
  </div>
</div>
