<div class="space-y-12">
  <div class="space-y-4">
    <h3>Active Proposals</h3>

    <nz-skeleton *ngIf="data.isLoading(data.proposalsActive$ | async)" class="p-4 bg-white rounded-2xl" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.proposalsActive$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Active Proposals
        </span>
        <!-- <button nz-button nzType="primary" class="self-center w-48" [routerLink]="['/discover', 'spaces']">Discover
          Spaces</button> -->
      </div>
    </nz-card>

    <wen-proposal-card class="block" [fullWidth]="true"
      *ngFor="let proposal of data.proposalsActive$ | async; trackBy: trackByUid" [proposal]="proposal">
    </wen-proposal-card>
  </div>

  <div class="space-y-4">
    <h3 class="mb-5 lg:mb-6">Active Awards</h3>

    <nz-skeleton *ngIf="data.isLoading(data.awardsActive$ | async)" class="p-4 bg-white rounded-2xl" [nzActive]="true"
      [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.awardsActive$ | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Active Awards
        </span>
      </div>
    </nz-card>

    <wen-award-card class="block" [fullWidth]="true"
      *ngFor="let award of data.awardsActive$ | async; trackBy: trackByUid" [award]="award">
    </wen-award-card>
  </div>
</div>
