<ng-container *ngIf="deviceService.isMobile$ | async">
    <div class="flex items-center mt-5 ml-6">
        <nz-avatar [nzSrc]="avatarUrl" [nzSize]="40"
            class="bg-white border-2 border-gray-400 min-w-10" nzShape="circle">
        </nz-avatar>
        <h1 class="w-2/3 mb-0 ml-4 text-2xl" i18n>{{ (data.space$ | async)?.name }}</h1>
    </div>

    <a nz-button class="flex items-center mt-5 mb-5 ml-6 wen-space-links" nzType="link" [routerLink]="['members']">
        <wen-icon-members class="text-app-gray-400"></wen-icon-members>
        <div class="ml-3">{{ (data.space$ | async)?.totalMembers }} members
            <span *ngIf="(data.space$ | async)?.totalPendingMembers">
                {{'(' + (data.space$ | async)?.totalPendingMembers + ' pending)'}}
            </span>
        </div>
    </a>
</ng-container>

<nz-card nzTitle="About">
    <p
        nz-typography
        [innerHtml]="(data.space$ | async)?.about | markdown"
        class="text-base font-medium whitespace-pre-line text-app-gray-text">
    </p>
</nz-card>

<nz-card *ngIf="deviceService.isDesktop$ | async" class="lg:mt-4">
    <div class="flex flex-col items-baseline space-y-3">
        <a nz-button class="wen-space-links" nzType="link" [routerLink]="['members']">
            <wen-icon-members class="text-app-gray-400"></wen-icon-members>
            <span>{{ (data.space$ | async)?.totalMembers }} members
                <span *ngIf="(data.space$ | async)?.totalPendingMembers">
                    {{'(' + (data.space$ | async)?.totalPendingMembers + ' pending)'}}
                </span>
            </span>
        </a>
        <nz-tag class="px-2 py-1 text-xs border-none rounded-md" i18n>
            {{ (data.space$ | async)?.open ? 'Open to join instantly' : 'Requires approval to join'}}
        </nz-tag>
    </div>
</nz-card>

<nz-card class="lg:mt-4 relative">
    <div class="flex items-center justify-between">
        <div class="flex items-center">
            <div class="text-lg font-bold">Alliances</div>
            <div class="relative flex justify-center items-center ml-2">
                <wen-icon-question-circle class="alliances-question cursor-help"></wen-icon-question-circle>
                <div class="alliances-tooltip hidden z-10 p-6 rounded-3xl text-sm font-medium bg-white 
                    absolute text-app-gra-text w-96 top-full transform translate-y-2">
                        Alliances between spaces enable different comunities to recognise their members experience points.
                </div>
            </div>
        </div>
        <div class="flex items-center text-blue-light1 text-sm font-semibold cursor-pointer"
            (click)="isAlliancesListModal = true">
            Show all
            <wen-icon-angle-right class="ml-2"></wen-icon-angle-right>
        </div>
    </div>
    
    <div class="text-sm font-semibold text-app-gray-400 mt-3 w-5/6">
        Allied spaces that recognize points earned at IOTA Treasury
    </div>
    
    <div class="mt-6">
        <div *ngFor="let ally of alliedSpaces; let i = index" class="mt-3">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <img [src]="ally.img" alt="Allied space image" class="min-w-8">
                    
                    <div class="text-sm font-bold ml-3">{{ ally.name }}</div>
                </div>
                
                <div *ngIf="ally.status === 'established'" class="flex items-center text-sm font-medium text-green-success">
                    Established
                    <wen-icon-check class="ml-3"></wen-icon-check>
                </div>
                <div *ngIf="ally.status === 'recognised'" class="flex items-center text-sm font-medium text-app-gray-400">
                    Recognised
                    <wen-icon-eye class="ml-3"></wen-icon-eye>
                </div>
            </div>
            
            <div *ngIf="i !== alliedSpaces.length - 1" class="mt-3 h-px w-full bg-app-gray-separator"></div>
        </div>
    </div>

    <div class="mt-8 bg-blue-light1 text-sm font-semibold cursor-pointer
        flex justify-center items-center px-3 py-1 rounded-3xl w-max text-white"
        (click)="openNewAlliance()">
            New alliance
    </div>

    <ng-template #allianceSuccessAlert>
        <div class="flex items-start">
            <wen-icon-air-blow class="text-green-success"></wen-icon-air-blow>
            <div class="ml-4">
                <div class="text-base font-bold">
                    Alliance request has been sent
                </div>
                <div class="text-xs font-medium text-app-gray-400 mt-2">
                    If the other space does not establish an alliance, your relationship will be in a state “Recognised”.
                </div>
                <div class="mt-5 bg-blue-light1 text-sm font-semibold cursor-pointer
                    flex justify-center items-center px-3 py-1 rounded-3xl w-max text-white"
                    (click)="notificationService.remove()">
                        I understand
                </div>
            </div>
        </div>
    </ng-template>

    <nz-modal
      [(nzVisible)]="isAlliancesListModal"
      nzCentered
      [nzClosable]="false"
      [nzMaskClosable]="true"
      [nzMask]="true"
      (nzOnCancel)="isAlliancesListModal = false"
      [nzContent]="alliancesListModalContent"
      [nzFooter]="null"
      [nzBodyStyle]="{ padding: '28px 24px 0px 24px' }"
    >
        <ng-template #alliancesListModalContent>
            <div class="flex items-center justify-between">
                <div class="text-2xl font-bold">IOTA Treasury alliances</div>
                <div class="bg-blue-light1 text-sm font-semibold cursor-pointer
                    flex justify-center items-center px-3 py-1 rounded-3xl w-max text-white"
                    (click)="openNewAlliance()">
                        New alliance
                </div>
            </div>

            <div class="h-96 overflow-y-auto mt-7">
                <div *ngFor="let ally of alliedSpacesDialog; let i = index" class="mt-3">
                    <div class="flex items-center justify-between">
                        <div class="flex items-center">
                            <img [src]="ally.img" alt="Allied space image" class="min-w-8">
                            
                            <div class="text-sm font-bold ml-3">{{ ally.name }}</div>
                        </div>
                        
                        <div *ngIf="ally.status === 'established'" class="flex items-center text-sm font-medium text-green-success">
                            Established
                            <wen-icon-edit class="ml-10 cursor-pointer" (click)="onAllianceEdit(ally)"></wen-icon-edit>
                        </div>
                        <div *ngIf="ally.status === 'recognised'" class="flex items-center text-sm font-medium text-app-gray-400">
                            Recognised
                            <wen-icon-edit class="ml-10 cursor-pointer" (click)="onAllianceEdit(ally)"></wen-icon-edit>
                        </div>
                    </div>
                    
                    <div *ngIf="i !== alliedSpacesDialog.length - 1" class="mt-3 h-px w-full bg-app-gray-separator"></div>
                </div>
            </div>
        </ng-template>
    </nz-modal>

    <nz-modal
        [(nzVisible)]="isNewAllianceModalOpen"
        nzCentered
        [nzClosable]="false"
        [nzMaskClosable]="true"
        [nzMask]="true"
        (nzOnCancel)="closeNewAlliance()"
        [nzContent]="newAllianceModalContent"
        [nzFooter]="null"
        [nzBodyStyle]="{ padding: '28px 24px 24px 24px' }"
    >
      <ng-template #newAllianceModalContent>
        <div class="flex items-start justify-between">
            <div class="text-2xl font-bold">New alliance</div>
            <wen-icon-close class="cursor-pointer" (click)="closeNewAlliance()"></wen-icon-close>
        </div>

        <div class="mt-7">
            <nz-form-item>
                <nz-form-control i18n-nzErrorTip nzErrorTip="Space is required.">
                    <nz-select
                        class="w-full"
                        nzSize="large"
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder="Select space"
                        [formControl]="spaceControl"
                    >
                        <nz-option
                            *ngFor="let s of alliedSpacesDialog; trackBy: trackByAlliedSpaceLabel"
                            nzCustomContent
                            [nzLabel]="s.name"
                            [nzValue]="s.name"
                            >
                            <nz-avatar
                                [nzSrc]="s.img"
                                [nzSize]="32"
                                class="mr-3 border-2 border-app-gray-100"
                                nzShape="circle"
                            >
                            </nz-avatar>
                            {{s.name}}
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control i18n-nzErrorTip nzErrorTip="">
                    <nz-input-number
                        class="w-full"
                        nzSize="large"
                        nzPlaceHolder="Reputation weight"
                        [formControl]="reputationWeightControl"
                    ></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="mt-2 flex items-center justify-between">
            <div class="flex items-center">
                <div class="bg-blue-light1 text-sm font-semibold cursor-pointer
                    flex justify-center items-center px-3 py-1 rounded-3xl w-max text-white"
                    (click)="onAllianceSave()">
                        Save
                </div>
                <div class="text-sm font-semibold cursor-pointer text-blue-light1 ml-8"
                    (click)="isNewAllianceModalOpen = false">Cancel</div>
            </div>

            <div class="flex items-center text-orange-darkest text-sm font-semibold">
                <wen-icon-terminated class="mr-2"></wen-icon-terminated>
                Terminate alliance
            </div>
        </div>
      </ng-template>
  </nz-modal>
</nz-card>

<nz-card nzTitle="Related Links" class="lg:mt-4"
    *ngIf="(data.space$ | async)?.github || (data.space$ | async)?.twitter || (data.space$ | async)?.discord">
    <div *ngIf="(data.space$ | async)?.github">
        <a nz-button class="wen-space-links" nzType="link" target="new"
            [ngClass]="{
                'mobile-link': deviceService.isMobile$ | async
            }"
            [href]="'https://github.com/' + (data.space$ | async)?.github">
            <wen-icon-github class="text-app-gray-400"></wen-icon-github>
            <span>{{ (data.space$ | async)?.github }}</span>
        </a>
    </div>
    <div *ngIf="(data.space$ | async)?.twitter">
        <a nz-button class="wen-space-links" nzType="link" target="new"
            [ngClass]="{
                'mobile-link': deviceService.isMobile$ | async
            }"
            [href]="'https://twitter.com/' + (data.space$ | async)?.twitter">
            <wen-icon-twitter class="text-app-gray-400"></wen-icon-twitter>
            <span>{{ (data.space$ | async)?.twitter }}</span>
        </a>
    </div>
    <div *ngIf="(data.space$ | async)?.discord">
        <a nz-button class="wen-space-links" nzType="link" target="new"
            [ngClass]="{
                'mobile-link': deviceService.isMobile$ | async
            }"
            [href]="'https://discord.gg/' + (data.space$ | async)?.discord">
            <wen-icon-discord class="text-app-gray-400"></wen-icon-discord>
            <span>{{'discord.gg/' + (data.space$ | async)?.discord}}</span>
        </a>
    </div>
</nz-card>

<nz-card [nzTitle]="(data.space$ | async)?.totalGuardians + ' Guardians'" class="lg:mt-4">
    <div class="space-y-2" *ngIf="data.guardians$">
        <div *ngFor="let g of data.guardians$ | async; trackBy: trackByGuardianUid"
            class="text-base font-medium cursor-pointer text-app-gray-text" [routerLink]="['/', 'member', g.uid]">
            <nz-avatar nzIcon="user"
                [nzSrc]="g.currentProfileImage | ipfsAvatar:filesizes.small"
                class="mr-2" [nzSize]="(deviceService.isDesktop$ | async) ? 'default' : 32">
            </nz-avatar>
            <span [routerLink]="data.getMemberUrl ? data.getMemberUrl(g.uid) : ''">@ {{ (g.name || g.uid) | truncate:[16] }}</span>
        </div>
    </div>
</nz-card>

<div class="pt-6 lg:mt-4 lg:pt-0">
    <button class="flex justify-center" nz-button nzBlock nzDanger (click)="onLeave.emit()" i18n
        *ngIf="!!(data.isMemberWithinSpace$ | async)">
        <wen-icon-log-out class="mr-2 "></wen-icon-log-out>
        Leave Space
    </button>
</div>
