<nz-modal *ngIf="deviceService.isDesktop$ | async"
    [(nzVisible)]="isOpen"
    nzCentered
    [nzClosable]="false"
    [nzMaskClosable]="true"
    [nzMask]="true"
    (nzOnCancel)="close()"
    [nzContent]="nftSaleModalContent"
    [nzFooter]="null"
    [nzBodyStyle]="{ padding: '0px' }"
    [nzWidth]="760"
    >
    <ng-template #nftSaleModalContent>
        <div class="bg-bg-background rounded-2xl">
            <div class="flex items-start justify-between pt-7 px-6">
                <div class="text-2xl font-bold" i18n>List Item for sale</div>
                <wen-icon-close class="cursor-pointer" (click)="close()"></wen-icon-close>
            </div>
    
            <ng-container *ngTemplateOutlet="content"></ng-container>
        </div>
    </ng-template>
</nz-modal>

<nz-drawer *ngIf="deviceService.isMobile$ | async"
    [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
    [nzWidth]="'100vw'" #drawer
    [nzClosable]="false"
    [nzVisible]="isOpen">
    <div *nzDrawerContent class="relative min-h-full h-max">
        <div class="pb-4 text-3xl font-bold" i18n>List Item for sale</div>
        <button class="absolute right-0 z-10 top-1" (click)="close()">
            <wen-icon-close></wen-icon-close>
        </button>

        <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
</nz-drawer>

<ng-template #content>
    <div class="flex flex-col mt-12 lg:flex-row lg:mt-6 px-6">
        <div class="relative w-full lg:w-72 lg:w-overflow-hidden">
            <img
                *ngIf="mediaType === 'image'"
                i18n-alt
                alt="NFT image"
                [src]="nft?.media || '/assets/mocks/no_banner.jpg'"
                class="object-cover w-full h-full rounded-2xl"
            />

            <video controls class="object-cover w-full h-full rounded-2xl" *ngIf="mediaType === 'video'">
              <source [src]="nft?.media" type="video/mp4">
              Your browser does not support HTML video.
            </video>
        </div>
        <div class="mt-8 lg:ml-8 lg:mt-0 ">
            <div class="relative flex flex-col w-full h-full">
                <h3 class="mb-1 text-2xl font-bold truncate">{{ getTitle() }}</h3>
                <div class="text-xl font-medium">{{ collection?.name }}</div>

                <div class="flex items-center mt-2.5">
                    <wen-icon-crown class="mr-2.5 text-app-gray-400" [size]="20"></wen-icon-crown>
                    <div class="font-medium">{{((collection?.royaltiesFee || 0) * 100)}}% <span i18n>Royalties</span></div>
                    <wen-icon-question-circle
                        [size]="20"
                        class="ml-1.5 text-app-gray-400"
                        nz-tooltip
                        i18n-nzTooltipTitle
                        nzTooltipTitle="Royalties are automatically deducted and paid to artists."
                    ></wen-icon-question-circle>
                </div>

                <div class="px-5 py-3 mt-8 lg:mt-auto bg-white rounded-2xl w-max">
                    <div class="text-xs font-medium text-foregrounds-secondary" i18n>Total price</div>
                    <div class="flex items-center mt-2 text-lg" *ngIf="discount() < 1">
                        <div class="mr-2 font-bold line-through text-foregrounds-tertiary">{{ formatBest(nft?.price || 0) }}</div>
                        <div class="mr-2 font-bold truncate">{{ formatBest(calc(nft?.price || 0, discount())) }}</div>
                    </div>
                    <div class="flex items-center mt-2 text-lg" *ngIf="discount() === 1">
                      <div class="mr-2 font-bold truncate">{{ formatBest(nft?.price || 0) }}</div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="flex flex-col lg:flex-row lg:items-center mt-6 px-6 mb-4">
        <nz-tag nzMode="checkable" class="w-max mt-2" [nzChecked]="currentSaleType === saleType.NOT_FOR_SALE"
            (nzCheckedChange)="currentSaleType = saleType.NOT_FOR_SALE">
                <span i18n>Not for sale</span>
        </nz-tag>
        <nz-tag nzMode="checkable" class="w-max mt-2" [nzChecked]="currentSaleType === saleType.FIXED_PRICE"
            (nzCheckedChange)="currentSaleType = saleType.FIXED_PRICE">
                <span i18n>Fixed price</span>
        </nz-tag>
        <nz-tag nzMode="checkable" class="w-max mt-2" [nzChecked]="currentSaleType === saleType.AUCTION"
            (nzCheckedChange)="currentSaleType = saleType.AUCTION">
                <span i18n>Auction</span>
        </nz-tag>
    </div>

    <div [ngSwitch]="currentSaleType" class="bg-white w-full rounded-b-2xl">
        <ng-container *ngSwitchCase="saleType.NOT_FOR_SALE">
            <ng-container *ngTemplateOutlet="notForSaleTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="saleType.FIXED_PRICE">
            <ng-container *ngTemplateOutlet="fixedPriceTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="saleType.AUCTION">
            <ng-container *ngTemplateOutlet="auctionTemplate"></ng-container>
        </ng-container>
    </div>
</ng-template>


<ng-template #notForSaleTemplate>
    <div class="px-6 py-5">
        <div class="font-bold text-sm" i18n>
            Trade history
        </div>

        <div class="w-full my-8 flex items-center justify-center text-xs font-medium text-foregrounds-tertiary" i18n>
            Item is yours and yours only
        </div>
    </div>
</ng-template>

<ng-template #fixedPriceTemplate>
    <div class="px-6 py-5">
        <div class="font-bold text-sm" i18n>
            Trade info
        </div>

        <nz-form-item class="mt-5">
            <nz-form-control>
                <nz-input-group nzSize="large" class="relative">
                    <nz-input-number
                        i18n-nzPlaceHolder
                        nzPlaceHolder="Price"
                        nzSize="large"
                        class="w-full"
                        [nzMin]="0"
                        [formControl]="fixedPriceControl"
                    ></nz-input-number>
                    <i
                      nz-icon
                      nzType="info-circle"
                      class="absolute transform -translate-y-1/2 cursor-pointer right-6 top-1/2 text-app-gray-400"
                      nz-tooltip
                      i18n-nzTooltipTitle
                      [nzTooltipTitle]="'Minimum price is ' + formatBest(minimumPrice) + ' and Maximum price is ' + formatBest(maximumPrice)"
                    ></i>
                    <div class="absolute transform -translate-y-1/2 right-10 top-1/2">
                        <button *ngFor="let unit of priceUnits"
                            nz-button nzShape="circle" nzSize="small"
                            class="mr-1 wen-secondary"
                            [ngClass]="{ 'selected': unit === fixedUnitControl.value }"
                            [disabled]="fixedUnitControl.disabled"
                            (click)="fixedUnitControl.setValue(unit)">
                            {{ unit }}
                        </button>
                    </div>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control i18n-nzErrorTip nzErrorTip="Available On is required.">
                <nz-date-picker
                    class="flex flex-grow"
                    [nzDisabledDate]="disabledStartDate.bind(this)"
                    nzSize="large"
                    [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 5, nzHideDisabledOptions: true }"
                    nzFormat="yyyy-MM-dd HH:mm"
                    [formControl]="fixedAvailableFromControl"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Available on"
                >
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-4">
            <nz-form-control>
                <nz-radio-group
                    class="wen-radio-group"
                    [formControl]="fixedSelectedAccessControl"
                >
                    <wen-radio [value]="targetAccess.OPEN">
                        <span i18n>Open Sale</span>
                    </wen-radio>
                    <wen-radio [value]="targetAccess.MEMBERS_ONLY">
                        <span i18n>Space members only</span>
                    </wen-radio>
                    <wen-radio [value]="targetAccess.SPECIFIC_ONLY">
                        <span i18n>Specific buyer only</span>
                    </wen-radio>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-4" *ngIf="fixedSelectedAccessControl.value === targetAccess.SPECIFIC_ONLY">
            <nz-form-control>
              <nz-select
                class="w-full"
                nzSize="large"
                nzShowSearch
                nzAllowClear
                i18n-nzPlaceHolder
                nzPlaceHolder="Reserve for specific buyer"
                [formControl]="fixedBuyerControl"
              >
                <!-- TODO -->
                <!-- <nz-option
                  *ngFor="let cc of collectionCategories"
                  i18n-nzLabel
                  [nzLabel]="cc.value"
                  [nzValue]="cc.key"
                >
                </nz-option> -->
              </nz-select>
            </nz-form-control>
          </nz-form-item>

        <div class="w-full mt-10 flex items-center flex-col text-xs font-medium text-foregrounds-tertiary">
            <div class="mb-3" i18n>Once your listing is complete, you will get a confirmation message.</div>
            <button nz-button nzType="primary" nzSize="large" [disabled]="fixedPriceForm.invalid" i18n>Confirm listing</button>
        </div>
    </div>
</ng-template>

<ng-template #auctionTemplate>
    <div class="px-6 py-5">
        <div class="font-bold text-sm" i18n>
            Trade info
        </div>

        <nz-form-item class="mt-5">
            <nz-form-control>
                <nz-input-group nzSize="large" class="relative">
                    <nz-input-number
                        i18n-nzPlaceHolder
                        nzPlaceHolder="Floor price"
                        nzSize="large"
                        class="w-full"
                        [nzMin]="0"
                        [formControl]="auctionFloorPriceControl"
                    ></nz-input-number>
                    <i
                      nz-icon
                      nzType="info-circle"
                      class="absolute transform -translate-y-1/2 cursor-pointer right-6 top-1/2 text-app-gray-400"
                      nz-tooltip
                      i18n-nzTooltipTitle
                      [nzTooltipTitle]="'Minimum price is ' + formatBest(minimumPrice) + ' and Maximum price is ' + formatBest(maximumPrice)"
                    ></i>
                    <div class="absolute transform -translate-y-1/2 right-10 top-1/2">
                        <button *ngFor="let unit of priceUnits"
                            nz-button nzShape="circle" nzSize="small"
                            class="mr-1 wen-secondary"
                            [ngClass]="{ 'selected': unit === auctionFloorUnitControl.value }"
                            [disabled]="auctionFloorUnitControl.disabled"
                            (click)="auctionFloorUnitControl.setValue(unit)">
                            {{ unit }}
                        </button>
                    </div>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control i18n-nzErrorTip nzErrorTip="Available On is required.">
                <nz-date-picker
                    class="flex flex-grow"
                    [nzDisabledDate]="disabledStartDate.bind(this)"
                    nzSize="large"
                    [nzShowTime]="{ nzFormat: 'HH:mm', nzMinuteStep: 5, nzHideDisabledOptions: true }"
                    nzFormat="yyyy-MM-dd HH:mm"
                    [formControl]="auctionAvailableFromControl"
                    i18n-nzPlaceHolder
                    nzPlaceHolder="Available on"
                >
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <label nz-checkbox [formControl]="auctionBuyAvailableControl">
                <div class="font-medium" i18n>
                    Buy now price available
                </div>
            </label>
        </nz-form-item>
        
        <nz-form-item class="mt-8">
            <nz-form-control>
                <nz-input-group nzSize="large" class="relative">
                    <nz-input-number
                        [nzDisabled]="!auctionBuyAvailableControl.value"
                        i18n-nzPlaceHolder
                        nzPlaceHolder="Floor price"
                        nzSize="large"
                        class="w-full"
                        [nzMin]="0"
                        [formControl]="auctionBuyPriceControl"
                    ></nz-input-number>
                    <i
                      nz-icon
                      nzType="info-circle"
                      class="absolute transform -translate-y-1/2 cursor-pointer right-6 top-1/2 text-app-gray-400"
                      nz-tooltip
                      i18n-nzTooltipTitle
                      [nzTooltipTitle]="'Minimum price is ' + formatBest(minimumPrice) + ' and Maximum price is ' + formatBest(maximumPrice)"
                    ></i>
                    <div class="absolute transform -translate-y-1/2 right-10 top-1/2">
                        <button *ngFor="let unit of priceUnits"
                            nz-button nzShape="circle" nzSize="small"
                            class="mr-1 wen-secondary"
                            [ngClass]="{ 'selected': unit === auctionBuyUnitControl.value }"
                            [disabled]="auctionBuyUnitControl.disabled || !auctionBuyAvailableControl.value"
                            (click)="auctionBuyUnitControl.setValue(unit)">
                            {{ unit }}
                        </button>
                    </div>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-6">
            <nz-form-control>
                <nz-radio-group
                    class="wen-radio-group"
                    [formControl]="auctionSelectedAccessControl"
                >
                    <wen-radio [value]="targetAccess.OPEN">
                        <span i18n>Open Sale</span>
                    </wen-radio>
                    <wen-radio [value]="targetAccess.MEMBERS_ONLY">
                        <span i18n>Space members only</span>
                    </wen-radio>
                    <wen-radio [value]="targetAccess.SPECIFIC_ONLY">
                        <span i18n>Specific buyer only</span>
                    </wen-radio>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="mt-4" *ngIf="auctionSelectedAccessControl.value === targetAccess.SPECIFIC_ONLY">
            <nz-form-control>
              <nz-select
                class="w-full"
                nzSize="large"
                nzShowSearch
                nzAllowClear
                i18n-nzPlaceHolder
                nzPlaceHolder="Reserve for specific buyer"
                [formControl]="auctionBuyerControl"
              >
                <!-- TODO -->
                <!-- <nz-option
                  *ngFor="let cc of collectionCategories"
                  i18n-nzLabel
                  [nzLabel]="cc.value"
                  [nzValue]="cc.key"
                >
                </nz-option> -->
              </nz-select>
            </nz-form-control>
          </nz-form-item>

        <div class="w-full mt-10 flex items-center flex-col text-xs font-medium text-foregrounds-tertiary">
            <div class="mb-3" i18n>Once your listing is complete, you will get a confirmation message.</div>
            <button nz-button nzType="primary" nzSize="large" [disabled]="auctionForm.invalid" i18n>Confirm listing</button>
        </div>
    </div>
</ng-template>