<article class="bg-white rounded-2xl wen-card"
    [ngClass]="fullWidth ? 'w-full' : 'w-76'" *ngIf="collection">
    <a class="text-current hover:text-current" [routerLink]="['/', this.path, collection.uid]">
        <div class="relative w-full overflow-hidden h-44 rounded-2xl">
            <img
                alt=""
                [src]="(fullWidth ? collection?.bannerUrl : previewImageService.getCollectionSize(collection?.bannerUrl)) || '/assets/mocks/no_banner.jpg'"
                class="object-cover w-full h-full"
                [ngClass]="{
                    'card-smaller-height': !fullWidth && isDateInFuture(collection?.availableFrom)
                }"
            />

            <div class="absolute z-10 flex items-center justify-center px-2 py-1 bg-white rounded-lg top-4 left-4"
                *ngIf="isDateInFuture(collection?.availableFrom)">
                <wen-icon-time class="text-app-gray-400"></wen-icon-time>
                <div class="ml-2.5 text-xs">
                    <ng-container *ngIf="getDaysLeft(collection?.availableFrom) > 0; else todayBlock">
                        <span class="font-bold" i18n>Starts in</span>
                        <span class="font-medium"> {{ getDaysLeft(collection?.availableFrom) }} </span>
                        <span class="font-medium" i18n>days</span>
                    </ng-container>
                    <ng-template #todayBlock>
                        <span class="font-bold" i18n>Starts today</span>
                    </ng-template>
                </div>
            </div>

            <div class="absolute top-5 right-5 lg:top-6 lg:right-6 z-10 rounded-lg flex items-center px-2.5 py-1.5 text-sm font-medium"
                *ngIf="fullWidth"
                [ngClass]="getStatusProperties().className">
                {{ getStatusProperties().label }}
            </div>

            <div class="absolute z-10 top-4 right-4"
                *ngIf="!fullWidth && collection.access !== targetAccess.OPEN">
                    <wen-collection-access-badge [type]="collection.access"></wen-collection-access-badge>
            </div>

            <div class="absolute bottom-0 flex items-center justify-center w-full py-1 bg-brown-secondary"
                *ngIf="!fullWidth && (isDateInFuture(collection?.availableFrom) || collection?.limitedEdition)">
                <div class="text-sm font-medium" i18n>Limited Edition</div>
                <!-- Seems duplicate .... *ngIf="collection.limitedEdition; else startsBlock" -->
                <!-- <ng-template #startsBlock>
                    <wen-icon-time class="text-app-gray-400"></wen-icon-time>
                    <div class="ml-2.5 text-xs">
                        <ng-container *ngIf="getDaysLeft(collection?.availableFrom) > 0; else todayBlock">
                            <span class="font-bold" i18n>Starts in</span>
                            <span class="font-medium"> {{ getDaysLeft(collection?.availableFrom) }} </span>
                            <span class="font-medium" i18n>days</span>
                        </ng-container>
                        <ng-template #todayBlock>
                            <span class="font-bold" i18n>Starts today</span>
                        </ng-template>
                    </div>
                </ng-template> -->

            </div>
        </div>

        <div class="relative flex flex-col w-full h-40 px-5">
            <h3 class="mt-4 mb-2 text-lg font-bold truncate">{{ collection.name }}</h3>

            <div class="text-sm font-medium break-words line-clamp-3">
                {{ collection.description | stripMarkdown }}
            </div>

            <div class="absolute flex items-center bottom-4"
                *ngIf="!fullWidth">
                <nz-avatar
                    class="border-app-gray-100 min-w-6 min-h-6"
                    [nzSrc]="spaceAvatarUrl"
                    [nzSize]="24"
                    nzShape="circle"
                ></nz-avatar>
                <div class="text-sm font-medium ml-2.5 max-w-24 truncate">
                    {{this.space?.name || this.space?.uid}}
                </div>
            </div>
        </div>
    </a>
</article>
