<article class="bg-white w-75 h-75 rounded-2xl" *ngIf="space">
  <div class="w-full h-32 overflow-hidden rounded-2xl">
    <img
      alt=""
      [src]="bannerUrl || '/assets/mocks/no_banner.jpg'"
      class="object-cover w-full h-full"
    />
  </div>

  <div class="relative flex flex-col w-full p-4 h-44">
    <nz-avatar
      class="absolute top-0 transform -translate-y-1/2 bg-white border-2 border-app-gray-100 left-4"
      [nzSrc]="avatarUrl"
      nzShape="circle"
    ></nz-avatar>

    <h3 class="mt-2 mb-3 text-lg font-bold truncate">{{ space.name }}</h3>

    <p class="flex-grow flex-shrink min-h-0 mb-5 overflow-hidden text-sm font-medium">{{ space.about | truncate:[110]}}</p>

    <div i18n class="inline-flex gap-2 text-sm font-medium text-app-gray-400">
      <wen-icon-members></wen-icon-members>
      {{ space.totalMembers }} members</div>
  </div>
</article>
