<article class="bg-white w-75 h-75 rounded-2xl" [ngClass]="fullWidth ? 'w-auto h-auto' : 'w-75 h-75'" *ngIf="award">
  <div class="relative flex flex-col w-full p-4">

    <!-- TODO component parent title -->
    <div class="inline-flex items-center space-x-3">
      <nz-avatar class="min-w-max"
      nzSrc="/assets/mocks/default_avatar.jpg"></nz-avatar>
      <p>{{ award.owners }}</p>
    </div>

    <h3 class="mt-2 mb-3 text-lg font-bold truncate">{{ award.name || award.uid }}</h3>

    <div class="inline-flex items-center space-x-3">
      <!-- TODO show badge-tile -->
      <div>{{ award.badge.name}}</div>
      <div>{{ award.badge.xp}}XP</div>
    </div>

    <div i18n class="inline-flex gap-2">
      <!-- TODO award status -->
      <nz-tag nzColor="default">
        <i nz-icon nzType="dollar"></i>
        <span>{{ award.type }}</span>
      </nz-tag>

      <!-- TODO create element date-tag  -->
      <nz-tag nzColor="default">
        <i nz-icon nzType="clock-circle"></i>
      <span>{{ award.endDate.toDate() | date:'short'}}</span>
      </nz-tag>
    </div>
  </div>
</article>

