<nz-drawer
      [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
      [nzWidth]="'100vw'"
      [nzClosable]="false"
      [nzVisible]="isVisible"
    >
    <div *nzDrawerContent class="relative h-full min-h-180">
        <wen-mobile-header 
          [isMobileMenuVisible]="isVisible"
          [isLoggedIn$]="isLoggedIn$" 
          (onVisibleChange)="onVisibleChange($event)"
          [isMemberProfile]="isMemberProfile"
          [isLandingPage]="isLandingPage"
          [isAllowedCreation]="isAllowedCreation"
          [urlToNewSpace]="urlToNewSpace"
          [urlToNewAward]="urlToNewAward"
          [urlToNewProposal]="urlToNewProposal">
        </wen-mobile-header>

        <div class="mt-10 w-full h-16 rounded-full bg-tag-default flex justify-between items-center" (click)="onClickProfile()">
          <div class="ml-2 font-semibold">
            <ng-container *ngIf="isLoggedIn$ | async; else notLoggedInBlock">
              <nz-avatar nzIcon="user" [nzSrc]="(member$ | async)?.currentProfileImage | ipfsAvatar:filesizes?.small" [nzSize]="48"
                class="mr-1"></nz-avatar>
                {{
                  '@ ' + ((member$ | async)?.name || (member$ | async)?.uid || '')
                  | truncate: [12]
                }}
            </ng-container>
            
            <ng-template #notLoggedInBlock>
                <nz-avatar nzSrc="assets/metamask.png" [nzSize]="48" class="border-2 border-app-gray-100 mr-1"></nz-avatar>
                Connect Metamask
            </ng-template>
          </div>

          <button class="mr-6">
            <wen-icon-angle-right></wen-icon-angle-right>
          </button>
        </div>

        <div class="mt-7 w-fit" (click)="onVisibleChange(false)">
          <wen-menu [items]="(auth.mobileMenuItems$ | async) || []"></wen-menu>
        </div>

        <div class="mt-10 ml-2">
          <wen-theme-switch nz-tooltip nzTooltipTitle="Coming SOON"></wen-theme-switch>
        </div>

        <div class="absolute bottom-10 w-full flex flex-col justify-between items-center">
          <div *ngIf="isLoggedIn$ | async"
            class="flex items-center text-lg font-bold" 
            (click)="auth.signOut()">
            <wen-icon-log-out class="mr-5"></wen-icon-log-out>
            Log out
          </div>

          <div class="mt-6 flex items-center text-sm font-medium text-app-gray-400">
            Powered by
            <wen-icon-soonlabs class="ml-2"></wen-icon-soonlabs>
          </div>
        </div>
      </div>
</nz-drawer>