<div class="space-y-4 lg:space-y-6">
    <button
        nz-button
        nzType="primary"
        nzBlock
        nzSize="large"
        (click)="isBuyTokensVisible = true"
        [disabled]="false"
        i18n
    >
        Buy Tokens
    </button>

    <button
        *ngIf="!(data.token$ | async)?.saleStartDate"
        nz-button
        nzSize="large"
        class="wen-secondary w-full"
        (click)="isScheduleSaleVisible = true"
        i18n
    >
        Schedule public sale
    </button>
    
    <wen-share
        class="block mb-4"
        i18n-shareText
        shareText="Check out token"
        [shareUrl]="getShareUrl(data.token$ | async)"
        [size]="shareSizes.LARGE">
    </wen-share>
</div>

<wen-token-purchase *ngIf="isBuyTokensVisible" [isOpen]="isBuyTokensVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isBuyTokensVisible = false"></wen-token-purchase>
<wen-token-public-sale *ngIf="isScheduleSaleVisible" [isOpen]="isScheduleSaleVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isScheduleSaleVisible = false"></wen-token-public-sale>