<div class="space-y-4 lg:space-y-6">
    <button
        nz-button
        nzType="primary"
        nzBlock
        nzSize="large"
        *ngIf="helper.isAfterCooldown((data.token$ | async) || undefined)"
        [routerLink]="['trade']"
        i18n
    >
        Trade token
    </button>

    <button
        nz-button
        nzType="primary"
        nzBlock
        nzSize="large"
        *ngIf="helper.isAvailableForSale((data.token$ | async) || undefined)"
        (click)="isBuyTokensVisible = true"
        [disabled]="false"
        i18n
    >
        Buy Tokens
    </button>

    <button
        *ngIf="!(data.token$ | async)?.saleStartDate && (data.token$ | async)?.approved && (isGuardianWithinSpace$ | async) && helper.hasPublicSale((data.token$ | async) || undefined) && !helper.isMinted((data.token$ | async) || undefined)"
        nz-button
        nzSize="large"
        class="w-full wen-secondary"
        (click)="isScheduleSaleVisible = true"
        i18n
    >
        Schedule public sale
    </button>

    <button
        *ngIf="helper.isSalesInProgress((data.token$ | async) || undefined) && (data.token$ | async)?.approved && (isGuardianWithinSpace$ | async) && helper.hasPublicSale((data.token$ | async) || undefined)"
        nz-button
        nzSize="large"
        class="w-full wen-secondary red-button"
        (click)="isCancelSaleVisible = true"
        i18n
    >
        Cancel sale
    </button>

    <button nz-button nzType="default" nzSize="default"
        *ngIf="isGuardianWithinSpace$ | async" (click)="isEditTokenVisible = true"
        class="w-full text-foregrounds-primary dark:text-foregrounds-primary-dark">
            <wen-icon-edit-underline></wen-icon-edit-underline>
            <div class="ml-2.5 text-sm font-medium" i18n>Edit token info</div>
    </button>

    <div *ngIf="helper.isAvailableForSale((data.token$ | async) || undefined) || (isGuardianWithinSpace$ | async)"
        class="w-1/5 h-px mx-auto bg-foregrounds-tertiary dark:bg-backgrounds-tertiary-dark"></div>

    <wen-share
        class="block mb-4"
        i18n-shareText
        shareText="Check out token"
        [shareUrl]="helper.getShareUrl(data.token$ | async)"
        [size]="shareSizes.LARGE">
    </wen-share>

    <nz-card class="mt-8" *ngIf="!helper.isSalesInProgress((data.token$ | async) || undefined)">
        <ng-container *ngIf="!helper.isMinted(data.token$ | async)">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <wen-icon-alert-octagon class="mr-2.5 lg:mr-3.5 text-alerts-error dark:text-alerts-error-dark"></wen-icon-alert-octagon>
                    <div class="text-lg font-bold" i18n>Network</div>
                </div>
                <button nz-button nzType="primary" nzSize="small"
                    *ngIf="(isGuardianWithinSpace$ | async)" (click)="isMintOnNetorkVisible = true" i18n>Mint Token</button>
            </div>

            <div class="font-medium mt-3">
                <ng-container *ngIf="(isGuardianWithinSpace$ | async)" i18n>
                    Token was not made available on decentralised network yet.</ng-container>
                <ng-container *ngIf="(isGuardianWithinSpace$ | async) === false" i18n>
                    Token is not yet migrated to the decentralized network. Make sure you know what you are buying.</ng-container>
            </div>
        </ng-container>

        <div *ngIf="helper.isMinted(data.token$ | async) && !(data.token$ | async)?.isBaseToken"
            class="flex items-center justify-between">
            <div class="text-lg font-bold" i18n>Network</div>
            <a class="flex items-center ml-4 px-4 py-3 font-medium rounded-xl
                bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark cursor-pointer"
                [href]="helper.getExplorerUrl(data.token$ | async)" target="_blank">
                <ng-container [ngSwitch]="(data.token$ | async)?.mintingData?.network">
                    <ng-container *ngSwitchCase="networkTypes.SMR">
                        <wen-icon-shimmer [size]="20"></wen-icon-shimmer>
                        <div class="ml-2 w-max" i18n>Shimmer</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="networkTypes.RMS">
                        <wen-icon-shimmer [size]="20"></wen-icon-shimmer>
                        <div class="ml-2 w-max" i18n>Shimmer Testnet</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="networkTypes.IOTA">
                        <wen-icon-iota [size]="20"></wen-icon-iota>
                        <div class="ml-2 w-max" i18n>IOTA</div>
                    </ng-container>
                    <ng-container *ngSwitchCase="networkTypes.ATOI">
                        <wen-icon-iota [size]="20"></wen-icon-iota>
                        <div class="ml-2 w-max" i18n>IOTA Devnet</div>
                    </ng-container>
                </ng-container>
            </a>
        </div>
    </nz-card>
</div>

<wen-token-purchase *ngIf="isBuyTokensVisible" [isOpen]="isBuyTokensVisible" [token]="(data.token$ | async) || undefined" [space]="(data.space$ | async) || undefined"  (wenOnClose)="isBuyTokensVisible = false"></wen-token-purchase>
<wen-token-public-sale *ngIf="isScheduleSaleVisible" [isOpen]="isScheduleSaleVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isScheduleSaleVisible = false"></wen-token-public-sale>
<wen-token-cancel-sale *ngIf="isCancelSaleVisible" [isOpen]="isCancelSaleVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isCancelSaleVisible = false"></wen-token-cancel-sale>
<wen-token-edit *ngIf="isEditTokenVisible" [isOpen]="isEditTokenVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isEditTokenVisible = false"></wen-token-edit>
<wen-token-mint-network *ngIf="isMintOnNetorkVisible" [isOpen]="isMintOnNetorkVisible" [token]="(data.token$ | async) || undefined" [distributions]="(data.distributions$ | async) || undefined" (wenOnClose)="isMintOnNetorkVisible = false"></wen-token-mint-network>
