<div class="space-y-4 lg:space-y-6">
    <button
        nz-button
        nzType="primary"
        nzBlock
        nzSize="large"
        *ngIf="data.isAvailableForSale((data.token$ | async) || undefined)"
        (click)="isBuyTokensVisible = true"
        [disabled]="false"
        i18n
    >
        Buy Tokens
    </button>

    <button
        *ngIf="!(data.token$ | async)?.saleStartDate && (data.token$ | async)?.approved && (isGuardianWithinSpace$ | async)"
        nz-button
        nzSize="large"
        class="w-full wen-secondary"
        (click)="isScheduleSaleVisible = true"
        i18n
    >
        Schedule public sale
    </button>

    <button nz-button nzType="default" nzSize="default"
        *ngIf="isGuardianWithinSpace$ | async" (click)="isEditTokenVisible = true"
        class="w-full text-foregrounds-primary dark:text-foregrounds-primary-dark">
            <wen-icon-edit-underline></wen-icon-edit-underline>
            <div class="ml-2.5 text-sm font-medium" i18n>Edit token info</div>
    </button>

    <div *ngIf="data.isAvailableForSale((data.token$ | async) || undefined) || (isGuardianWithinSpace$ | async)"
        class="h-px w-1/5 bg-foregrounds-tertiary dark:bg-backgrounds-tertiary-dark mx-auto"></div>

    <wen-share
        class="block mb-4"
        i18n-shareText
        shareText="Check out token"
        [shareUrl]="getShareUrl(data.token$ | async)"
        [size]="shareSizes.LARGE">
    </wen-share>
</div>

<wen-token-purchase *ngIf="isBuyTokensVisible" [isOpen]="isBuyTokensVisible" [token]="(data.token$ | async) || undefined" [space]="(data.space$ | async) || undefined"  (wenOnClose)="isBuyTokensVisible = false"></wen-token-purchase>
<wen-token-public-sale *ngIf="isScheduleSaleVisible" [isOpen]="isScheduleSaleVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isScheduleSaleVisible = false"></wen-token-public-sale>
<wen-token-edit *ngIf="isEditTokenVisible" [isOpen]="isEditTokenVisible" [token]="(data.token$ | async) || undefined" (wenOnClose)="isEditTokenVisible = false"></wen-token-edit>