<button nz-button nz-dropdown nzTrigger="click" [nzDropdownMenu]="createMenu"
    nzType="primary" type="button"
    [(nzVisible)]="isVisible"
    class="flex items-center gap-2 pr-2" i18n>
    {{ selectedTab?.label }} <wen-icon-angle-down></wen-icon-angle-down>
</button>

<nz-dropdown-menu #createMenu="nzDropdownMenu">
    <div class="px-3 py-3 bg-white rounded-2xl space-y-1">

        <button nz-button [nzType]="item === selectedTab ? 'primary' : 'default'" type="button"
            *ngFor="let item of tabs; let i = index; trackBy: trackByLabel"
            [routerLink]="item.route"
            (click)="isVisible = false"
            class="flex items-center w-32 gap-2 px-5 py-2 bg-white" i18n
            [ngClass]="item === selectedTab ? 'bg-orange border-orange' : 'bg-white'">
            {{ item.label }}
        </button>
    </div>
</nz-dropdown-menu>
