<main class="mx-auto mb-32 lg:mb-40 bg-bg-background">
  <div class="w-full wen-home-vector">
    <div class="container px-8">
      <h1 class="pt-64 mb-6 text-3xl text-white lg:w-6/12 lg:pt-24 lg:text-6xl xl:pt-52">
        Welcome to The Soonaverse?
      </h1>
      <p class="mb-12 text-xl font-medium text-white lg:text-2xl lg:font-light lg:w-6/12">
        An all-in-one feeless platform for community engagement and DAO
        creation. Build, vote, earn, learn and let the best ideas win.
      </p>
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        type="button"
        (click)="join()"
      >
        {{(isLoggedIn | async) ? 'Discover' : 'Join us'}}
      </button>
    </div>
  </div>

  <div class="-mt-16 rounded-t-large bg-bg-background">
    <div class="container flex flex-col items-center justify-center px-5 pt-24">
      <h1 class="text-4xl text-center lg:text-5xl">Creating your community is easy as 1-2-3</h1>
      <p class="w-9/12 text-xl font-medium text-center lg:text-2xl lg:font-light text-app-gray-400">
        No more worries about “the tech”. Spend your time where it belongs,
        building your community and realizing your collective vision.
      </p>
    </div>

    <div class="container px-5 mt-4 lg:my-16 lg:px-10">
      <div class="flex flex-wrap justify-center gap-4 xl:gap-10">
        <article class="w-full mt-8 bg-white lg:w-80 rounded-2xl lg:mt-0" *ngFor="let item of stepArticles">
          <div class="w-full overflow-hidden h-36 rounded-2xl">
            <img
              alt=""
              [src]="item.img"
              class="object-cover w-full h-full"
            />
          </div>

          <div
            class="relative flex flex-col justify-center w-full p-6 text-center lg:h-48"
          >
            <h3 class="my-1 text-2xl">{{ item.title }}</h3>
            <p class="mt-1 mb-2 text-lg text-app-gray-400 lg:mb-1">{{ item.description }}</p>
          </div>
        </article>
      </div>

      <div class="w-screen mt-32 -ml-5 lg:ml-0 lg:w-auto">
        <article class="flex flex-col-reverse w-full bg-white lg:flex-row lg:h-96 rounded-large">
          <div class="relative h-full px-5 py-16 space-y-12 lg:w-1/2 lg:p-10 lg:space-y-6">
            <h3 class="mb-1 text-4xl">
              Voting is essential and it needs to be on-chain and FREE.
            </h3>
            <p class="text-base lg:mb-0 lg:text-lg text-app-gray-400">
              By building on the IOTA network we have enshrined a crucial
              feature of proper DAO management. Feeless, secure voting. Read
              more about this in our manifesto.
            </p>
            <button
              nz-button
              nzType="primary"
              nzSize="large"
              type="button"
              (click)="goToManifesto()"
            >
              Go there now
            </button>
          </div>
          <div class="h-64 overflow-hidden lg:w-1/2 lg:h-full lg:ml-8 rounded-large">
            <img
              alt=""
              src="/assets/mocks/treasure_banner.jpg"
              class="object-cover w-full h-full"
            />
          </div>
        </article>
      </div>

      <div class="mt-24 lg:mx-24 lg:mt-32 xl:mx-44">
        <article
          class="flex flex-col w-full mx-auto bg-white lg:flex-row rounded-large lg:h-52"
        >
          <div class="w-full h-full mr-8 overflow-hidden lg:w-1/2 rounded-large">
            <img
              alt=""
              src="/assets/mocks/about_us.jpg"
              class="object-cover w-full h-full"
            />
          </div>
          <div class="relative w-full p-6 space-y-6 lg:w-1/2 lg:h-full lg:p-10">
            <h3 class="mb-4 text-2xl">Want to learn more about SoonLabs?</h3>
            <p class="text-lg text-app-gray-400"></p>
            <button
              nz-button
              class="bottom-0 float-right lg:bottom-4"
              nzType="primary"
              nzSize="large"
              type="button"
              (click)="goToYoutube()"
            >
              Visit YouTube
            </button>
          </div>
        </article>
      </div>

      <div class="mt-32">
        <h1 class="mb-4 text-4xl lg:text-5xl lg:mb-10">Get started with the Soonaverse</h1>
        <p class="text-lg text-app-gray-400">
          Not sure where to start? Find featured spaces and awards below.
        </p>

        <div class="mt-16 space-y-24 lg:space-y-14">
          <div class="-mx-6 overflow-hidden">
            <h3 class="px-7">
              Popular spaces
              <button
                *ngIf="deviceService.isDesktop$ | async"
                nz-button
                class="float-right"
                nzType="primary"
                type="button"
                [routerLink]="['/discover', 'spaces']"
              >
                Discover more
              </button>
            </h3>
            <div class="flex flex-col gap-6 px-5 lg:flex-row lg:px-0">
              <wen-space-card
                class="outline-none"
                *ngFor="let s of spaces$ | async; trackBy: trackByUid"
                [space]="s"
              ></wen-space-card>
            </div>

            <button
                *ngIf="deviceService.isMobile$ | async"
                nz-button
                class="block mx-auto mt-12"
                nzType="primary"
                type="button"
                [routerLink]="['/discover', 'spaces']"
              >
                Discover more
            </button>
          </div>

          <div class="-mx-6 overflow-hidden">
            <h3 class="px-7">
              Active Awards
              <button
                *ngIf="deviceService.isDesktop$ | async"
                nz-button
                class="float-right"
                nzType="primary"
                type="button"
                [routerLink]="['/discover', 'awards']"
              >
                Discover more
              </button>
            </h3>
            <div class="flex flex-col gap-6 px-5 lg:flex-row lg:px-0">
              <wen-award-card
                class="outline-none"
                *ngFor="let award of award$ | async; trackBy: trackByUid"
                [award]="award"
              >
              </wen-award-card>
            </div>
            <button
                *ngIf="deviceService.isMobile$ | async"
                nz-button
                class="block mx-auto mt-12"
                nzType="primary"
                type="button"
                [routerLink]="['/discover', 'awards']"
              >
                Discover more
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer class="pt-16 lg:p-24 lg:-mt-16 bg-bg-footer rounded-t-large">
  <h1 class="m-5 mt-12 text-4xl lg:m-0 lg:text-5xl lg:mt-0">Who’s using the Soonaverse?</h1>

  <div class="w-full overflow-hidden lg:m-6" style="height: 750px">
    <img
      alt=""
      src="/assets/mocks/founders_galaxy.png"
      class="object-cover w-full h-full lg:object-contain"
    />
  </div>

  <div class="justify-between pb-8 lg:flex lg:pb-0 lg:px-5">
    <div class="flex lg:block">
      <a
        nz-button
        href="https://twitter.com/soon_labs"
        target="_new"
        class="text-app-gray-text"
        nzType="link"
        type="button"
      >
        <wen-icon-twitter></wen-icon-twitter>
      </a>
      <a
        nz-button
        href="https://github.com/soonlabs"
        target="_new"
        class="text-app-gray-text"
        nzType="link"
        type="button"
      >
        <wen-icon-github></wen-icon-github>
      </a>
    </div>
    <div class="flex flex-wrap lg:block">
      <a
        nz-button
        href="https://forms.gle/VFfYUwY98e2KqE9q6"
        target="_new"
        class="font-normal text-app-gray-text"
        nzType="link"
        type="button"
        >Investors</a
      >
      <a
        nz-button
        href="https://docs.google.com/document/d/1AdHzahCQ5h3bWILDHFI5DNPOFJoVhxDUY0N_1ZisCHY"
        target="_new"
        class="font-normal text-app-gray-text"
        nzType="link"
        type="button"
        >Privacy</a
      >
      <a
        nz-button
        href="https://docs.google.com/document/d/1ng67fXTdINhmgkLpnbS_SkiDlZSsDAqrd13cbwXQCcQ"
        target="_new"
        class="font-normal text-app-gray-text"
        nzType="link"
        type="button"
        >Terms</a
      >
      <a
        *ngIf="deviceService.isDesktop$ | async"
        nz-button
        href="https://www.soonlabs.net"
        target="_new"
        class="font-normal text-app-gray-text"
        nzType="link"
        type="button"
        >Powered by SoonLabs</a
      >
    </div>
    <a
        *ngIf="deviceService.isMobile$ | async"
        nz-button
        href="https://www.soonlabs.net"
        target="_new"
        class="font-normal text-app-gray-text"
        nzType="link"
        type="button"
        >Powered by SoonLabs</a
      >
  </div>
</footer>
