<wen-collapse i18n-title title="Timeline" [isCollapsed]="false" class="overflow-hidden" *ngIf="orders?.length || listedBy">
  <div *ngIf="nft?.owner && (nft?.availableFrom || nft?.auctionFrom)"
    class="relative flex items-center mt-3">
    <div class="absolute w-0.5 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark left-3 -translate-x-1/2 translate-y-1/2 h-28"></div>

    <div class="relative z-10 flex items-center justify-center mr-4 text-white rounded-full min-w-6 min-h-6 bg-accent-primary dark:bg-accent-primary-dark">
      <wen-icon-check></wen-icon-check>
    </div>

    <div class="flex items-center justify-between w-full p-3 border lg:p-5 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark rounded-large">
      <div class="flex items-center">
        <nz-avatar [nzSrc]="(data.owner$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small"
          style="max-width: 40px; min-width: 40px;" [nzSize]="40"></nz-avatar>

        <div class="ml-6">
          <div class="text-xs font-medium text-gray-400">
            {{ (nft?.availableFrom || nft?.auctionFrom)?.toDate() | date: (deviceService.isDesktop$ | async) ? "medium" : "mediumDate" }}</div>
          <div class="text-base font-medium mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
            <ng-container *ngIf="nft?.availableFrom">
              <span i18n>Listed by</span> @{{((data.owner$ | async)?.name || (data.owner$ | async)?.uid) | truncate:[10] }}
            </ng-container>
            <ng-container *ngIf="!nft?.availableFrom && nft?.auctionFrom">
              <span i18n>Made available for auction by</span> @{{((data.owner$ | async)?.name || (data.owner$ | async)?.uid) | truncate:[10] }}
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Transactions -->
  <div *ngFor="let t of orders | slice:0:(showAll ? (orders)?.length : collapsedEventsCount); let i = index; trackBy: trackByUid"
    class="relative flex items-center mt-3">
    <div *ngIf="i !== 0"
      class="absolute w-0.5 h-full bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark left-3 -translate-x-1/2 -translate-y-1/2"></div>

    <div class="absolute w-0.5 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark left-3 -translate-x-1/2 translate-y-1/2"
      [ngClass]="i === 0 ? (!isCollapsed ? 'h-24' : 'h-36') : 'h-full'"></div>

    <div class="relative z-10 flex items-center justify-center mr-4 text-white rounded-full min-w-6 min-h-6 bg-accent-primary dark:bg-accent-primary-dark">
      <wen-icon-check></wen-icon-check>
    </div>

    <div class="flex items-center justify-between w-full p-3 border lg:p-5 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark rounded-large">
      <div class="flex items-center w-full">
        <nz-avatar [nzSrc]="t.newMember.currentProfileImage| ipfsBadge:filesizes.small"
          class="bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark border-tags-border dark:border-tags-border-dark min-w-10 min-h-10" nzShape="circle">
        </nz-avatar>

        <div class="w-full ml-6">
          <div class="text-xs font-medium text-gray-400">
            {{ t.order.createdOn?.toDate() | date: (deviceService.isDesktop$ | async) ? "medium" : "mediumDate" }}</div>
          <div class="text-base font-medium mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">

            <nz-collapse nzGhost>
              <nz-collapse-panel [nzHeader]="lineTpl" [nzActive]="false" [nzShowArrow]="false"
                (nzActiveChange)="isCollapsed = !isCollapsed">

                <ng-template #lineTpl>
                  <span i18n>Purchased by</span> @{{t.newMember.name || t.newMember.uid}}
                  <span i18n>for</span> {{formatBest(t.order.payload.amount)}}
                  <a class="inline text-sm underline text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark">{{isCollapsed ? 'hide' : 'see'}} <span i18n>details</span></a>
                </ng-template>

                <div class="overflow-y-auto max-h-24">
                  <div *ngFor="let tt of (t.transactions || [])" class="relative flex items-center my-1">
                    <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{tt.createdOn?.toDate() | date:
                      "short"}}</div>

                    <a class="absolute text-sm font-medium underline left-32 text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" target="_new"
                      [href]="getExplorerLink(tt.payload.chainReference || tt.payload?.walletReference?.chainReference)">{{getTitle(tt)}}</a>

                    <span class="absolute text-sm font-medium text-red-500 left-56"
                      *ngIf="tt.payload.invalidPayment" i18n>Invalid</span>
                  </div>
                </div>

              </nz-collapse-panel>
            </nz-collapse>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Orders -->
  <div class="relative flex items-center mt-3" *ngIf="listedBy && (showAll || (orders?.length || 0) < collapsedEventsCount)">
    <div *ngIf="((orders)?.length || 0) > 0"
      class="absolute w-0.5 bg-foregrounds-tertiary dark:bg-foregrounds-tertiary-dark left-3 -translate-x-1/2 translate-y-1/2"></div>

    <div class="relative z-10 flex items-center justify-center mr-4 text-white rounded-full min-w-6 min-h-6 bg-accent-primary dark:bg-accent-primary-dark">
      <wen-icon-check></wen-icon-check>
    </div>

    <div class="flex items-center justify-between w-full p-3 border lg:p-5 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark rounded-large">
      <div class="flex items-center">
        <nz-avatar [nzSrc]="previewImageService.getAvatarSize(listedBy.avatarUrl)"
          class="bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark border-tags-border dark:border-tags-border-dark min-w-10 min-h-10" nzShape="circle">
        </nz-avatar>

        <div class="ml-6">
          <div class="text-xs font-medium text-gray-400">
            {{ nft?.createdOn?.toDate() | date: (deviceService.isDesktop$ | async) ? "medium" : "mediumDate" }}</div>
          <div class="text-base font-medium mt-0.5 text-foregrounds-primary dark:text-foregrounds-primary-dark">
            <span i18n>Listed by space</span> {{listedBy.name || listedBy.uid}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <button nz-button nzType="primary" nzBlock class="self-center w-48 mx-auto mt-6"
      *ngIf="((orders)?.length || 0) > (listedBy ? collapsedEventsCount - 1 : collapsedEventsCount)"
      (click)="showAll = !showAll">
      <ng-container *ngIf="showAll; else showMoreBlock" i18n>Show less</ng-container>
      <ng-template #showMoreBlock i18n>Show more</ng-template>
  </button>
</wen-collapse>
