<button nz-button class="wen-back-button mt-14" (click)="nav.goBack()">
  <wen-icon-angle-left class="flex"></wen-icon-angle-left>{{nav.getTitle()}}
</button>

<h1 class="mt-7" *ngIf="!editMode" i18n>Add new space</h1>
<h1 class="mt-7" *ngIf="editMode" i18n>Edit space</h1>
<form nz-form nzLayout="vertical" [formGroup]="spaceForm">
  <div class="py-4" nz-row [nzGutter]="24">
    <!-- TODO improve responsibility -->
    <div class="space-y-4" nz-col nzFlex="auto" style="max-width: calc(100% - 450px);">
      <nz-card [nzBordered]="false" nzTitle="Space Info">
        <div class="space-y-4">
          <nz-form-item>
            <nz-form-control>
              <nz-radio-group class="wen-radio-group" [formControl]="openControl">
                <label nz-radio [nzValue]="true">Anyone can join</label>
                <label nz-radio [nzValue]="false">Member must be accepted</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <input nz-input placeholder="Title" nzSize="large" [formControl]="nameControl" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control>
              <textarea nz-input placeholder="Space description" nzSize="large" rows="4"
                [formControl]="aboutControl"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-card>

      <nz-card [nzBordered]="false" nzTitle="Networking">
        <div class="space-y-4">
          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSize="large" [nzPrefix]="prefixGithub">
                <input type="text" nz-input placeholder="Link to your Github account" [formControl]="githubControl" />
                <ng-template #prefixGithub>
                  <wen-icon-github></wen-icon-github>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSize="large" [nzPrefix]="prefixTwitter">
                <input type="text" nz-input placeholder="Link to your Twitter account" [formControl]="twitterControl" />
                <ng-template #prefixTwitter>
                  <wen-icon-twitter></wen-icon-twitter>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control>
              <nz-input-group nzSize="large" [nzPrefix]="prefixDiscord">
                <input type="text" nz-input placeholder="Link to your Discord account" [formControl]="discordControl" />
                <ng-template #prefixDiscord>
                  <wen-icon-discord></wen-icon-discord>
                </ng-template>
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-card>
    </div>

    <div class="space-y-4" nz-col nzFlex="450px">
      <nz-card [nzBordered]="false">
        <nz-card-meta nzTitle="Avatar"
          [nzDescription]="editMode ? 'Upload new to replace existing.' : 'Your brand is key.'">
        </nz-card-meta>

        <div class="mt-4">
          <nz-form-item>
            <nz-form-control>
              <nz-upload class="wen-avatar-uploader" nzName="avatar" nzListType="picture-card" [nzDirectory]="false"
                nzType="drag" [nzLimit]="1" [nzCustomRequest]="uploadFile.bind(this)"
                (nzChange)="uploadChangeAvatar($event)" nzFileType="image/png,image/jpeg,image/gif"
                [nzShowUploadList]="true">
                <ng-container>
                  <i class="upload-icon" nz-icon nzType="upload"></i>
                </ng-container>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-card>

      <nz-card [nzBordered]="false">
        <nz-card-meta nzTitle="Banner"
          [nzDescription]="editMode ? 'Upload new to replace existing.' : 'Make it personal.'">
        </nz-card-meta>

        <div class="mt-6">
          <nz-form-item>
            <nz-form-control>
              <nz-upload class="wen-space-banner" nzName="banner" nzType="drag" nzListType="picture-card"
                [nzDirectory]="false" [nzLimit]="1" [nzCustomRequest]="uploadFile.bind(this)"
                (nzChange)="uploadChangeBanner($event)" nzFileType="image/png,image/jpeg,image/gif"
                [nzShowUploadList]="true">
                <ng-container>
                  <i class="upload-icon" nz-icon nzType="upload"></i>
                </ng-container>
              </nz-upload>
            </nz-form-control>
          </nz-form-item>
        </div>
      </nz-card>
    </div>
  </div>
</form>

<button nz-button nzType="primary" class="mb-6" nzSize="large" type="button" (click)="create()" *ngIf="!editMode"
  i18n>Create space</button>

<button nz-button nzType="primary" class="mb-6" nzSize="large" type="button" (click)="save()" *ngIf="editMode" i18n>Save
  space</button>
