<article class="bg-white w-75 h-75 rounded-2xl" *ngIf="member">
  <div class="relative flex flex-col w-full p-4 space-y-4 h-44">
    <div class="flex space-x-4">
      <nz-avatar class="min-w-max"
        nzSrc="https://cdn.discordapp.com/attachments/895741873744908329/909987739666096128/3.jpg"></nz-avatar>
      <h3 class="mt-2 mb-3 text-lg font-bold truncate">@{{ member.uid }}</h3>
    </div>
    <p nz-typography class="flex-grow flex-shrink min-h-0 mb-5 overflow-hidden text-sm font-medium">{{ member.about }}
    </p>
    <div i18n class="inline-flex gap-2 text-sm font-medium text-gray-400">

      <nz-tag nzColor="default">
        <i nz-icon nzType="dollar"></i>
        <span>{{ member.totalReputation ? member.totalReputation : 0 }}</span>
      </nz-tag>

      <nz-tag nzColor="default">
        <i nz-icon nzType="trophy"></i>
        <span>{{ member.awardsCompleted ? member.awardsCompleted : 0 }}</span>
      </nz-tag>

      <ng-content></ng-content>
    </div>
  </div>
</article>
