<article class="bg-white w-75 h-75 rounded-2xl" [ngClass]="fullWidth ? 'w-auto h-auto' : 'w-75 h-75'" *ngIf="proposal">
  <div class="relative flex flex-col w-full p-4">
    <h3 class="mt-2 mb-3 text-lg font-bold truncate">{{ proposal.name || proposal.uid }}</h3>

    <!-- TODO create component poposal progress -->
    <div>
      <ng-container *ngFor="let q of proposal.questions">
        <ng-container *ngFor="let a of q.answers">
          <p>{{a.text}}</p>
          <nz-progress nz-tooltip [nzShowInfo]="true" nzStatus="active" [nzPercent]="getProgress(a)"
                       nzStrokeLinecap="square"></nz-progress>
        </ng-container>
      </ng-container>
    </div>
  </div>
</article>
