<article class="bg-white w-75 h-75 rounded-2xl" [ngClass]="fullWidth ? 'w-auto h-auto' : 'w-75 h-75'" *ngIf="proposal">
  <div class="relative flex flex-col w-full p-4">
    <h3 class="mt-2 mb-3 text-lg font-bold truncate">{{ proposal.name || proposal.uid }}</h3>

    <!-- TODO create component poposal progress -->
    <div>
      <nz-progress
      nz-tooltip [nzShowInfo]="false"
      [nzPercent]="100" nzStrokeLinecap="square"
      [nzSuccessPercent]="30"
    ></nz-progress>
    <div class="flex justify-between">
      <span>35</span>
      <span>65</span>
    </div>
    </div>
  </div>
</article>
