<p nz-typography nzType="secondary" class="mb-6" *ngIf="!isLoading(award$ | async)">
  {{ ((award$ | async)?.length || 0) + ((maxRecords$ | async) === false ? '+' : '')}} awards
</p>
<div class="flex flex-wrap gap-6 mb-10" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">

  <!-- TODO Loading. -->
  <div *ngIf="isLoading(award$ | async)">Loading...</div>

  <nz-card class="w-full" *ngIf="isEmpty(award$ | async)">
    <div class="flex flex-col justify-center text-center h-36">
      <span class="leading-7 text-app-gray-400">
        No Awards
      </span>
    </div>
  </nz-card>

  <wen-award-card class="cursor-pointer" *ngFor="let award of award$ | async; trackBy: trackByUid" [award]="award"
    [routerLink]="['/award', award.uid]">
  </wen-award-card>
</div>
