<div class="space-y-4 lg:space-y-6">
    <nz-card i18n-nzTitle nzTitle="Schedule">
        <wen-description type="card" i18n-title title="Schedule" [items]="[
            { title: 'Sale starts', value: '10:00 AM, January 1st, 2022' },
            { title: 'Sale ends', value: '10:00 AM, January 31st, 2022' },
            { title: 'Cooldown Period Length', value: '24h', titleTemplate: cooldownTooltipIcon },
            { title: 'Cooldown Period Ends', value: '10:01 AM, February 1st, 2022' }
        ]"></wen-description>
        <ng-template #cooldownTooltipIcon>
            <wen-icon-question-circle class="cursor-help" [size]="20"
                nz-tooltip i18n-nzTooltipTitle nzTooltipTitle="Some title IDK"></wen-icon-question-circle>
        </ng-template>
    </nz-card>
    
    
    <nz-card i18n-nzTitle nzTitle="Token Info">
        <wen-description [items]="[
            { title: 'Icon', valueTemplate: tokenAvatar },
            { title: 'Name', value: 'Soonlabs Token' },
            { title: 'Symbol', value: 'SOON' },
            { title: 'Price', value: '1 SOON = 1 MIOTA' },
            { title: 'Network', value: 'Shimmer comming', titleTemplate: networkTooltipIcon },
            { title: 'Total supply', value: '10 000 000' },
            { title: 'Type', value: 'Dynamic' }
        ]"></wen-description>
        <ng-template #tokenAvatar>
            <nz-avatar [nzSrc]="previewImageService.getAvatarSize('space_avatar_url')"
                class="border-2 border-tags-border dark:border-tags-borde-dark min-w-8"
                nzShape="circle"
                [nzSize]="32">
            </nz-avatar>
        </ng-template>
        <ng-template #networkTooltipIcon>
            <wen-icon-question-circle class="cursor-help" [size]="20"
                nz-tooltip i18n-nzTooltipTitle nzTooltipTitle="Some title IDK"></wen-icon-question-circle>
        </ng-template>
    </nz-card>
    
    <nz-card i18n-nzTitle nzTitle="Related Links" *ngIf="true">
      <div *ngIf="true">
        <a nz-button class="wen-space-links" nzType="link" target="new" [href]="''">
          <wen-icon-link></wen-icon-link>
          <span>{{ 'iotatreasury.web' }}</span>
        </a>
      </div>
      <div *ngIf="true">
        <a nz-button class="wen-space-links" nzType="link" target="new" [href]="'https://github.com/' + ''">
          <wen-icon-github></wen-icon-github>
          <span>{{ 'github/iotatreasury.web' }}</span>
        </a>
      </div>
      <div *ngIf="true">
        <a nz-button class="wen-space-links" nzType="link" target="new" [href]="'https://twitter.com/' + ''">
          <wen-icon-reddit></wen-icon-reddit>
          <span>{{ 'reddit/iotatreasury.web' }}</span>
        </a>
      </div>
      <div *ngIf="true">
        <a nz-button class="wen-space-links" nzType="link" target="new" [href]="'https://discord.gg/' + ''">
          <wen-icon-discord></wen-icon-discord>
          <span>{{ 'discord/iotatreasury.web' }}</span>
        </a>
      </div>
    </nz-card>
</div>