<ais-instantsearch [config]="config">
  <div class="container">
    <ais-hits-per-page
      class="container-option"
      [items]="paginationItems"
    >
    </ais-hits-per-page>
    <ais-sort-by
      class="container-option"
      [items]="sortItems"
    ></ais-sort-by>
    <ais-stats>
      <ng-template let-state="state">
        {{state.nbHits}} results found in {{state.processingTimeMS}} ms.
      </ng-template>
    </ais-stats>
  </div>

  <header class="header" id="header">
    <div class="header-searchbox">
      <wen-search-box [sections]="sections"></wen-search-box>
    </div>
  </header>

  <main class="container">

    <section class="container-results mr-10">

      <ais-infinite-hits [transformItems]="convertAllToSoonaverseModel">
        <ng-template let-hits="hits" let-refine="showMore">
          <div class="mt-10 xl:grid place-items-start">
            <div class="wen-cards-wrapper mb-10">
              <wen-collection-card class="w-full h-full outline-none"
                                   *ngFor="let c of hits; trackBy: trackByUid"
                                   [collection]="c"
                                   [fullWidth]="(deviceService.isMobile$ | async) || false">
              </wen-collection-card>
            </div>
          </div>
          <div (visible)="refine()"></div>
        </ng-template>
      </ais-infinite-hits>
    </section>

    <div class="container-wrapper">
      <section class="container-filters">
        <div class="container-header">
          <h4>Filters&Sorts</h4>
          <wen-sort-by
            [items]="sortItems"
          ></wen-sort-by>
          <ais-clear-refinements
            class="clear-filters"
            data-layout="desktop"
            resetLabel="Clear filters"
          ></ais-clear-refinements>

          <ais-stats data-layout="mobile">
            <ng-template let-state="state">
              <span class="ais-Stats-text">
                <strong>{{ state.nbHits | number }}</strong> results in <strong>{{state.processingTimeMS}}</strong> ms.
              </span>
            </ng-template>
          </ais-stats>
        </div>
        <div class="container-body">
        </div>
      </section>
    </div>
  </main>
</ais-instantsearch>
