<wen-content [showBackButton]="true">
    <div class="relative py-12" nz-row [nzGutter]="40">
      <div nz-col nzFlex="auto"
        [ngStyle]="{
          'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
        }">
        <div class="flex items-center mb-8 space-x-3">
          <a [routerLink]="['/space', (data.space$ | async)?.uid]" class="flex items-center">
            <nz-avatar
              [nzSrc]="previewImageService.getAvatarSize((data.space$ | async)?.avatarUrl)"
              [nzSize]="32"
              class="mr-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark border-tags-border dark:border-tags-border-dark min-w-8"
              nzShape="circle"
            >
            </nz-avatar>
            <div class="font-medium">
              {{ (data.space$ | async)?.name }}
            </div>
          </a>

          <nz-tag class="wen-status-tag bg-tags-commencing dark:bg-tags-commencing-dark border-tags-commencing dark:border-tags-commencing-dark" i18n>Token Trading</nz-tag>
          <nz-tag class="wen-status-tag bg-tags-commencing dark:bg-tags-commencing-dark border-tags-commencing dark:border-tags-commencing-dark"
                  *ngIf="!(data.token$ | async)?.approved && !(data.token$ | async)?.rejected" i18n>Pending
          </nz-tag>
          <nz-tag class="wen-status-tag bg-tags-available dark:bg-tags-available-dark border-tags-available dark:border-tags-available-dark"
                  *ngIf="(data.token$ | async)?.approved" i18n>
            Available
          </nz-tag>
        </div>

        <div class="flex items-center">
          <nz-avatar [nzSrc]="previewImageService.getAvatarSize((data.token$ | async)?.icon)"
            class="mr-4 border-2 border-tags-border dark:border-tags-border-dark min-w-12"
            nzShape="circle"
            [nzSize]="48">
          </nz-avatar>
          <div class="text-4xl font-bold">{{ (data.token$ | async)?.name }}</div>
        </div>

        <div class="flex items-center justify-between mt-8 space-x-3">
            <div class="flex-1 px-4 py-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-xl">
                <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    24h VWAP
                </div>
                <div class="mt-2 text-lg font-bold">
                    {{ formatBest((listenAvgPrice24h$ | async), true) }}
                </div>
            </div>
            <div class="flex-1 px-4 py-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-xl">
                <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    7-day VWAP
                </div>
                <div class="mt-2 text-lg font-bold">
                  {{ formatBest((listenAvgPrice7d$ | async), true) }}
                </div>
            </div>
            <div class="flex-1 px-4 py-3 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-xl">
                <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
                    Change 24h
                </div>
                <div
                [ngClass]="(((listenChangePrice24h$ | async) || 0) > 0 ? 'text-alerts-success class.dark:text-alerts-success-dark' : '') + (((listenChangePrice24h$ | async) || 0) < 0 ? 'text-alerts-error class.dark:text-alerts-error-dark' : '')"
                class="mt-2 text-lg font-bold">
                  {{ (listenChangePrice24h$ | async) | percent }}
                </div>
            </div>
        </div>

        <nz-card class="mt-6">
            <div class="flex items-center justify-between">
                <div class="text-lg font-bold" i18n>Token chart</div>

                <div class="space-x-1">
                    <button *ngFor="let l of chartLengthOptions"
                        nz-button nzShape="circle" nzSize="small"
                        class="wen-secondary"
                        [ngClass]="{ 'selected': l.value === chartLengthControl.value }"
                        (click)="chartLengthControl.setValue(l.value)">
                            {{ l.label }}
                    </button>
                </div>
              </div>
              <div style="display: block;" class="mt-6">
                <canvas baseChart width="400" height="180"
                            [data]="lineChartData"
                            [options]="lineChartOptions"
                            [type]="lineChartType"></canvas>
            </div>
        </nz-card>
      </div>
      <div class="mt-6 lg:mt-30 lg:max-w-450" nz-col [nzFlex]="(deviceService.isDesktop$ | async) ? '450px' : 'auto'"
        [ngStyle]="{
          'max-width': (deviceService.isDesktop$ | async) ? '450px' : '100%'
        }">

        <button
          nz-button
          nzBlock
          nzSize="large"
          nzType="primary"
          (click)="isBidTokenOpen = true"
        >
          <div class="mr-1" i18n>Buy</div>
          <div> {{ (data.token$ | async)?.symbol }}</div>
        </button>

        <button
          class="mt-6 wen-secondary"
          nz-button
          nzBlock
          nzSize="large"
          (click)="isAskTokenOpen = true"
        >
          <div class="mr-1" i18n>Sell</div>
          <div> {{ (data.token$ | async)?.symbol }}</div>
        </button>

        <wen-share
          class="block p-6 mt-6 lg:p-0"
          i18n-shareText
          shareText="Check out token"
          [shareUrl]="getShareUrl(data.token$ | async)">
        </wen-share>

        <div class="mt-12 text-2xl font-bold">
            {{ (data.token$ | async)?.shortDescriptionTitle }}
        </div>

        <div class="mt-6 font-medium" [innerHtml]="(data.token$ | async)?.shortDescription">
        </div>
      </div>
    </div>

    <div class="flex flex-col w-full mt-10 mb-10 lg:flex-row lg:space-x-10">
        <nz-card [nzTitle]="getBidsTitle((listenAvgBuy$ | async) || undefined)"
          class="flex-1 w-full mt-6 h-max lg:mt-0" [nzBodyStyle]="{ 'padding-left': '0px', 'padding-right': '0px' }">
            <div class="flex items-center px-6 mb-4">
                <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentBidsListing === bidListingTypes.OPEN"
                    (nzCheckedChange)="currentBidsListing = bidListingTypes.OPEN">
                        <span i18n>Open bids</span>
                </nz-tag>
                <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentBidsListing === bidListingTypes.MY"
                    (nzCheckedChange)="currentBidsListing = bidListingTypes.MY">
                        <span i18n>My bids</span>
                </nz-tag>
            </div>

            <nz-table *ngIf="currentBidsListing === bidListingTypes.OPEN" #openBidsTable
                class="block h-full px-0 mt-5 overflow-y-auto lg:min-h-0"
                [nzData]="(sortedBids$ | async) || []" [nzNoResult]="noOpenBids" [nzPageSize]="15">
                <thead>
                    <tr>
                        <th i18n>Price</th>
                        <th class="right" i18n>Amount</th>
                        <th class="right" i18n>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <nz-skeleton *ngIf="false; else openBidsBlock"  class=""
                        [nzActive]="true" [nzAvatar]="{ size: 'default' }"
                        [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>
                    <ng-template #openBidsBlock>
                        <tr *ngFor="let item of openBidsTable.data" class="relative">
                            <td class="z-10 flex items-center border-0">
                              <nz-avatar *ngIf="item.avatar" nzIcon="user"
                                [nzSrc]="item.avatar | ipfsAvatar:filesizes.small" [nzSize]="32"
                                class="mr-2"></nz-avatar>
                                <div>{{ formatBest(item.price, true) }}</div>
                            </td>
                            <td class="z-10 border-0 right">{{ (formatTokenBest(item.amount) | number : '1.0-6') + ' ' + (data.token$ | async)?.symbol}}</td>
                            <td class="z-10 border-0 right">{{ formatBest(item.price * item.amount) }}</td>

                            <div class="absolute right-0 top-0 h-full bg-[#E6F9EB]"
                              [ngStyle]="{ width: item.amount / ((bidsAmountSum$ | async) || 100) * 100 + '%' }"></div>
                        </tr>
                    </ng-template>
                </tbody>
            </nz-table>

            <ng-template #noOpenBids>
                <div class="text-sm font-medium text-foregrounds-tertiary" i18n>There are no open requests</div>
            </ng-template>

            <nz-table *ngIf="currentBidsListing === bidListingTypes.MY" #myBidsTable
                class="block h-full px-0 mt-5 overflow-y-auto lg:min-h-0"
                [nzData]="(sortedMyBids$ | async) || []" [nzNoResult]="noMyRequests" [nzPageSize]="15">
                <thead>
                    <tr>
                        <th i18n>Price</th>
                        <th class="right" i18n>Amount</th>
                        <th class="right" i18n>Total</th>
                        <th class="right" i18n>Fulfilled</th>
                        <th class="right" i18n>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <nz-skeleton *ngIf="false; else myRequestsBlock"  class=""
                        [nzActive]="true" [nzAvatar]="{ size: 'default' }"
                        [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>
                    <ng-template #myRequestsBlock>
                      <tr *ngFor="let item of myBidsTable.data" class="relative">
                        <td>{{ formatBest(item.price, true) }}</td>
                        <td class="z-10 border-0 right">{{ (formatTokenBest(item.count) | number : '1.0-6') + ' ' + (data.token$ | async)?.symbol}}</td>
                        <td class="z-10 border-0 right">{{ formatBest(item.price * item.count) }}</td>
                        <td class="z-10 border-0 right">
                          <ng-container *ngIf="item.status === bidAskStatuses.ACTIVE || item.status === bidAskStatuses.SETTLED">
                            {{ (item.fulfilled / item.count) | percent }}
                          </ng-container>
                          <ng-container *ngIf="item.status === bidAskStatuses.CANCELLED || item.status === bidAskStatuses.PARTIALLY_SETTLED_AND_CANCELLED" i18n>
                            Cancelled
                          </ng-container>
                          <ng-container *ngIf="item.status === bidAskStatuses.EXPIRED" i18n>
                            Expired
                          </ng-container>
                        </td>
                        <td class="z-10 border-0 right">
                          <a class="text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" i18n *ngIf="item.status === bidAskStatuses.ACTIVE" (click)="cancelOrder(item.uid)">Cancel</a>
                        </td>
                        <div class="absolute top-0 right-0 h-full bg-graph-offers dark:bg-graph-offers-dark"
                          [ngStyle]="{ width: (item.count - item.fulfilled) / ((bidsAmountSum$ | async) || 100) * 100 + '%' }"></div>
                      </tr>
                    </ng-template>
                </tbody>
            </nz-table>

            <ng-template #noMyRequests>
                <div class="text-sm font-medium text-foregrounds-tertiary" i18n>There are no bids</div>
            </ng-template>
        </nz-card>

        <nz-card [nzTitle]="getAsksTitle((listenAvgSell$ | async) || undefined)"
          class="flex-1 w-full h-max" [nzBodyStyle]="{ 'padding-left': '0px', 'padding-right': '0px' }">
          <div class="flex items-center px-6 mb-4">
              <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentAskListing === askListingTypes.OPEN"
                  (nzCheckedChange)="currentAskListing = askListingTypes.OPEN">
                      <span i18n>Open asks</span>
              </nz-tag>
              <nz-tag nzMode="checkable" class="mt-2 w-max" [nzChecked]="currentAskListing === askListingTypes.MY"
                  (nzCheckedChange)="currentAskListing = askListingTypes.MY">
                      <span i18n>My asks</span>
              </nz-tag>
          </div>

          <nz-table *ngIf="currentAskListing === askListingTypes.OPEN" #openAsksTable
              class="block h-full px-0 mt-5 overflow-y-auto lg:min-h-0"
              [nzData]="(sortedAsks$ | async) || []" [nzShowPagination]="true" [nzNoResult]="noOpenAsks" [nzPageSize]="15">
              <thead>
                  <tr>
                      <th i18n>Price</th>
                      <th class="right" i18n>Amount</th>
                      <th class="right" i18n>Total</th>
                  </tr>
              </thead>
              <tbody>
                  <nz-skeleton *ngIf="false; else openAsksBlock"  class=""
                      [nzActive]="true" [nzAvatar]="{ size: 'default' }"
                      [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>
                  <ng-template #openAsksBlock>
                      <tr *ngFor="let item of openAsksTable.data" class="relative">
                        <td class="z-10 flex items-center border-0">
                          <nz-avatar *ngIf="item.avatar" nzIcon="user"
                            [nzSrc]="item.avatar | ipfsAvatar:filesizes.small" [nzSize]="32"
                            class="mr-2"></nz-avatar>
                            <div>{{ formatBest(item.price, true) }}</div>
                        </td>
                        <td class="z-10 border-0 right">{{ (formatTokenBest(item.amount) | number : '1.0-6') + ' ' + (data.token$ | async)?.symbol}}</td>
                        <td class="z-10 border-0 right">{{ formatBest(item.price * item.amount) }}</td>
                        <div class="absolute top-0 right-0 h-full bg-graph-requests dark:bg-graph-requests-dark"
                          [ngStyle]="{ width: item.amount / ((asksAmountSum$ | async) || 100) * 100 + '%' }"></div>
                      </tr>
                  </ng-template>
              </tbody>
          </nz-table>

          <ng-template #noOpenAsks>
              <div class="text-sm font-medium text-foregrounds-tertiary" i18n>There are no open asks</div>
          </ng-template>

          <nz-table *ngIf="currentAskListing === askListingTypes.MY" #myAsksTable
              class="block h-full px-0 mt-5 overflow-y-auto lg:min-h-0"
              [nzData]="(sortedMyAsks$ | async) || []" [nzShowPagination]="true" [nzNoResult]="noMyAsks" [nzPageSize]="15">
              <thead>
                  <tr>
                      <th i18n>Price</th>
                      <th class="right" i18n>Amount</th>
                      <th class="right" i18n>Total</th>
                      <th class="right" i18n>Fulfilled</th>
                      <th class="right" i18n>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <nz-skeleton *ngIf="false; else myAsksBlock"  class=""
                      [nzActive]="true" [nzAvatar]="{ size: 'default' }"
                      [nzParagraph]="{ rows: 1, width: 100 }"></nz-skeleton>
                  <ng-template #myAsksBlock>
                      <tr *ngFor="let item of myAsksTable.data" class="relative">
                        <td class="z-10 border-0">{{ formatBest(item.price, true) }}</td>
                        <td class="z-10 border-0 right">{{ (formatTokenBest(item.count) | number : '1.0-6') + ' ' + (data.token$ | async)?.symbol}}</td>
                        <td class="z-10 border-0 right">{{ formatBest(item.price * item.count) }}</td>
                        <td class="z-10 border-0 right">
                          <ng-container *ngIf="item.status === bidAskStatuses.ACTIVE || item.status === bidAskStatuses.SETTLED">
                            {{ (item.fulfilled / item.count) | percent }}
                          </ng-container>
                          <ng-container *ngIf="item.status === bidAskStatuses.CANCELLED || item.status === bidAskStatuses.PARTIALLY_SETTLED_AND_CANCELLED" i18n>
                            Cancelled
                          </ng-container>
                          <ng-container *ngIf="item.status === bidAskStatuses.EXPIRED" i18n>
                            Expired
                          </ng-container>
                        </td>
                        <td class="z-10 border-0 right">
                          <a class="text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" i18n *ngIf="item.status === bidAskStatuses.ACTIVE" (click)="cancelOrder(item.uid)">Cancel</a>
                        </td>
                        <div class="absolute top-0 right-0 h-full bg-graph-requests dark:bg-graph-requests-dark"
                          [ngStyle]="{ width: (item.count - item.fulfilled) / ((asksAmountSum$ | async) || 100) * 100 + '%' }"></div>
                      </tr>
                  </ng-template>
              </tbody>
          </nz-table>

          <ng-template #noMyAsks>
              <div class="text-sm font-medium text-foregrounds-tertiary" i18n>There are no asks</div>
          </ng-template>
      </nz-card>
    </div>
</wen-content>

<wen-token-bid *ngIf="isBidTokenOpen" [isOpen]="isBidTokenOpen" [memberDistribution]="(memberDistribution$ | async) || undefined"
              [token]="(data.token$ | async) || undefined" [space]="(space$ | async) || undefined"
              (wenOnClose)="isBidTokenOpen = false"></wen-token-bid>
<wen-token-offer-pre-mint *ngIf="isAskTokenOpen" [memberDistribution]="(memberDistribution$ | async) || undefined"
              [token]="(data.token$ | async) || undefined" [space]="(space$ | async) || undefined"
              [isOpen]="isAskTokenOpen" (wenOnClose)="isAskTokenOpen = false"></wen-token-offer-pre-mint>
