<div class="space-y-12">
  <div class="space-y-4">
    <nz-card nzTitle="Reputation">
      <apx-chart #chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [colors]="chartOptions.colors!"
        [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [markers]="chartOptions.markers!"
        [stroke]="chartOptions.stroke!" [xaxis]="chartOptions.xaxis!" [tooltip]="chartOptions.tooltip!"></apx-chart>

    </nz-card>

    <nz-card nzTitle="Timeline">
      <nz-timeline>
        <nz-timeline-item *ngFor="let t of data.badges$ | async; trackBy: trackByUid">
          Earned Badge {{t.payload.name}} with {{t.payload.xp}}XP on {{t.createdOn?.toDate() | date:"short"}}
        </nz-timeline-item>
      </nz-timeline>
    </nz-card>
  </div>
</div>
