<div class="space-y-12">
  <div class="space-y-4">
    <nz-card>
      <form class="" [formGroup]="spaceForm">
        <div class="flex items-center justify-between">
          <wen-select-box
            class="block w-full"
            formControlName="space"
            [optionsWrapperClasses]="'top-20 left-0 w-full'"
            [options]="getSpaceListOptions(data.spaceList$ | async)"
            [showArrow]="true"
            [isSearchable]="true"
            [size]="selectBoxSizes.LARGE"
            title="Select space"
            [mobileDrawer]="true"
            [isAvatar]="true">
          </wen-select-box>

          <a class="flex items-center ml-6 text-sm font-semibold cursor-pointer text-blue-light1 whitespace-nowrap"
            [routerLink]="getSpaceRoute(spaceForm.value.space)"
            *ngIf="(deviceService.isDesktop$ | async) && spaceForm.value.space !== defaultSpace.value">
              <span i18n>View space</span>
              <wen-icon-angle-right></wen-icon-angle-right>
          </a>
        </div>

        <label class="mt-3 text-base font-medium text-app-gray-text"
          nz-checkbox formControlName="includeAlliances"
          [nzDisabled]="spaceForm.value.space === defaultSpace.value" i18n>
            Include alliances {{ (deviceService.isDesktop$ | async) && spaceForm.value.space === defaultSpace.value ? '(Select some space)' : '' }}
        </label>
      </form>

      <div class="w-full h-px mt-8 bg-bg-background"></div>

      <div class="flex flex-col justify-between mt-6 lg:flex-row lg:items-center">
        <div class="flex items-center">
          <wen-member-tile [title]="'Awards Completed'" [value]="getAwardsCompleted(data.member$ | async)">
          </wen-member-tile>
          <wen-member-tile class="ml-20" [title]="'Total Reputation'" [value]="getReputation(data.member$ | async)">
          </wen-member-tile>
        </div>

        <div *ngIf="deviceService.isMobile$ | async" class="w-full h-px mt-8 bg-bg-background"></div>

        <div class="w-full mt-6 lg:w-max lg:mt-0">
          <div class="flex items-center justify-between text-xs font-medium text-app-gray-400">
            <span i18n>Earned badges</span>
            <a class="flex items-center ml-6 text-xs font-semibold cursor-pointer text-blue-light1 whitespace-nowrap"
              [routerLink]="getBadgeRoute()">
                <span i18n>More</span>
                <wen-icon-angle-right></wen-icon-angle-right>
            </a>
          </div>
          <div class="flex items-center mt-2">
            <wen-badge-tile
              class="mr-2"
              *ngFor="let badge of data.badges$ | async | slice:0:7; trackBy: trackByUid"
              [metadata]="badge.payload.image"
              [name]="badge.payload.name"
              [size]="48">
            </wen-badge-tile>
          </div>
        </div>
      </div>
    </nz-card>

    <nz-card i18n-nzTitle nzTitle="Alliances" *ngIf="spaceForm.value.includeAlliances">
      <wen-member-alliances-table
        [alliances]="data.getAlliances(spaceForm.value.space, spaceForm.value.includeAlliances)"
        tableClasses="max-h-56">
      </wen-member-alliances-table>
    </nz-card>

    <nz-card nzTitle="Reputation">
      <apx-chart #chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [colors]="chartOptions.colors!"
        [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [markers]="chartOptions.markers!"
        [stroke]="chartOptions.stroke!" [xaxis]="chartOptions.xaxis!" [tooltip]="chartOptions.tooltip!"></apx-chart>

    </nz-card>

    <nz-card nzTitle="Timeline">
      <nz-timeline>
        <nz-timeline-item *ngFor="let t of data.badges$ | async; trackBy: trackByUid">
          Earned Badge {{t.payload.name}} with {{t.payload.xp}}XP on {{t.createdOn?.toDate() | date:"short"}}
        </nz-timeline-item>
      </nz-timeline>
    </nz-card>
  </div>
</div>
