<div class="space-y-12">
  <div class="space-y-4">
    <nz-card>
      <form class="" [formGroup]="spaceForm">
        <div class="flex items-center justify-between">
          <wen-select-space
            [ngStyle]="{
              width: (deviceService.isDesktop$ | async) && spaceForm.value.space !== defaultSpace.value ?
                'calc(100% - 150px)' : '100%'
            }"
            formControlName="space"
            [spaces]="helper.getSpaceListOptions(cache.cacheObjectToArray(cache.allSpacesLoaded$, cache.spaces) | async)"
            size="large">
          </wen-select-space>

          <a nz-button nzType="link" nzSize="small" #viewSpaceButton
            class="flex items-center ml-6"
            [routerLink]="getSpaceRoute(spaceForm.value.space)"
            *ngIf="(deviceService.isDesktop$ | async) && spaceForm.value.space !== defaultSpace.value">
              <span i18n>View space</span>
              <wen-icon-angle-right></wen-icon-angle-right>
          </a>
        </div>

        <label class="mt-3 text-base font-medium text-foregrounds-primary dark:text-foregrounds-primary-dark"
          nz-checkbox formControlName="includeAlliances"
          [nzDisabled]="spaceForm.value.space === defaultSpace.value">
          <span i18n>Include connections </span>
          <ng-container *ngIf="(deviceService.isDesktop$ | async) && spaceForm.value.space === defaultSpace.value" i18n>(Select some space)</ng-container>
        </label>
      </form>

      <div class="w-full h-px mt-8 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark"></div>

      <div class="flex flex-col justify-between mt-6 lg:flex-row lg:items-center">
        <div class="flex items-center">
          <wen-member-tile i18n-title title="Awards Completed" [value]="getTotal(data.member$ | async, 'awardsCompleted')">
          </wen-member-tile>
          <wen-member-tile class="ml-20" i18n-title title="Total Reputation" [value]="getTotal(data.member$ | async, 'totalReputation')">
          </wen-member-tile>
        </div>

        <div *ngIf="deviceService.isMobile$ | async" class="w-full h-px mt-8 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark"></div>

        <div class="w-full mt-6 lg:w-max lg:mt-0">
          <div class="flex items-center justify-between text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
            <span><span i18n>Earned badges</span> {{(data.badges$ | async)?.length}}</span>
            <a nz-button nzType="link" nzSize="small"
              class="flex items-center ml-6"
              [routerLink]="getBadgeRoute()">
                <span i18n>More</span>
                <wen-icon-angle-right></wen-icon-angle-right>
            </a>
          </div>
          <div class="flex items-center mt-2">
            <wen-badge-tile
              class="mr-2"
              *ngFor="let badge of (data.badges$ | async) | slice:0:4; trackBy: trackByUid"
              [metadata]="badge.payload.image"
              [name]="badge.payload.name"
              [size]="48">
            </wen-badge-tile>
          </div>
        </div>
      </div>
    </nz-card>

    <nz-card i18n-nzTitle nzTitle="Connections" *ngIf="spaceForm.value.includeAlliances">
      <wen-member-alliances-table tableClasses="max-h-56" [member]="data.member$ | async" [selectedSpace]="spaceForm.value.space"></wen-member-alliances-table>
    </nz-card>

    <nz-card i18n-nzTitle nzTitle="Reputation">
      <div style="display: block;">
        <canvas baseChart width="400" height="180"
                    [data]="lineChartData"
                    [options]="lineChartOptions"
                    [type]="lineChartType"></canvas>
      </div>
    </nz-card>
    
    <wen-timeline [items]="getTimelineItems(data.badges$ | async)" [isCollapsable]="false"></wen-timeline>
  </div>
</div>
