.wen-radio-group {
  display: grid;
  input {
    width: 100px;
    margin-left: 10px;
  }
}

.time-option {
@apply text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark cursor-pointer;
  &__selected {
  @apply text-accent-primary dark:text-accent-primary-dark;
  }
}

.sale-type-option {
@apply text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark cursor-pointer;
  &__selected {
  @apply text-accent-primary dark:text-accent-primary-dark;
  }
}


.sale-type-select-open ::ng-deep .ant-select-selector {
  background-color: #f5f5f5 !important;
}