<wen-content [showBackButton]="(deviceService.isDesktop$ | async) || false">
    <h1 class="mt-7" *ngIf="!editMode" i18>Create new collection</h1>
    <h1 class="mt-7" *ngIf="editMode" i18>Edit collection</h1>
  
    <form nz-form nzLayout="vertical" [formGroup]="collectionForm">
        <div class="py-4" nz-row [nzGutter]="24">
            <div
                class="space-y-4"
                nz-col
                nzFlex="auto"
                [ngStyle]="{
                    'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
                }"
            >
                <nz-card [nzBordered]="false" nzTitle="Collection Info">
                    <div class="space-y-4">
                        <nz-form-item>
                            <nz-form-control>
                                <input
                                nz-input
                                placeholder="Name"
                                nzSize="large"
                                [formControl]="nameControl"
                                />
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <textarea
                                nz-input
                                placeholder="Collection description"
                                nzSize="large"
                                rows="4"
                                [formControl]="descriptionControl"
                                ></textarea>
                            </nz-form-control>
                        </nz-form-item>
                        <nz-form-item>
                            <nz-form-control>
                                <textarea
                                nz-input
                                placeholder="Royalties - Percentage fee"
                                nzSize="large"
                                [formControl]="royaltiesFeeControl"
                                ></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-card>
        
                <nz-card [nzBordered]="false" nzTitle="Links">
                    <div class="space-y-4">
                        <nz-form-item>
                            <nz-form-control i18n-nzErrorTip nzErrorTip="Invalid URL.">
                                <nz-input-group nzSize="large" [nzPrefix]="prefixURL">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="URL"
                                        [formControl]="urlControl"
                                    />
                                    <ng-template #prefixURL>
                                        <wen-icon-link></wen-icon-link>
                                    </ng-template>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-control i18n-nzErrorTip nzErrorTip="Invalid Twitter username.">
                                <nz-input-group nzSize="large" [nzPrefix]="prefixTwitter">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="Link to your Twitter account"
                                        [formControl]="twitterControl"
                                    />
                                    <ng-template #prefixTwitter>
                                        <wen-icon-twitter></wen-icon-twitter>
                                    </ng-template>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
            
                        <nz-form-item>
                            <nz-form-control i18n-nzErrorTip nzErrorTip="Invalid Discord username.">
                                <nz-input-group nzSize="large" [nzPrefix]="prefixDiscord">
                                    <input
                                        type="text"
                                        nz-input
                                        placeholder="Link to your Discord account"
                                        [formControl]="discordControl"
                                    />
                                    <ng-template #prefixDiscord>
                                        <wen-icon-discord></wen-icon-discord>
                                    </ng-template>
                                </nz-input-group>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-card>
            </div>

            <div class="mt-4 space-y-4 lg:mt-0" nz-col [nzFlex]="(deviceService.isDesktop$ | async) ? '450px' : 'auto'">
                <nz-card [nzBordered]="false">
                    <nz-card-meta
                        nzTitle="Banner"
                        [nzDescription]="editMode ? 'Upload new to replace existing.' : 'Set a display name. This does not change your username.'"
                    >
                    </nz-card-meta>
            
                    <div class="mt-6">
                        <nz-form-item>
                            <nz-form-control>
                                <nz-upload
                                class="wen-banner"
                                nzName="banner"
                                nzType="drag"
                                nzListType="picture-card"
                                [nzDirectory]="false"
                                [nzLimit]="1"
                                [nzCustomRequest]="uploadFile.bind(this)"
                                (nzChange)="uploadChange($event)"
                                nzFileType="image/png,image/jpeg"
                                [nzPreviewFile]="previewFile"
                                [nzShowUploadList]="true"
                                [nzShowUploadList]="{ showPreviewIcon: false, showRemoveIcon: true, showDownloadIcon: false }"
                                >
                                    <ng-container>
                                        <i class="upload-icon" nz-icon nzType="upload"></i> <span class="pl-2 text-xs">jpeg/png</span>
                                    </ng-container>
                                </nz-upload>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </nz-card>

                <nz-card [nzBordered]="false" nzTitle="Category">
                    <nz-form-item>
                        <nz-form-control i18n-nzErrorTip nzErrorTip="Space is required.">
                            <nz-select
                                class="w-full"
                                nzSize="large"
                                nzShowSearch
                                nzAllowClear
                                nzPlaceHolder="Title"
                                [formControl]="categoryControl"
                                >
                                <nz-option
                                    *ngFor="let ct of collectionTypes"
                                    [nzLabel]="ct.key"
                                    [nzValue]="ct.value"
                                >
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </nz-card>

                <nz-card [nzBordered]="false">
                    <nz-card-meta
                        nzTitle="Member discounts"
                        nzDescription="Space support an ability to airdrop NFTs to their members for free or at discount."
                    >
                    </nz-card-meta>
                </nz-card>
            </div>
        </div>
    </form>

    <button
        nz-button
        nzType="primary"
        class="w-full mt-8 lg:w-auto mb-18 lg:mb-6 lg:mt-0"
        nzSize="large"
        type="button"
        (click)="create()"
        *ngIf="!editMode"
        i18n
    >
        Create collection
    </button>

    <button
        nz-button
        nzType="primary"
        class="w-full mt-8 lg:w-auto mb-18 lg:mb-6 lg:mt-0"
        nzSize="large"
        type="button"
        (click)="save()"
        *ngIf="editMode"
        i18n
    >
        Save collection
    </button>
</wen-content>
  