<nz-layout class="bg-white" *ngIf="!isMobile">
  <nz-sider nzWidth="auto" [nzTheme]="isDarkTheme ? 'dark' : 'light' " *ngIf="showSideBar$ | async">
    <wen-sider></wen-sider>
  </nz-sider>

  <nz-layout [ngClass]="(showSideBar$ | async) ? 'rounded-l-large' : ''">
    <wen-header></wen-header>

    <div class="container flex-1">
      <ng-content></ng-content>
    </div>

    <wen-footer></wen-footer>
  </nz-layout>
</nz-layout>

<p *ngIf="isMobile" i18n>
  SOON we will like your mobile. For now, please use desktop or tablet.
</p>
