<nz-layout class="bg-white">
  <nz-sider style="min-height: 60rem;" nzWidth="auto" [nzTheme]="isDarkTheme ? 'dark' : 'light' " *ngIf="showSideBar$ | async">
    <wen-sider></wen-sider>
  </nz-sider>

  <nz-layout [ngClass]="(showSideBar$ | async) ? 'rounded-l-large' : ''">
    <wen-header></wen-header>

    <div class="relative bg-white h-28 w-full lg:hidden"
      [ngClass]="{
        'hidden': this.routerService.isHomeRoute,
        'h-28': !this.routerService.isNewRoute,
        'h-20': this.routerService.isNewRoute
      }">
      <div class="absolute bottom-0 bg-tag-default h-10 w-full rounded-t-40"
        [ngClass]="{
          'h-4 rounded-t-none z-50': this.routerService.isNewRoute
        }"></div>
    </div>
    <div class="flex-1 ">
      <ng-content></ng-content>
    </div>

    <wen-footer></wen-footer>
  </nz-layout>
</nz-layout>