<nz-layout class="bg-white" *ngIf="!isMobile">
  <nz-sider nzWidth="auto" [nzTheme]="isDarkTheme ? 'dark' : 'light' " *ngIf="showSideBar$ | async">
    <wen-sider></wen-sider>
  </nz-sider>

  <nz-layout [ngClass]="(showSideBar$ | async) ? 'rounded-l-large' : ''">
    <wen-header></wen-header>

    <div class="container flex-1">
      <ng-content></ng-content>
    </div>

    <wen-footer></wen-footer>
  </nz-layout>
</nz-layout>

<article class="flex flex-col justify-center w-full h-screen -mt-4 text-center bg-white" *ngIf="isMobile" i18n>
  <div class="w-full overflow-hidden h-96">
    <img alt="" src="/assets/mocks/not_found.jpg" class="object-cover w-full h-full" />
  </div>

  <div class="relative flex flex-col justify-center w-full p-6 text-center h-36">
    <h3 class="mb-1 text-2xl"> Your resolution is not yet supported. Coming SOON.
    </h3>
  </div>
</article>
