<!-- <button nz-button nzSize="small"
    class="absolute top-0 h-10 px-6 mx-10 font-semibold text-blue-600 bg-white border-white left-14 mt-11 hover:text-blue-600 hover:border-blue-600 focus:border-blue-600 rounded-3xl"
    [routerLink]="urlToMembers"><i nz-icon nzType="left"></i>Back to Discover</button> -->

<div nz-row>

  <div class="py-12 pr-6" nz-col nzFlex="auto">
    <h1 i18n>Profile</h1>

    <nav nz-menu nzMode="horizontal" class="inline-flex items-center h-10 border-b-0 rounded-3xl">
      <a *ngFor="let section of sections" nz-menu-item
        class="inline-flex items-center h-full font-semibold leading-10 text-current rounded-3xl" i18n
        [routerLink]="section.route" nzMatchRouter>
        {{ section.label }}
      </a>
    </nav>

    <div class="w-full py-12">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="space-y-4 bg-white h-screen -mr-5 rounded-l-3xl pt-32 text-center" nz-col nzFlex="400px">

    <nz-avatar [nzSize]="124" nzIcon="user"></nz-avatar>
    <div class="flex justify-center items-baseline">
      <h2>@ {{ memberId }}</h2>
      <a nz-button nzSize="default" nzShape="circle" nzType="primary" (click)="open()"
        class="ml-4 bg-blue-600 border-blue-600 text-current rounded-3xl text-center">
        <i nz-icon class=" text-white" nzType="edit"></i>
      </a>
      <nz-drawer [nzVisible]="visible" nzPlacement="right" nzTitle="Settings" (nzOnClose)="close()" [nzWidth]="500"
        [nzClosable]="true">
        <ng-container *nzDrawerContent>

          <!-- TODO MOVE TO SETTINGS CONTAINER -->
          <form nz-form nzLayout="vertical">
            <nz-form-item>
              <nz-form-label>Display Name</nz-form-label>
              <span nz-typography>Set a display name. This does not change your username.</span>
              <nz-form-control>
                <nz-input-group [nzPrefix]="prefixName">
                  <input nz-input placeholder="Display name (optional)" />
                  <ng-template #prefixName>@</ng-template>
                </nz-input-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>About</nz-form-label>
              <span nz-typography>A brief description of yourself shown on your profile.</span>
              <nz-form-control>
                <textarea nz-input placeholder="Your description (optional)" rows="4"></textarea>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Avatar</nz-form-label>
              <span nz-typography>Customise your Soonaverse identity.</span>
              <nz-form-control>
                <nz-upload class="avatar-uploader" nzName="avatar" nzListType="picture-card" [nzShowUploadList]="false">
                  <ng-container>
                    <i class="upload-icon" nz-icon nzType="upload"></i>
                  </ng-container>
                </nz-upload>
              </nz-form-control>
            </nz-form-item>


            <div class="space-y-4">
              <nz-form-label>Networking</nz-form-label>
              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixGithub">
                    <input type="text" nz-input placeholder="Link to your Github account" />
                    <ng-template #prefixGithub>
                      <i nz-icon nzType="github"></i>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixTwitter">
                    <input type="text" nz-input placeholder="Link to your Twitter account" />
                    <ng-template #prefixTwitter>
                      <i nz-icon nzType="twitter"></i>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>

              <nz-form-item>
                <nz-form-control>
                  <nz-input-group [nzPrefix]="prefixLinkedin">
                    <input type="text" nz-input placeholder="Link to your LinkedIn account" />
                    <ng-template #prefixLinkedin>
                      <i nz-icon nzType="linkedin"></i>
                    </ng-template>
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </form>

        </ng-container>
      </nz-drawer>
    </div>
    <p nz-typography nzType="secondary">
      Senior Sales Manager @Wealth Management
    </p>

    <div class="space-x-4">
      <i nz-icon nzType="github" nzTheme="outline"></i>
      <i nz-icon nzType="twitter" nzTheme="outline"></i>
      <i nz-icon nzType="linkedin" nzTheme="outline"></i>
    </div>

    <div class="space-x-4 flex justify-center">
      <nz-card class="statistic-card" nzSize="small">
        <nz-statistic [nzValue]="12" [nzTitle]="'Total Reputation'" [nzSuffix]="'M'"></nz-statistic>
      </nz-card>
      <nz-card class=" statistic-card" nzSize="small">
        <nz-statistic [nzValue]="12" [nzTitle]="'Total Yield'" [nzSuffix]="'M'"></nz-statistic>
      </nz-card>
      <nz-card class=" statistic-card" nzSize="small">
        <nz-statistic [nzValue]="12" [nzTitle]="'Awards Completed'" [nzSuffix]="''"></nz-statistic>
      </nz-card>
    </div>

    <h3>Earned Badges</h3>
    <div class="space-x-4 flex justify-center">
      <nz-card class="statistic-card flex justify-center items-center" nzSize="small">
        <nz-avatar [nzSize]="64" nzText="B" style="color:#f56a00; background-color:#fde3cf;"></nz-avatar>
      </nz-card>
    </div>
  </div>

</div>