<nz-drawer nzPlacement="right" nzTitle="Settings" [nzVisible]="true" [nzWidth]="500" (nzOnClose)="close()" [nzClosable]="true">
  <ng-container *nzDrawerContent>
    <form nz-form nzLayout="vertical" [formGroup]="memberForm">
      <nz-form-item>
        <nz-form-label>Display Name</nz-form-label>
        <span nz-typography>Set a display name. This does not change your username.</span>
        <nz-form-control>
          <nz-input-group [nzPrefix]="prefixName">
            <input nz-input placeholder="Display name (optional)" [formControl]="nameControl"/>
            <ng-template #prefixName>@</ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>About</nz-form-label>
        <span nz-typography>A brief description of yourself shown on your profile.</span>
        <nz-form-control>
          <textarea nz-input placeholder="Your description (optional)" rows="4" [formControl]="aboutControl"></textarea>
        </nz-form-control>
      </nz-form-item>

      <div class="space-y-4">
        <nz-form-label>Networking</nz-form-label>
        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixGithub">
              <input type="text" nz-input placeholder="Link to your Github account" [formControl]="githubControl"/>
              <ng-template #prefixGithub>
                <i nz-icon nzType="github"></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixTwitter">
              <input type="text" nz-input placeholder="Link to your Twitter account" [formControl]="twitterControl"/>
              <ng-template #prefixTwitter>
                <i nz-icon nzType="twitter"></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLinkedin">
              <input type="text" nz-input placeholder="Link to your LinkedIn account" [formControl]="linkedinControl"/>
              <ng-template #prefixLinkedin>
                <i nz-icon nzType="linkedin"></i>
              </ng-template>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
      </div>

      <button nz-button nzType="primary" nzBlock nzSize="small" type="button" (click)="save()"
      class="h-10 px-6 m-2 font-semibold text-white bg-blue-600 border-blue-600 hover:bg-blue-700 hover:border-blue-700 focus:bg-blue-700 focus:border-blue-700 rounded-3xl">
      Save</button>

    </form>
  </ng-container>
</nz-drawer>
