<nz-card>
    <div class="ml-2 text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">{{ title }}</div>

    <nz-table class="block mt-2" [nzData]="[{}]" [nzShowPagination]="false" nzSize="small">
        <tbody>
          <tr *ngFor="let collection of collections; let i = index" class="relative cursor-pointer" [routerLink]="['/collection', collection?.uid]">
              <td class="border-0">
                <div class="flex items-center">
                    <nz-avatar [nzSrc]="previewImageService.getCollectionSize(collection?.bannerUrl)"
                      class="rounded-md min-w-6"
                      nzShape="circle"
                      [nzSize]="24">
                    </nz-avatar>
                    <div class="ml-2 text-sm font-bold">{{ collection?.name }}</div>
                    <div *ngIf="deviceService.isDesktop$ | async"
                        class="ml-2 text-sm font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
                        <ng-container i18n>by</ng-container> {{ (spaces$[i] | async)?.name }}</div>
                </div>
              </td>
              <td class="border-0">
                <div class="text-sm font-medium text-right">
                    {{ unitsService.format((cheapestNfts$[i] | async)?.price, collection?.mintingData?.network) }}
                </div>
              </td>
              <td class="border-0 right">
                <div *ngIf="type === collectionHighlightCardTypes.HIGHLIGHT" class="font-medium text-sm text-right" [ngClass]="
                    ((collection?.total || 0) - (collection?.sold || 0)) > 10 ? 'green-label' : 'orange-label'">
                        {{ (collection?.total || 0) - (collection?.sold || 0) }} <ng-container i18n>Remaining</ng-container>
                </div>

                <div *ngIf="type === collectionHighlightCardTypes.RECENTLY" class="font-medium text-sm text-right" [ngClass]="
                    lessThan1Day(collection?.availableFrom) ? 'green-label' : 'orange-label'">
                    <ng-container i18n>Starts</ng-container> {{ (collection?.availableFrom || null) | relativeTime}}
                </div>
              </td>
          </tr>
        </tbody>
    </nz-table>
</nz-card>
