<wen-modal-drawer
    i18n-title
    title="Purchase token"
    [isOpen]="isOpen"
    [content]="content"
    (wenOnClose)="close()">
</wen-modal-drawer>

<ng-template #content>
    <div class="mt-8 lg:mt-6 flex items-center">
        <nz-avatar [nzSrc]="previewImageService.getAvatarSize('space_avatar_url')"
          class="border-2 border-tags-border dark:border-tags-borde-dark min-w-12"
          nzShape="circle"
          [nzSize]="48">
        </nz-avatar>
        <div class="font-bold text-lg ml-4">{{ 'SoonLabs Token' }}</div>
        <div class="font-medium ml-2">{{ '(SOON)' }}</div>
    </div>

    <div [ngSwitch]="currentStep" class="w-full mt-6">
        <ng-container *ngSwitchCase="stepType.CONFIRM">
            <ng-container *ngTemplateOutlet="confirmTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.TRANSACTION">
            <ng-container *ngTemplateOutlet="transactionTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.WAIT">
            <ng-container *ngTemplateOutlet="waitTemplate"></ng-container>
        </ng-container>

        <ng-container *ngSwitchCase="stepType.COMPLETE">
            <ng-container *ngTemplateOutlet="completeTemplate"></ng-container>
        </ng-container>
    </div>
</ng-template>


<ng-template #confirmTemplate>
    <wen-description [items]="[
        { title: 'Sale ends in', titleIcon: timeIcon, value: '2 h' },
        { title: 'Token price', titleIcon: coinIcon, value: '1 Mi' }
    ]"></wen-description>
    <ng-template #timeIcon>
        <wen-icon-time [size]="20"></wen-icon-time>
    </ng-template>
    <ng-template #coinIcon>
        <wen-icon-coin [size]="20"></wen-icon-coin>
    </ng-template>

    <label class="w-full mt-2" nz-checkbox [nzValue]="agreeTermsConditions" (nzCheckedChange)="agreeTermsConditions = $event">
        <div class="text-base font-medium">
            <span class="text-foregrounds-primary dark:text-foregrounds-primary-dark mr-0.5" i18n>By checking this box, you agree with</span>
            <br *ngIf="deviceService.isMobile$ | async" />
            <a href="https://docs.google.com/document/d/1ng67fXTdINhmgkLpnbS_SkiDlZSsDAqrd13cbwXQCcQ" target="_new" class="inline underline text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark"
                (click)="$event.stopPropagation()" i18n>Terms and Conditions</a>
        </div>
    </label>

    <div class="w-full flex flex-col items-center">
        <button nz-button nzType="primary" nzSize="large" class="w-full mt-10 lg:w-auto"
            [disabled]="!agreeTermsConditions" i18n (click)="null">
                Confirm and generate adress
        </button>
    
        <div class="w-3/5 text-center mt-6 text-sm font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
            Once you agree with the terms, the  generated address will remain active during the whole sale.
        </div>
    </div>
</ng-template>

<ng-template #transactionTemplate>
    <wen-description [items]="[
        { title: 'Cooldown period ends in', titleIcon: timeIcon, value: '2 h' }
    ]"></wen-description>
    <ng-template #timeIcon>
        <wen-icon-time [size]="20"></wen-icon-time>
    </ng-template>

    <div class="flex items-center justify-between font-medium space-x-4">
        <div class="relative rounded-3xl border border-inputs-border dark:border-inputs-border-dark flex-1 px-6 py-2 h-14">
            <div class="text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>(SOON) Amount</div>
            <input class="w-full outline-0 p-0"
                    [formControl]="amountControl"
                    type="number"
                    nz-input
                    nzSize="small"
                    [nzBorderless]="true">
        </div>
        
        <div class="rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark flex-1 h-14 px-6 py-2">
            <div class="text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>Price in Miota</div>
            <div class="mt-1">{{amountControl.value}}</div>
        </div>
    </div>

    <div class="w-full px-4 py-3 mt-10 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-2xl" *ngIf="true">
        <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
          <span i18n>Send</span> {{ 100 }} <span i18n>IOTA to following address:</span>
        </div>

        <div class="flex flex-wrap items-center justify-between mt-2 break-all">
            <div class="text-base font-medium break-words">
                {{ targetAddress }}
            </div>

            <button nz-button nzBlock nzType="primary" nzSize="small" class="w-16 mt-4 lg:mt-0" (click)="copyAddress()">
                <ng-container *ngIf="isCopied; else isNotCopied" i18n>Copied</ng-container>
                <ng-template #isNotCopied i18n>Copy</ng-template>
            </button>
        </div>
    </div>

    <div class="mt-10 text-sm font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark w-full" i18n>
        Do not send funds from an exchange, always use wallets you fully control.
    </div>

    <wen-wallet-deeplink
        *ngIf="true"
        class="mt-6"
        [targetAddress]="targetAddress"
        [targetAmount]="((targetAmount || 0) / 1000 / 1000)?.toString()">
    </wen-wallet-deeplink>
</ng-template>

<ng-template #waitTemplate>
    <wen-description [items]="[
        { title: 'Cooldown period ends in', titleIcon: timeIcon, value: '2 h' }
    ]"></wen-description>
    <ng-template #timeIcon>
        <wen-icon-time [size]="20"></wen-icon-time>
    </ng-template>

    <div class="flex items-center justify-between font-medium space-x-4 mt-6">
        <div class="rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark flex-1 h-14 px-6 py-2">
            <div class="text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>Amount (SOON)</div>
            <div class="mt-1">{{ 300 }}</div>
        </div>
        
        <div class="rounded-3xl bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark flex-1 h-14 px-6 py-2">
            <div class="text-xs text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>Price in Miota</div>
            <div class="mt-1">{{ 300 }}</div>
        </div>
    </div>

    <div class="w-full px-4 py-3 mt-10 bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark rounded-2xl" *ngIf="true">
        <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark">
          <span i18n>Send</span> {{ 100 }} <span i18n>IOTA to following address:</span>
        </div>

        <div class="flex flex-wrap items-center justify-between mt-2 break-all">
            <div class="text-base font-medium break-words">
                {{ targetAddress }}
            </div>

            <button nz-button nzBlock nzType="primary" nzSize="small" class="w-16 mt-4 lg:mt-0" (click)="copyAddress()">
                <ng-container *ngIf="isCopied; else isNotCopied" i18n>Copied</ng-container>
                <ng-template #isNotCopied i18n>Copy</ng-template>
            </button>
        </div>
    </div>

    <div class="mt-10 text-sm font-medium text-center text-foregrounds-secondary dark:text-foregrounds-secondary-dark w-full" i18n>
        Do not send funds from an exchange, always use wallets you fully control.
    </div>
    
    <wen-wallet-deeplink
        *ngIf="true"
        class="mt-6"
        [targetAddress]="targetAddress"
        [targetAmount]="((targetAmount || 0) / 1000 / 1000)?.toString()">
    </wen-wallet-deeplink>

    <div class="mt-12 w-full my-8 border border-inputs-border dark:border-inputs-border-dark rounded-2xl">
        <div class="px-5 pt-3 pb-2 text-sm font-bold border-b" i18n>
            Transaction history
        </div>

        <div class="h-32 px-5 pt-4 pb-2 mr-2 overflow-y-scroll">
            <!-- <div *ngFor="let t of history; let first=first"
                class="relative flex items-center my-1">
                    <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{t.date | Time}}</div>
                    <a class="absolute text-sm font-medium underline left-16 text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" target="_blank" *ngIf="t.link" [href]="getExplorerLink(t.link)"
                    >{{ t.label }}</a>
                    <div class="absolute text-sm font-medium left-16" *ngIf="!t.link">{{ t.label }}</div>
            </div> -->
        </div>
    </div>
</ng-template>

<ng-template #completeTemplate>
    <wen-description [items]="[
        { title: 'Cooldown period ends in', titleIcon: timeIcon, value: '2 h' }
    ]"></wen-description>
    <ng-template #timeIcon>
        <wen-icon-time [size]="20"></wen-icon-time>
    </ng-template>

    <div class="flex items-center justify-between w-full space-x-4 mt-6">
        <div class="flex-1 flex flex-col items-center py-3 border border-foregrounds-separator dark:border-foregrounds-separator-dark rounded-2xl">
            <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>Tokens to purchase</div>
            <div class="text-lg font-bold mt-2" i18n>300</div>
        </div>
        <div class="flex-1 flex flex-col items-center py-3 border border-foregrounds-separator dark:border-foregrounds-separator-dark rounded-2xl">
            <div class="text-xs font-medium text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>Price in Mi</div>
            <div class="text-lg font-bold mt-2" i18n>300</div>
        </div>
    </div>

    <div class="mt-10 w-full my-8 border border-inputs-border dark:border-inputs-border-dark rounded-2xl">
        <div class="px-5 pt-3 pb-2 text-sm font-bold border-b" i18n>
            Transaction history
        </div>

        <div class="h-32 px-5 pt-4 pb-2 mr-2 overflow-y-scroll">
            <!-- <div *ngFor="let t of history; let first=first"
                class="relative flex items-center my-1">
                    <div class="mr-2 text-sm font-medium text-foregrounds-secondary">{{t.date | Time}}</div>
                    <a class="absolute text-sm font-medium underline left-16 text-buttons-primary-enabled dark:text-buttons-primary-enabled-dark" target="_blank" *ngIf="t.link" [href]="getExplorerLink(t.link)"
                    >{{ t.label }}</a>
                    <div class="absolute text-sm font-medium left-16" *ngIf="!t.link">{{ t.label }}</div>
            </div> -->
        </div>
    </div>

    <div class="flex lg:items-center mt-10 lg:justify-center">
        <div class="flex items-center justify-center w-10 h-10 rounded-full bg-alerts-success dark:bg-alerts-success-dark">
            <wen-icon-check class="text-foregrounds-on-primary dark:text-foregrounds-on-primary-dark"></wen-icon-check>
        </div>
        <div class="ml-3.5 text-lg font-medium" i18n>Transaction complete. Congratulations.</div>
    </div>

    <div class="flex items-center flex-col lg:flex-row w-full mt-10 lg:w-auto lg:justify-center">
        <button nz-button nzType="primary"
            nzSize="large" class="w-full lg:w-auto lg:mr-2" i18n (click)="close()">
            Close checkout
        </button>

        <button nz-button nzType="default" (click)="null"
            nzSize="large" class="w-full lg:w-auto mb-6 lg:mb-0 lg:mt-1" i18n (click)="null">
            Show my Tokens
        </button>
    </div>
</ng-template>
