<wen-content [showBackButton]="(deviceService.isDesktop$ | async) || (deviceService.isMobile$ | async) === true">
  <ng-container *ngIf="deviceService.isMobile$ | async">
    <wen-drawer-toggle
      label="Proposal info"
      (click)="isProposaslInfoVisible = true">
    </wen-drawer-toggle>
  </ng-container>

  <div class="relative py-12" nz-row [nzGutter]="40">
    <div nz-col nzFlex="auto"
      [ngStyle]="{
        'max-width': (deviceService.isDesktop$ | async) ? 'calc(100% - 450px)' : '100%'
      }">
      <div class="mb-8 space-x-3">
        <a [routerLink]="['/space', (data.space$ | async)?.uid]">
          <nz-avatar [nzSrc]="getAvatarSize((data.space$ | async)?.avatarUrl)" class="mr-3 bg-white border-2 border-gray-400"
            nzShape="circle">
          </nz-avatar>
          <span>{{((data.space$ | async)?.name || (data.space$ | async)?.uid) }}</span>
        </a>

        <nz-tag class="wen-status-tag bg-tag-blue border-tag-blue">Proposal</nz-tag>
        <wen-proposal-status [proposal]="data.proposal$ | async"></wen-proposal-status>
      </div>

      <h1 i18n class="mb-6">{{(data.proposal$ | async)?.name}}</h1>

      <div class="flex items-center space-x-10">
        <div class="flex items-center">
          <i nz-icon nzType="calendar" class="pr-2 text-lg text-app-gray-400" nzTheme="outline"></i>
          <span>{{(data.proposal$ | async)?.createdOn?.toDate() | date:'short'}}</span>
        </div>
        <div [routerLink]="['member', (data.creator$ | async)?.uid]">
          <nz-avatar nzIcon="user" [nzSrc]="(data.creator$ | async)?.currentProfileImage | ipfsAvatar:filesizes.small" class="mr-2">
          </nz-avatar>
          <span class="cursor-pointer" [routerLink]="['/', 'member', (data.creator$ | async)?.uid]">@{{((data.creator$ | async)?.name ||
            (data.creator$ | async)?.uid) | truncate:[16]}}</span>
        </div>
      </div>

      <wen-tabs class="block mt-12" [tabs]="sections"></wen-tabs>
      <div class="w-full py-12">
        <router-outlet></router-outlet>
      </div>
    </div>

    <div class="mt-4 space-y-4 lg:mt-0" nz-col [nzFlex]="(deviceService.isDesktop$ | async) ? '450px' : 'auto'" style="max-width: 450px;">
      <nz-card nzTitle="Cast your vote"
        *ngIf="(data.proposal$ | async)?.approved && data.isNativeVote((data.proposal$ | async)?.type)">
        <a nz-button (click)="fireflyNotSupported()" nzType="primary" nzBlock nzSize="large" i18n>
          Open Firefly to Vote</a>
        <h4 nz-typography class="pt-4" i18n>
          Voting instructions
        </h4>
        <p i18n>You will select your options and execute the vote within Firefly.</p>
      </nz-card>

      <nz-card
        *ngIf="!(data.proposal$ | async)?.rejected && !data.isComplete(data.proposal$ | async) && (data.proposal$ | async)?.approved"
        [nzTitle]="'Current Results'">
        <div class="-mt-3" *ngFor="let q of (data.proposal$ | async)?.questions">
          <p class="text-lg">{{q.text}}</p>

          <ng-container *ngFor="let a of q.answers">
            <p nz-typography class="text-xs">{{a.text}} / {{formatBest((data.proposal$ | async), a.value)}}</p>
            <nz-progress [nzPercent]="data.getProgress(data.proposal$ | async, a) | number : '1.2-2'" nzStatus="active">
            </nz-progress>
          </ng-container>
        </div>
      </nz-card>

      <nz-card i18n-nzTitle nzTitle="Casted Votes"
        *ngIf="(data.proposal$ | async)?.approved && data.isMemberVote((data.proposal$ | async)?.type) && !data.isPending(data.proposal$ | async)">
        <nz-table #basicTable [nzData]="(data.transactions$ | async) || []" [nzShowPagination]="false">
          <thead>
            <tr>
              <th i18n>Voter</th>
              <th i18n>Date</th>
              <th i18n>Option</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let t of data.transactions$ | async">
              <td class="cursor-pointer" [routerLink]="['/', 'member', t.member]"> @{{ (t.memberRec.name || t.member )| truncate:[16] }}</td>
              <td>{{ t.createdOn?.toDate() | date:"short" }}</td>
              <td>{{ findAnswerText((data.proposal$ | async)?.questions, t.payload.values) }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>

      <nz-card nzTitle="Approve Proposal"
        *ngIf="!(data.proposal$ | async)?.approved && (isGuardianWithinSpace$ | async) && !(data.proposal$ | async)?.rejected">
        <div class="mb-8 space-y-4">
          <button nz-button nzType="primary" nzBlock nzSize="large" (click)="approve()">
            Approve</button>
          <button nz-button nzDanger nzType="primary" nzBlock nzSize="large" (click)="reject()">
            Decline</button>
        </div>
      </nz-card>

      <wen-proposal-info
        class="block mt-4"
        *ngIf="deviceService.isDesktop$ | async"
        (onExportClick)="exportNativeEvent()">
      </wen-proposal-info>

      <nz-card nzTitle="Selected Badges" *ngIf="(data.badges$ | async)?.length">
        <div class="flex flex-wrap gap-2">
          <article *ngFor="let a of (data.badges$ | async); trackBy: trackByUid" nz-tooltip
            [nzTooltipTitle]="a.badge.name"
            class="flex flex-col items-center justify-center p-3 w-28 h-28 bg-bg-background rounded-2xl">
            <wen-badge-tile [metadata]="a.badge.image" [name]="a.badge.name"></wen-badge-tile>
          </article>
        </div>
      </nz-card>
    </div>
  </div>

  <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto', padding: '8px' }"
      [nzWidth]="'100vw'"
      [nzClosable]="false"
      [nzVisible]="isProposaslInfoVisible"
    >
    <div *nzDrawerContent class="relative h-full">
      <button class="absolute z-10 top-4 right-5" (click)="isProposaslInfoVisible = false">
        <wen-icon-close></wen-icon-close>
      </button>

      <wen-proposal-info
        (onExportClick)="exportNativeEvent()">
      </wen-proposal-info>
    </div>
  </nz-drawer>
</wen-content>
