<wen-content *ngIf="true">
  <h1 i18n class="mt-0 lg:mt-12">My Overview</h1>
  <div class="space-y-14">

    <div *ngIf="!isEmpty(pendingSpaces$ | async) && !isLoading(pendingSpaces$ | async)">
      <h3 i18n>Pending Membership Requests</h3>
      <div class="mb-10 wen-cards-wrapper">
        <wen-space-card class="w-full h-full outline-none" *ngFor="let space of pendingSpaces$ | async; trackBy: trackByUid"
          [space]="space"></wen-space-card>
      </div>
    </div>

    <div>
      <h3 i18n>Your spaces</h3>
      <div class="mb-10 wen-cards-wrapper">

        <nz-skeleton *ngIf="isLoading(spaces$ | async)" class="p-4 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark pt-28 rounded-2xl w-76 h-76" [nzActive]="true"
          [nzAvatar]="{ size: 'default' }" [nzParagraph]="{ rows: 3, width: 100 }"></nz-skeleton>

        <nz-card class="w-full" *ngIf="isEmpty((spaces$ | async))">
          <div class="flex flex-col justify-center text-center h-36">
            <span class="mb-3 leading-7 text-foregrounds-secondary dark:text-foregrounds-secondary-dark" i18n>
              No Spaces yet
            </span>
            <button nz-button nzType="primary" class="self-center w-48" [routerLink]="['/discover', 'spaces']" i18n>Discover
              Spaces</button>
          </div>
        </nz-card>

        <wen-space-card class="w-full h-full outline-none" *ngFor="let space of spaces$ | async; trackBy: trackByUid" [space]="space">
        </wen-space-card>
      </div>
    </div>

    <div *ngIf="!isEmpty(awards$ | async) && !isLoading(awards$ | async)">
      <h3 i18n>Active awards
        <!-- <a nz-button nzType="link" [routerLink]="['/discover', 'awards']">Show All
          <span nz-icon nzType="right" nzTheme="outline"></i>
        </a> -->
      </h3>
      <div class="mb-10 wen-cards-wrapper">
        <wen-award-card class="w-full h-full outline-none" *ngFor="let award of awards$ | async; trackBy: trackByUid" [award]="award">
        </wen-award-card>
      </div>
    </div>

    <div *ngIf="!isEmpty((proposals$ | async)) && !isLoading(awards$ | async)">
      <h3 i18n>Active proposals
        <!-- <a nz-button nzType="link" [routerLink]="['/discover', 'proposals']">Show All
          <span nz-icon nzType="right" nzTheme="outline"></i>
        </a> -->
      </h3>
      <div class="mb-10 wen-cards-wrapper">
        <wen-proposal-card class="w-full h-full outline-none" *ngFor="let proposal of proposals$ | async; trackBy: trackByUid"
          [proposal]="proposal">
        </wen-proposal-card>
      </div>
    </div>

  </div>
</wen-content>

<wen-content *ngIf="false">
  <h1 i18n class="flex items-end mt-0 lg:mt-12">Swap
    <h5 class="mx-2 my-0">by</h5>
    <div>
      <img [src]="(themeService.theme$ | async) === theme.Light ? '/assets/logos/bee_dark.svg' : '/assets/logos/bee_light.svg'" alt="BEE logo">
    </div>
  </h1>
    <div class="mt-4 lg:mt-6 lg:px-10">
      <div class="flex flex-col lg:flex-row lg:w-auto">
        <div class="flex flex-col-reverse w-full h-auto lg:flex-col lg:w-1/2 grow">
          <article class="flex flex-col m-3 lg:m-6 h-1/2 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark lg:flex-row rounded-large">
            <div class="relative w-full p-6 space-y-6 lg:h-full lg:p-10">
              <h3 class="mb-4 text-4xl text-center" i18n>What is Swap?</h3>
              <p class="text-lg font-medium">
                Iotabee's semi-centralized crosschain Swap is coming to Soonaverse. You will SOON be able to swap assets between different chains including IOTA, Shimmer, Shimmer EVM and BSC.
              </p>
            </div>
          </article>

          <article class="m-3 h-1/2 lg:m-6">
            <div class="w-full h-64 mr-8 overflow-hidden rounded-large image-container lg:h-full">
              <img
                alt=""
                src="/assets/mocks/not_found.jpg"
                class="object-cover w-full h-full"
              />
              <div class="overlay color"></div>
              <div class="overlay">
                <h1 class="text-center text-foregrounds-on-primary">Coming SOON</h1>
                <a
                nz-button
                type="button"
                i18n
                target="_blank"
                href="https://iotabee.com/swap"
              >
                  Visit iotabee
                <p class="hidden ml-1 lg:block">
                 to swap
                </p>
              </a>
              </div>
            </div>
          </article>
        </div>

        <article class="flex flex-col-reverse m-3 lg:w-1/2 lg:m-6 bg-backgrounds-tertiary dark:bg-backgrounds-tertiary-dark rounded-large">
          <div class="relative h-full px-5 py-16 space-y-12 lg:p-10 lg:space-y-6">
            <h3 class="mb-1 text-2xl" i18n>
              ...and what is iotabee?
            </h3>
            <p class="text-base font-medium lg:mb-0 lg:text-lg" i18n>
              Iotabee is a combination of a decentralized peer-to-peer DEX protocol and a semi-centralized crosschain SWAP that people can use to create liquidity and trade tokens on IOTA, Shimmer, Shimmer EVM and other EVM chains like BSC.
            </p>

            <p class="flex flex-col items-center justify-between text-base font-medium lg:flex-row">
              To understand iotabee continue to
            <a
              nz-button
              type="button"
              i18n
              target="_blank"
              href="https://iotabee.com/"
            >
              iotabee.com
          </a>
        </p>
          </div>
          <div class="h-64 overflow-hidden lg:h-full rounded-large">
            <img
              alt=""
              [src]="(themeService.theme$ | async) === theme.Light ? '/assets/mocks/treasure_banner.jpg' : '/assets/mocks/treasure_banner_dark.jpg'"
              class="object-cover w-full h-full"
            />
          </div>
        </article>
      </div>
    </div>
</wen-content>
