<nz-modal
    [(nzVisible)]="isOpen"
    [nzClosable]="false"
    [nzMaskClosable]="true"
    [nzMask]="true"
    (nzOnCancel)="onCancel()"
    [nzContent]="modalContent"
    [nzFooter]="null"
    [nzBodyStyle]="{ padding: '0px' }"
    [nzWidth]="width || 520"
  >
    <ng-template #modalContent>
        <div class="flex items-center px-5 py-5">
            <nz-avatar class="border-2 border-foregrounds-tertiary dark:border-foregrounds-tertiary-dark bg-backgrounds-secondary dark:bg-backgrounds-secondary-dark min-w-10"
                style="max-width: 48px; min-width: 48px;" [nzSize]="48"
                [nzSrc]="member?.currentProfileImage | ipfsAvatar:filesizes.small"></nz-avatar>
            <div class="mb-0 ml-3 text-lg font-bold truncate">{{ member?.name ? '@' + member?.name : member?.uid }} <span i18n>reputation</span></div>
        </div>

        <wen-member-alliances-table [member]="member" [selectedSpace]="selectedSpace">
        </wen-member-alliances-table>
    </ng-template>
</nz-modal>
