<div *ngFor="let network of networks | keyvalue">
    <ng-container *ngIf="!environment.production || !testNetworks.includes(network.value)">
        <div class="flex items-center justify-between" *ngIf="!address(network.value)">
            <div class="flex items-center">
                <wen-icon-wallet class="mr-3 text-foregrounds-secondary dark:text-foregrounds-secondary-dark"></wen-icon-wallet>
                <span class="text-xs font-medium text-alerts-error">{{ network.key }} <ng-container i18n>address is not verified</ng-container></span>
                <div class="flex items-center justify-center w-4 h-4 ml-2 rounded-full bg-alerts-error">
                    <wen-icon-close class="text-white" [size]="12"></wen-icon-close>
                </div>
            </div>
            <button nz-button nzType="primary" nzSize="small" (click)="verifyAddressOpen = network.value" *ngIf="enableVerification" i18n>Verify</button>
        </div>
        
        <div *ngIf="address(network.value)">
            <div class="flex items-center">
                <wen-icon-wallet class="mr-3 text-foregrounds-primary dark:text-foregrounds-primary-dark"></wen-icon-wallet>
                <div class="text-xs font-medium text-foregrounds-primary dark:text-foregrounds-primary-dark truncate">{{ address(network.value) }}</div>
            </div>
            <div class="flex items-center justify-end mt-4">
                <div class="wen-btn-underline text-xs mr-5" (click)="verifyAddressOpen = network.value">Change address</div>
                
                <button nz-button nzType="primary" nzSize="small" (click)="copyAddress(network.value)">
                    <ng-container *ngIf="isCopied[network.value]; else isNotCopied" i18n>Copied</ng-container>
                    <ng-template #isNotCopied i18n>Copy</ng-template>
                </button>
            </div>
        </div>
    </ng-container>
</div>

<nz-modal *ngIf="deviceService.isDesktop$ | async"
    [nzVisible]="!!verifyAddressOpen"
    nzCentered
    [nzClosable]="false"
    [nzMaskClosable]="true"
    [nzMask]="true"
    (nzOnCancel)="verifyAddressOpen = null"
    [nzContent]="verifyAddressModalContent"
    [nzFooter]="null"
    [nzWidth]="modalWidth"
    [nzBodyStyle]="{ padding: '28px 24px 24px 24px' }"
>
    <ng-template #verifyAddressModalContent>
        <div class="flex items-start justify-between">
            <div class="text-2xl font-bold"><span i18n>Verify your</span> {{ networkName(verifyAddressOpen) }} <span i18n>address</span></div>
            <wen-icon-close class="cursor-pointer" (click)="verifyAddressOpen = null"></wen-icon-close>
        </div>

        <wen-verify-address [network]="verifyAddressOpen"  [entity]="entity" [entityType]="entityType" (wenOnClose)="close()"></wen-verify-address>
    </ng-template>
</nz-modal>

<nz-drawer *ngIf="deviceService.isMobile$ | async"
    [nzBodyStyle]="{ overflow: 'auto', padding: '20px' }"
    [nzWidth]="'100vw'" #drawer
    [nzClosable]="false"
    [nzVisible]="!!verifyAddressOpen">
    <div *nzDrawerContent class="relative h-full">
        <div class="pb-4 text-3xl font-bold max-w-2/3"><span i18n>Verify your </span>{{ networkName(verifyAddressOpen) }} <span i18n>address</span></div>
        <button class="absolute z-10 top-4 right-5" (click)="verifyAddressOpen = null">
            <wen-icon-close></wen-icon-close>
        </button>

        <wen-verify-address [network]="verifyAddressOpen"  [entity]="entity" [entityType]="entityType" (wenOnClose)="close()"></wen-verify-address>
    </div>
</nz-drawer>
