<div class="flex items-center" *ngIf="deviceService.isDesktop$ | async">
    <a nz-button nzType="default" nzBlock nzSize="default" target="_new" [href]="getShareUrl()"
        class="flex items-center justify-center grow w-full text-black mr-4 w-1/2" style="padding-top: 0.5rem !important">
            <wen-icon-twitter></wen-icon-twitter>
            <div class="ml-2.5 text-xs font-medium" i18n>Share</div>
    </a>
    <button nz-button nzType="default" nzBlock nzSize="default" (click)="copy()"
        class="flex items-center justify-center grow w-full text-black w-1/2">
            <wen-icon-copy></wen-icon-copy>
            <div class="ml-2.5 text-xs font-medium">
                <ng-container *ngIf="isCopied; else isNotCopied" i18n>Copied</ng-container>
                <ng-template #isNotCopied i18n>Copy to clipboard</ng-template>
            </div>
    </button>
</div>

<div class="flex items-center" *ngIf="deviceService.isMobile$ | async">
    <div class="mr-4 text-xs font-medium text-foregrounds-secondary" i18n>Share</div>
    <!-- Used style because ant-design overwrites tailwind's padding -->
    <a nz-button nzType="default" nzBlock nzSize="default" target="_new" [href]="getShareUrl()"
        class="flex items-center justify-center px-4 py-3 mr-3 text-black w-max" style="padding-top: 0.75rem !important">
            <wen-icon-twitter></wen-icon-twitter>
    </a>
    <button nz-button nzType="default" nzBlock nzSize="default" (click)="copy()"
        class="flex items-center justify-center px-4 py-3 text-black w-max">
            <wen-icon-link></wen-icon-link>
    </button>
</div>