<div class="space-y-12">
  <div class="space-y-4">
    <!-- TODO Loading. -->
    <div *ngIf="data.isLoading(data.members$ | async)">Loading...</div>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.members$  | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Participants
        </span>
      </div>
    </nz-card>

    <wen-member-card class="block cursor-pointer" [fullWidth]="true"
      *ngFor="let member of data.members$ | async; trackBy: trackByUid" [member]="member">
      <p class="font-bold">Weight: {{member.weight}}</p>
      <p *ngIf="member.voted" class="font-bold">VOTED</p>
    </wen-member-card>
  </div>
</div>
