
<wen-description [items]="[
  { title: tokenInfoLabels[0], valueTemplate: tokenAvatar },
  { title: tokenInfoLabels[1], value: token?.name },
  { title: tokenInfoLabels[2], value: token?.symbol },
  { title: tokenInfoLabels[3], value: '1 ' + token?.symbol + ' = ' + token?.pricePerToken + ' Mi' },
  { title: tokenInfoLabels[4], value: 'Shimmer coming', titleTemplate: networkTooltipIcon },
  { title: tokenInfoLabels[5], value:  (formatTokenBest(token?.totalSupply) | number : '1.0-2') + ' ' + token?.symbol },
  { title: tokenInfoLabels[6], value:  'Export CSV', action: downloadCurrentDistribution.bind(this), type: descriptionItemTypes.LINK },
  { title: tokenInfoLabels[7], value: 'Fixed' }
]"></wen-description>
<ng-template #tokenAvatar>
    <nz-avatar [nzSrc]="previewImageService.getAvatarSize(token?.icon)"
        class="border-2 border-tags-border dark:border-tags-border-dark min-w-8"
        nzShape="circle"
        [nzSize]="32">
    </nz-avatar>
</ng-template>
<ng-template #networkTooltipIcon>
    <wen-icon-question-circle class="cursor-help" [size]="20"
        nz-tooltip i18n-nzTooltipTitle nzTooltipTitle="Guardian's of the space will be able to decide where this token will be minted."></wen-icon-question-circle>
</ng-template>