<div class="space-y-12">
  <div class="space-y-4">
    <!-- TODO Loading. -->
    <div *ngIf="data.isLoading(data.participants$ | async)">Loading...</div>

    <nz-card class="w-full" *ngIf="data.isEmpty(data.participants$  | async)">
      <div class="flex flex-col justify-center text-center h-36">
        <span class="leading-7 text-app-gray-400">
          No Participants
        </span>
      </div>
    </nz-card>

    <wen-member-card class="block cursor-pointer" [fullWidth]="true"
      *ngFor="let member of data.participants$ | async; trackBy: trackByUid"
      [about]="member.comment || ''"
      [member]="member">
      <ng-container *ngIf="(data.isGuardianWithinSpace$ | async) && !data.isCompleted(data.award$ | async)">
        <button nz-button nzSize="small" type="button" (click)="approve(member.uid)" *ngIf="!member.completed">
          Approve
        </button>
        <button nz-button nzSize="small"  type="button" (click)="approve(member.uid)" *ngIf="member.completed">
          Give another
        </button>
      </ng-container>
    </wen-member-card>
  </div>
</div>
