<div class="space-y-12">
  <div class="space-y-4">
    <wen-member-card class="block cursor-pointer" [fullWidth]="true"
      *ngFor="let member of data.participants$ | async; trackBy: trackByUid"
      [about]="member.comment || ''"
      [member]="member">
      <ng-container *ngIf="(data.isGuardianWithinSpace$ | async) && !data.isCompleted(data.award$ | async)">
        <!-- TODOUI buttons. -->
        <button type="button" (click)="approve(member.uid)" *ngIf="!member.completed">
          Approve
        </button>
        <button type="button" (click)="approve(member.uid)" *ngIf="member.completed">
          Give another
        </button>
      </ng-container>
    </wen-member-card>
  </div>
</div>
